[2020-07-13 17:17] OmerKahani opened #12 "Calling repo service"
For the git generator #7 it makes sense to use the repo service from argocd.

But how do we want to use it?
1. call it direct, use argocd config map to get the ssh key of the repo
2. call it indirect, call argocd repo command

we would probably need to call argocd to do the initial sync

@alexmt @xianlubird

[2020-07-13 17:21] OmerKahani commented on #12
@alexmt

[2020-07-14 04:00] xianlubird commented on #12
Maybe. the first way `call it indirect, call argocd repo command` is better,  We can reduce supplement

[2020-07-15 21:01] alexmt commented on #12
I'm afraid repo server is missing some APIs required for git generators. I guess we will APIs to list files and retrieve file content. We can these APIs in repo-server but not in `argocd repo` command, so I would suggest to call repo server directly.  This also solves authentication problem since repo server does not require authentication.

I've used this approach in argocd-notifications and it w

[2020-07-16 01:49] xianlubird commented on #12
Agree with @alexmt

[2020-07-16 16:30] OmerKahani commented on #12
@alexec does this mean that the application set controller is using the argocd config map?

[2020-08-06 05:30] omerlh opened #13 ""projectset" proposal"
Similar to applicationset, have the ability to generate projects based on directory structure

[2020-08-13 11:10] soumentrivedi opened #15 "No Kind ApplicationSet registered for argoproj.io/v1alpha1"
Hello,
I am trying to evaluate ApplicationSet in my k8s cluster and get the following error when we deploy the applicationset

`error: no kind "ApplicationSet" is registered for version "argoproj.io/v1alpha1" in scheme "k8s.io/kubectl/pkg/scheme/scheme.go:28"`

applicationset.yaml that I am using is
`apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: guestbook
spec:
  generato

[2020-08-13 13:02] dgoodwin commented on #15
Did you run kubectl apply -f manifests/crds/ to create the custom resource definitions?

[2020-08-14 13:47] soumentrivedi commented on #15
yes the CRD is present already

[2020-08-18 08:52] martin-ducar-gd opened #17 "License for project unspecified"
Hello to do a contribution companies normally require the project License to be filled I can see argo uses normally Apache 2.0 I would assume this one will use it also? If so can this please be filled?

[2020-08-31 15:52] rdpa opened #22 "Kustomize install fails with kubectl"
Install fails when using kustomize version 2.X that is bundled with kubectl.

Kustomization.yaml:
[code]

Command:
[code]

Changing `resources` to `bases` in namespace-install and cluster-install will fix this.

[2020-08-31 16:02] mgoodness commented on #22
I strongly recommend _not_ relying on the outdated version of kustomize that ships with kubectl. Instead, install the latest stand-alone version of kustomize and pipe results into kubectl, e.g. `kustomize build . | kubectl apply -f -`.

[2020-09-01 16:34] mgoodness opened #23 "Application labels are not templated by cluster generator"
Per the [`clusters.yaml` example](https://github.com/argoproj-labs/applicationset/blob/master/examples/clusters.yaml), we should be able to reuse labels from the cluster secret in the application template. This does not currently work.

[2020-09-02 06:03] OmerKahani opened #27 "Implement Template Override"
Implement this example https://github.com/argoproj-labs/applicationset/blob/master/examples/template-override.yaml

[2020-09-02 06:04] OmerKahani opened #28 "Implement Git File Literal Example"
Implement this example https://github.com/argoproj-labs/applicationset/blob/master/examples/git-files-literal.yaml

This might require changes in the repo service

[2020-09-02 06:07] OmerKahani opened #29 "Implement Git Files Discovery"
Implement this example https://github.com/argoproj-labs/applicationset/blob/master/examples/git-files-discovery.yaml

Relate to #28

Might requires changes to the repo service

[2020-09-02 06:08] OmerKahani opened #30 "Implement Filters"
Implement this example: https://github.com/argoproj-labs/applicationset/blob/master/examples/filters.yaml

[2020-09-02 15:01] OmerKahani opened #31 "Add support to metadata.annotations in the template"
From the Proposal https://docs.google.com/document/d/1juWGr20FQaJmuuTIS8mBFmWWDU422M_FQMuhp5c1jt4/edit#

[2020-09-02 15:05] OmerKahani opened #32 "Add SyncPolicy InitalSync"
From the Proposal https://docs.google.com/document/d/1juWGr20FQaJmuuTIS8mBFmWWDU422M_FQMuhp5c1jt4/edit#

[2020-09-02 15:06] OmerKahani opened #33 "Add SyncPolicy Prune"
From the Proposal https://docs.google.com/document/d/1juWGr20FQaJmuuTIS8mBFmWWDU422M_FQMuhp5c1jt4/edit#

[2020-09-02 15:10] mgoodness commented on #31
I'll take this on.

[2020-09-02 15:56] rtnpro commented on #29
I want to work on this. However, there's some clarifications I need on this spec before proceeding.

Should we implement the file path filter regex as specified [here](https://github.com/argoproj-labs/applicationset/blob/master/examples/git-files-discovery.yaml#L44): `**/config.json`? Contrary to the `GitDirectory` generator implementation, the `directory` path filter regex, e.g., `addons/*` is a

[2020-09-02 16:04] rtnpro opened #34 "Support "any", "one" filters"
I see that `Only` or `Any` functions are supported in the https://github.com/antonmedv/expr library. We have a use case for using `Only` and `Any` in ApplicationSet `generator` filters.

We have multiple Kubernetes clusters per environment. Sometimes, we'd like to run our workloads, e.g., Cronjobs, only on one of the available clusters in the environment. An `any`, `one` filter will be super helpf

[2020-09-02 16:18] mgoodness opened #35 "Cluster generator cannot select local cluster"
The cluster generator currently requires a Kubernetes Secret to exist for each cluster. Argo CD doesn't use a Kubernetes Secret to identify the local cluster the way it does "external" clusters, so it can't be selected.

The easy workaround is to manually create a K8s Secret with the required `argocd.argoproj.io/secret-type=cluster` annotation and populate it with:

[code]

That Secret can then be

[2020-09-03 15:19] OmerKahani commented on #29
I used path.Match in https://github.com/argoproj-labs/applicationset/pull/7

[2020-09-03 18:50] dgoodwin opened #36 "Fix resource name length issues with generated applications."
At present it is extremely easy to hit resource name length issues with generated applications. We will need to come up with a strategy to effectively truncate and randomize them if they exceed the 253 chars kube resources are limited to.

Additionally we need to watch out for labelling as these are even more restricted, both key and value limited to 63. (assuming we use labels to map applications

[2020-09-03 18:52] dgoodwin commented on #36
A proposal for discussion:

Assume we start with base name of {appsetname}-{generatoritemname}.

All generators would be required to provide some kind of a name for each matching Application. For clusters we could use the cluster name. For git discovery probably the matching folder name. For git files we require a name property in each list row. And similar for the ApplicationSet inline list items

[2020-09-04 15:05] dgoodwin commented on #36
I discovered the cluster generator was using the Secret name for the "name" templating, which can be quite long. (i.e. cluster-api.mycluster.mydomain.openshift.com-3927666468). I've opened #41 to fix this to use the name Argo has instead and that will help avoid this problem.

However it still is going to be quite possible to hit depending on the kubeconfig context name and template name.

[2020-09-04 15:30] mgoodness commented on #36
My environment is exactly the opposite, with most Secret names being considerably shorter than the contexts. I know there's other work being done around cluster naming, though, so this strikes me as a reasonable change.

[2020-09-04 15:58] mgoodness commented on #36
Agree that we need to address the application name & label length issue, but I'd like to do it in such away that end-users (like me) can still provide their own templates for naming:

[code]

Note that I'd love to do something like `'{{appset.name}}-{{metadata.labels.org}}-{{metadata.labels.env}}-{{metadata.labels.region}}-{{metadata.labels.cluster}}'`, but in this case had to truncate `-internal-

[2020-09-08 18:37] #12 closed

[2020-09-09 16:43] rtnpro commented on #29
I have a few more queries.

- Are Git directory generator and Git file generator mutually exclusive? (Seems so to me from the examples)
- What are the allowed patterns/variations for `path` in git file generator? `**/config.json` will force to look for cluster configs in the entire repo. On the other hand, `cluster-configs/**/config.json` would be able limit search for configs to specific paths. W

[2020-09-11 10:20] OmerKahani commented on #29
I think we can start with them been mutually exclusive.

About the paths, both examples are good, and we should probably support both. I don't think we can map all the patterns in advance, we should structure the code so adding a new pattern is easy and can be tested with a unit test.
I will recommend starting with one or two patterns, get the PR merged, and then start to think about other pattern

[2020-09-14 01:36] #23 closed

[2020-09-14 15:08] mgoodness commented on #35
This is exactly what I'm doing pending a better solution:

[code]

[2020-09-17 23:07] mattparkes opened #49 "Panic whenever the controller tries to handle an ApplicationSet"
I've done a basic install as per the README with `kustomize` and then when I `kubectl apply` the example `applicationset.yaml` this is what I get:

[code]

[2020-09-21 07:05] alxbse commented on #49
Had the same issue myself, this was fixed in #47

[2020-09-25 12:18] jbaskeen opened #52 "Reconciler error - ApplicationSet is empty"
I am running the ArgoCD v1.6.1+159674e via the Operator in OpenShift 4.5.4. When using one of the ApplicationSet examples I get the following error in the argocd-applicationset-controller and the Applications are not created.

I have REDACTED some server name info from the log and the configs.

Log

[code]

Example used:

A REDACTED server name has the form `https://api.my.server.has.a.big.hostnam

[2020-09-25 14:34] OmerKahani commented on #52
Hi @jbaskeen, I think the error is from the git generator. Can you try to use the current master? I think it was solved in #51

[2020-09-25 14:54] #49 closed

[2020-09-25 14:55] dgoodwin commented on #52
Closing per above comment, please reopen if issue is still occuring.

[2020-09-25 14:55] #52 closed

[2020-09-25 14:56] dgoodwin commented on #36
Can't decide if there's anything we need to fix here, the name is in control of your applicationset, and what params you want to use. Should we leave it to users to manage the length limit? Or do we need to provide some protection from the easy to hit scenario where the name comes out too long?

[2020-09-25 14:58] dgoodwin commented on #33
SyncPolicy.Prune makes sense to me.

Does SyncPolicy.InitialSync have any relation to ApplicationSets? In ArgoCD you get those Applications in the UI that you can manually sync, but that's not really a thing here with ApplicationSet. We'd just log what we generated and you'd get no result, which doesn't seem overly useful.

Feels like we just want prune here?

[2020-09-25 14:59] dgoodwin commented on #32
Does SyncPolicy.InitialSync have any relation to ApplicationSets? In ArgoCD you get those Applications in the UI that you can manually sync, but that's not really a thing here with ApplicationSet. We'd just log what we generated and you'd get no result, which doesn't seem overly useful.

[2020-09-25 15:00] dgoodwin commented on #15
Can you retest this with latest master, and the documented deploy steps in the README.

[2020-09-25 15:16] dgoodwin commented on #33
I will start working on this today.

[2020-09-25 16:30] OmerKahani commented on #32
creation alone doesn't really do anything (no pods...), so I can see how initial sync makes sense. But maybe we should wait to see how https://github.com/argoproj/argo-cd/issues/1283 is resolved before implementing this

[2020-09-25 16:48] jbaskeen commented on #52
After pulling the latest of master, rebuild/redeploying the image, and re-applying `applicationset-crd` I am getting the following...

[code]

Looking around myself to see if there is something about roles relating to finalizer access

[2020-09-25 17:02] OmerKahani commented on #52
Hi, this might help: https://github.com/argoproj/argo/issues/922

[2020-09-25 17:13] jbaskeen commented on #52
Commented on #53 confirming that the edit for `applicationset/finalizer` access resolved the problem here

[2020-09-25 17:39] dgoodwin commented on #32
@OmerKahani can you clarify for me, what would SyncPolicy.InitialSync do on ApplicationSet?

Application.Spec.SyncPolicy can be used by embedding it within your ApplicationSet.Spec.Template.

But what would an ApplicationSet.Spec.SyncPolicy.InitialSync do? We don't have the concept of manual syncs for an ApplicationSet to it's Applications.

[2020-09-26 09:59] OmerKahani commented on #32
Adding an application be iteslf doesn't give any bussins value. In case we added a cluster and a cluster secret, our cluster genretor will create the applications for the cluster, but then we still need to go into argocd and click sync on every application.

InistialSync complate the bussins value cycle, so by adding a cluster secret you will both the applications and the real K8s objects.

[2020-09-27 03:32] #17 closed

[2020-09-28 11:43] dgoodwin commented on #32
This can be accomplished by using ApllicationSet.Spec.Template.SyncPolicy.InitialSync though, we embed an Application template which supports initial sync, and that is handled for us automatically.

This is why I don't think we need a separate field for ApplicationSet.Spec.SyncPolicy.InitialSync, I think including this in the design document may have been a copy-paste mistake.

(note "Template" is

[2020-09-28 11:44] dgoodwin commented on #32
cc @jessesuen to check if the design doc intentionally included a separate InitialSync param on ApplicationSet vs just using the one we get for free on ApplicationSet.Spec.Template.

[2020-09-28 23:04] mgoodness commented on #36
My inclination is to let users manage the length, but log if the rendered name exceeds 63 characters and is therefore unusable.

[2020-09-29 11:27] dgoodwin commented on #36
I'm on board with just reporting the problem. Logs are good but some users may miss that when they're not getting the apps they expect, we could also however add a condition in ApplicationSet Status showing the issues encountered in reconciling which should help put it in-front of them where they would be likely to find it.

[2020-09-29 13:31] mgoodness commented on #36
Oh yeah, I like that!

[2020-09-29 13:40] mgoodness opened #57 "Support JSON-format logs"
Argo CD uses flag `--logformat=json|text` with `text` as default.

[2020-10-19 18:12] alexec opened #59 "NamespaceSet(?)"
I've got a use case, I'm not sure this is the right place to fix it, but it is in range.

I'd like to install a common set of resources into many namespaces in my cluster. Like a DaemonSet for namespaces rather than nodes.

Some thoughts:

* Where my manifests should come from. A vanilla config-map could create a security issue (too many people could edit it).
* Do I need any kind of resource, or

[2020-10-20 01:22] #59 closed

[2020-11-11 06:36] #31 closed

[2020-11-20 19:22] maruina opened #61 "Proposal: ApplicationSet Progressive Rollout"
Hi all,
I'm opening this issue because I'd like to discuss with the community a possible solution for what I think it's a common issue while doing GitOps.

Consider the following scenario, where you have multiple production clusters across multiple regions. When you use the ApplicationSet all the Application are updated at the same time and with the automated SyncPolicy you are basically doing a *

[2020-11-20 19:58] RichiCoder1 commented on #61
I'm pretty interested in this, and there was actually some discussion in the slack about this: https://argoproj.slack.com/archives/C014ZPM32LU/p1600274721058300

Sounded like the conclusion was a new CRD, but one that possible was a core part of ArgoCD: https://github.com/argoproj/argo-cd/issues/1283

[2020-11-21 09:52] maruina commented on #61
Thanks, I had a look at the slack conversation and at the `ApplicationSync` idea. I think it's a good one but I'm not sure how would that interact with the ApplicationSet.

I still think that a new controller makes sense, because it will allow you to iterate and move fast in the same way we're doing for the AppSet controller.

We also have quite different requirements in controlling the applicatio

[2020-11-22 09:44] OmerKahani commented on #61
@maruina currently ApplicationSet only handles the installation of the application CRD. The solution you are looking for is for the installation and the first sync stage? or for the day-to-day sync?

[2020-11-22 09:49] maruina commented on #61
Day to day sync. Every time the AppSet creates/updates the Application, something should take care of their synchronization.

[2020-11-25 23:58] #22 closed

[2020-11-30 15:01] jgwest opened #65 "Implement E2E test framework for testing ApplicationSets against live Kubernetes/Argo CD instance"
Similar to the Argo CD E2E tests that run against a live Kubernetes instance, ApplicationSets could benefit from test framework+tests run against live Argo CD and Kubernetes instance and verify expected behaviour.

The proposed test framework API is based on the same BDD-style used by Argo CD (and indeed much of the code is shared between the two).

The tests should run on each PR commit, via a Gi

[2020-12-03 09:59] #15 closed

[2020-12-03 09:59] soumentrivedi commented on #15
this is fixed in master branch so nothing else to do. i am able to use this now thanks!

[2020-12-07 21:28] jgwest opened #68 "ApplicationSet which generates Applications with matching names should report an error and return"
As of this writing, the `generateApplications` method does not check for applications with duplicate names, and thus multiple generated Applications may use the same name.

As discussed in the comments of the design proposal, this should be reported as an error:

### To reproduce:

Apply the following YAML, and observe that it reports `generated 3 applications`, even though only 1 Application reso

[2020-12-07 21:45] OmerKahani commented on #68
Why 0 and not 1? The first application to be created is perfectly fine

[2020-12-07 21:57] jgwest commented on #68
FWIW It's not a perfect example of the problem: I originally reproduced it when reviewing https://github.com/argoproj-labs/applicationset/pull/45, but I can't exactly include an unmerged PR in the reproduction steps of another issue :smile: .

As for why 0 and not 1 (or 3), here's the design doc paragraph on that:

[code]

[2020-12-07 22:20] OmerKahani commented on #68
OK, so when an appliactionset generates an application object then it should check for duplications and report an error

@jgwest do you want to raise a PR?

[2020-12-08 17:16] jopit commented on #68
I'm willing to take a swing at this, unless Jonathan is already working on it.

[2020-12-09 21:42] jgwest opened #70 "The --namespace controller param and NAMESPACE environment variable should override to produce one canonical value"
At present the `--namespace` controller parameter in `main.go`, and the `NAMESPACE` environment variable in `main.go` control different values:
- The `--namespace` param is passed to git generator
- The `NAMESPACE` is passed to `cache.MultiNamespacedCacheBuilder`

So:
- If both param and env are specified, one of them should override the other.
- That one value should then be used for both the git

[2020-12-09 23:14] jgwest opened #71 "ApplicationSet should report error conditions/status based on the result of generator/template resuls"
When the user-provided generator/template produce invalid Argo CD `Application`s, we should note that error in the ApplicationSet CRD status field. See Argo CD's `ApplicationStatus` [conditions field](https://github.com/argoproj/argo-cd/blob/1ef14dca839423fe3cd9fade82bd1b3ed80eb5bd/pkg/apis/application/v1alpha1/types.go#L491).

Likewise I'm sure there are other status fields/conditions that would

[2020-12-10 09:42] aelbarkani opened #72 "Timeline for GA (or beta at least) ?"
This component seems awesome. It solves clearly multi-cluster deployments challenges. Do you have a timeline to make it generally available (or at least beta) ?

[2020-12-17 00:24] jgwest opened #73 "Expose port 8081 in upstream ArgoCD test container, for ApplicationSet controller local development/testing purposes"
The ApplicationSet E2E tests (and also if you are running AppllicationSet controller outside k8s) require access to port 8081 in the Argo CD test server container. We should thus upstream this change to Argo CD `Makefile`:
https://github.com/argoproj-labs/applicationset/blob/e54fae54e494e1623f47be6c893b163da88d493f/docs/E2E-Tests.md#b-ensure-that-port-8081-is-exposed-in-the-argo-cd-test-server-con

[2020-12-17 00:30] jgwest opened #74 "Expand on existing developer docs: how to setup dev env and how to run ApplicationSet controller on local machine"
ApplicationSet has a short section on how to develop it, in the parent readme:
https://github.com/argoproj-labs/applicationset#development-instructions

We should expand on this:
- How to run ApplicationSet controller on your local machine from CLI (rather than run it as a container image on k8s, as the docs currently suggest)
- How to setup a local Argo CD dev environment (just need to point to r

[2020-12-17 00:32] jgwest opened #75 "Expand on existing developer docs: how to write/run unit/E2E tests"
Blocked on https://github.com/argoproj-labs/applicationset/pull/66, as of this writing.

ApplicationSet has a short section on how to develop it, in the parent readme:
https://github.com/argoproj-labs/applicationset#development-instructions

We should expand on this:
- Quick introduction to tests types (unit and E2E), and how to run them
- How to run E2E tests locally (can probably just [link to t

[2020-12-17 00:35] jgwest opened #76 "Synchronize go.(mod/sum) with latest Argo CD release"
The ApplicationSet `go.(mod/sum)` module metadata is currently targeting Argo CD v1.7.6. We should target v1.8.0 and sync the other shared dependency versions to be consistent with latest Argo CD `go.mod` versions, and then ensure it builds and the tests pass.

[2020-12-17 00:38] jgwest opened #77 "Move presently unimplemented examples out of examples/ root directory, update proposal links"
The `examples/` directory of this repo contains a number of examples that are currently not implemented in the code (and are thus examples of how a developer *should implement in a future release*, not how to use for current users). This may be confusing for new users (and was confusing to me when initially onboarding to ApplicationSet controller), so we should move them to a subdir of examples/ a

[2020-12-17 00:43] jgwest opened #78 "Add/update a GitHub action to verify that generated manifests/resources match what is in git"
Add a GitHub action (or add a check to an existing GH action's build steps, if this makes more sense) to verify that generated manifests/resources match what is in git.

Essentially, steps something like this:
[code]

This will catch any uncommitted changes to manifests that the user has made, and which require updated artifacts to be checked in for (CRDs, generated .go files).

For example, this

[2020-12-17 00:46] jgwest opened #79 "Implement additional List generator E2E tests"
The proposed E2E test framework allows us to test ApplicationSet features against a live Kubernetes cluster and a live Argo CD instance. This issue tracks adding additional tests that specifically target the list generator.

PR #66 already includes a basic test of this generator, but this basic test was not an attempt at an exhaustive test of the functionality.

[2020-12-17 00:50] jgwest opened #80 "Implement additional Cluster generator E2E tests"
The proposed E2E test framework allows us to test ApplicationSet features against a live Kubernetes cluster and a live Argo CD instance. This issue tracks adding additional tests that specifically target the cluster generator.

PR #66 already includes a basic test of this generator, but this basic test was not an attempt at an exhaustive test of the functionality.

Should include, at least:
- Addi

[2020-12-17 00:51] jgwest opened #81 "Implement additional Git Directory generator E2E tests"
As of this writing, blocked on waiting for merge of:  https://github.com/argoproj-labs/applicationset/pull/66

----

The E2E test framework allows us to test ApplicationSet features against a live Kubernetes cluster and a live Argo CD instance. This issue tracks adding additional tests that specifically target the git directory generator.

PR #66 already includes a basic test of this generator, bu

[2020-12-17 00:55] jgwest opened #82 "Investigate gaps in existing Application Set unit tests (via coverage stats), and open issues for them"
Look through the coverage report and look for (_significant_) areas of the code that are not thoroughly tested. For each identified issue (or set of related issues), open a new GitHub issue. Re: definition of 'significant', part of this issue is developing an understanding/model for what can currently be considered 'significant' :smile: .

If https://github.com/argoproj-labs/applicationset/pull/64

[2020-12-17 00:57] jgwest opened #83 "Add go test GitHub action to catch unit test regressions"
The Argo CD project uses GitHub actions that run `go test` (on non-E2E tests) for every PR commit. It would be great to include this here as well, to catch unit test regressions before they make it to `master`.

This should only run non-E2E tests, as E2E-tests are already covered in a separate GitHub Action in https://github.com/argoproj-labs/applicationset/pull/66

[2020-12-17 00:58] jgwest commented on #83
I'm currently handling this on PR https://github.com/argoproj-labs/applicationset/pull/64.

[2020-12-17 01:11] jgwest opened #84 "'User guide' docs: the whats/whys/hows of ApplicationSet controller"
Write new documentation content, similar to Argo CD's user guide, on how to use ApplicationSet controller.

#### To include in the docs:
The [design proposal](https://docs.google.com/document/d/1juWGr20FQaJmuuTIS8mBFmWWDU422M_FQMuhp5c1jt4/edit?usp=sharing) is well written, and that content could likely be used for new user-facing documentation of:
- What ApplicationSet is
  - still experimental, f

[2020-12-17 01:13] jgwest opened #85 "'User guide' docs: how to use ApplicationSet controller (examples of generators, template fields)"
Can either be addressed standalone, or as a follow up [to the parent issue](https://github.com/argoproj-labs/applicationset/issues/84)

Showcase examples of each of the generators, and an explanations of how those examples work.

#### To include in the docs:
The design proposal is well written, and the content could likely be used for documentation of:
- How to use the ApplicationSet controllers:

[2020-12-17 13:26] sbose78 commented on #72
Hi @aelbarkani , we are working on coming up with a plan on this actively at the Dev community meetings. I will add a note once we lock in on a milestone.

[2020-12-17 16:56] sbose78 opened #86 "Graduating ApplicationSets into ArgoCD"
Greetings @OmerKahani @dgoodwin, all contributors & users of argoproj-labs/applicationset .

Thank you for the amazing work on Application Sets. We love it! I'm Shoubhik, an ArgoCD ( and ApplicationSets) user and a member of the Argo steering committee.  I, as a member of the ArgoCD community would like to propose graduating this to https://github.com/argoproj and eventually ship it with ArgoCD.

[2020-12-17 17:02] dgoodwin commented on #86
I apologize I can't make it today, but I can start attending in the new year if that is helpful.

[2020-12-17 17:03] sbose78 commented on #86
No worries, thank you for the note. See you soon!

[2020-12-18 01:11] jgwest commented on #86
As discussed at today's meeting, Thursday December 17th:

### Project Logistics
- We'll begin the process to graduate ApplicationSet repository from `argoproj-labs/` to `argoproj/`, likely in the new year (will just be an 'Argo CD ecosystem' project, eg not a top-level Argo project)

### Focus on repository QoL improvements, automated testing (unit/E2E), and documentation
- I've opened a [set of n

[2020-12-18 02:09] #68 closed

[2020-12-19 14:01] maruina commented on #61
Hi all, I created a PoC for a progressive rollout controller using ApplicationSet. You can find it here https://github.com/maruina/argocd-progressive-rollout-controller

Any feedback is very much appreciated :)

[2021-01-05 05:17] jgwest opened #87 "Kustomize integration of Application Set controller and Argo CD"
### Goal:
Create a new kustomize configuration that generates a new `install.yaml`-style yaml, containing a combined install of ArgoCD+ApplicationSet controller.

This allows end users to quickly `kubectl apply` themselves an install that contains both.

### Steps:

- In `manifests`, create a new folder such as `namespace-install-with-argo-cd`, based on the content of `namespace-install`
- Update

[2021-01-06 12:26] jgwest opened #88 "Add 'lint-go' and 'go mod tidy' to GitHub actions"
Add `go lint`ing and `go mod tidy`ing to the ci-build GitHub action, based on what is already being done over in Argo CD https://github.com/argoproj/argo-cd/blob/master/.github/workflows/ci-build.yaml

As requested by @wtam2018 on https://github.com/argoproj-labs/applicationset/pull/64.

[2021-01-07 08:16] rajivml commented on #86
@sbose78 @jgwest since, app-of-apps will be eventually replaced with ApplicationSet, will ApplicationSet supports application ordering as well i.e. the order in which the applications can be deployed, today the same can be achieved using app-of-apps sync-wave ordering but I didn't find anything about deployment ordering under the ApplicationSet design doc

[2021-01-08 01:29] jgwest commented on #86
Hi @rajivml, the short answer is no, this is out of scope for AppliationSet functionality at this time, but another proposed solution is being tracked [in this Argo CD issue](https://github.com/argoproj/argo-cd/issues/1283).

#### Longer answer:
- Discussion of current thinking on how to allow the ability to sync multiple applications in a ordered manner: https://github.com/argoproj/argo-cd/issues

[2021-01-08 01:50] #29 closed

[2021-01-08 01:52] jgwest commented on #74
I've started work on this.

[2021-01-08 03:14] rajivml commented on #86
thanks @jgwest as long as there is an alternative it's fine to move over to ApplicationSet because for us, Application deployment ordering is a P1 requirement and that's we have onboarded to ArgoCD

[2021-01-08 13:05] OmerKahani commented on #86
Hi, can we have a project / milestone with all the issues from [the doc](https://docs.google.com/document/d/1VmFWr5aaELxsPeoZxZpqi08EY7QCHMFi5lbATyWTKMw/edit#bookmark=id.ccvx6j2u2wkk)?
It will make it easier to follow the status

[2021-01-08 13:15] OmerKahani commented on #83
I think this can be closed #64 is merged

[2021-01-08 15:08] jgwest commented on #83
@OmerKahani  :+1:

[2021-01-08 15:08] #83 closed

[2021-01-10 01:25] kvendingoldo commented on #76
I'm working on that in https://github.com/argoproj-labs/applicationset/pull/89

[2021-01-11 13:17] kvendingoldo commented on #76
@jgwest @dgoodwin @mgoodness @OmerKahani @wtam2018 @xianlubird please, review my change. I've tested it and it works fine

[2021-01-11 20:58] jgwest commented on #82
Working on this.

[2021-01-12 05:48] elocke commented on #72
Any updates? I'm itching to use this from some "release" point!

[2021-01-12 07:49] jgwest opened #92 "Intermittent test failure in 'TestGitGenerateParamsFromFiles/handles_error_during_getting_repo_file_contents'"
The new test `TestGitGenerateParamsFromFiles/handles_error_during_getting_repo_file_contents` is intermittently failing locally and in GitHub actions.

See, for example, https://github.com/argoproj-labs/applicationset/actions/runs/479210059

### To reproduce:
[code]

Using a script file which runs the command over and over until it fails, `until_fail.sh`:
[code]

### Log

[code]

[2021-01-12 22:08] jgwest commented on #76
Thanks @kvendingoldo, closing as done.

[2021-01-12 22:08] #76 closed

[2021-01-12 23:31] OmerKahani commented on #72
Hi, we now have a milestone https://github.com/argoproj-labs/applicationset/milestone/1

[2021-01-13 00:09] mgoodness commented on #92
I _think_ I have a fix for this in #91, specifically https://github.com/argoproj-labs/applicationset/pull/93/commits/788728225a8c510c3afc38bf9f1d140dee94c200

[2021-01-13 07:02] jgwest commented on #74
Closing as done.

[2021-01-13 07:02] #74 closed

[2021-01-13 07:06] jgwest opened #94 "Setup release build scripts/artifacts for ApplicationSet controller releases"
In order for us to perform an initial release of the ApplicationSet controller, we'll need build artifacts (scripts/makefile tweaks/etc) that do, at least:
- Performs pre-release check of git repository (see checks in sibling projects, below), container registry credentials
- Runs unit/E2E tests of current branch, exiting on failure
- Builds and pushes container image
- Regenerates the necessary K

[2021-01-13 07:55] jgwest commented on #86
I've created a [new milestone](https://github.com/argoproj-labs/applicationset/milestone/1) to track our progress towards Argo CD integration. Within the milestone I've added all the items discussed on this tracking issue, the google doc, and related meetings, plus a few issues that have cropped up since then. If you had an open PR that is in review, I have added it to the milestone as well.

Note

[2021-01-13 08:00] jgwest commented on #65
Closing as done :tada:

[2021-01-13 08:00] #65 closed

[2021-01-13 09:03] kvendingoldo commented on #88
PR https://github.com/argoproj-labs/applicationset/pull/95

[2021-01-13 18:17] jgwest commented on #88
Closing as done.

[2021-01-13 18:17] #88 closed

[2021-01-14 18:41] jgwest opened #98 "Write tests for list.go generator"
We should add some new tests for the list generator, as, unlike the other generators, there currently aren't any.

[2021-01-15 16:56] jgwest opened #99 "Write tests for clustereventhandler.go"
There are currently no tests for `clustereventhandler.go`, we should add tests against `queueRelatedAppGenerators` (IMHO testing the other methods is optional).

[2021-01-18 12:34] jgwest opened #100 "Write tests for pkg/utils/util.go"
`pkg/utils/util.go` currently has no tests, and would benefit from a test of, at least, `RenderTemplateParams`.

[2021-01-18 19:06] librannk opened #101 "sample repo https://github.com/infra-team/cluster-deployments.git missing"
sample repo for applicationset link is broken.

https://github.com/infra-team/cluster-deployments.git

getting 404 on the sample repo, can anyone fix the same or provide the updated link ?

[2021-01-19 15:00] mgoodness commented on #101
@librannk those files are only examples; they are not intended to point to actual config.

[2021-01-19 15:01] mgoodness commented on #92
Should be safe to close as of https://github.com/argoproj-labs/applicationset/commit/170a6dd65e0cc65ec47c4dc783ee773f5cf17c35

[2021-01-19 21:33] jgwest opened #102 "Write additional tests for repo_service.go"
`repo_service.go` currently has fairly limited test coverage and would benefit from tests of:
- GetFilePaths
- GetFileContent
- GetDirectories

[2021-01-19 21:39] jgwest commented on #101
As @mgoodness said, those files are only simple examples, and they don't have a corresponding git repository backing them.

That said, I agree that it is confusing (when I was new to the project I was a bit surprised they didn't exist as well). This should be improved by these issues:
- Reorganize the examples directory: https://github.com/argoproj-labs/applicationset/issues/77
- Better documentat

[2021-01-19 21:39] #101 closed

[2021-01-20 15:14] jbaskeen opened #103 "Method for overriding resource deletion default behavior"
Currently, the AppSet spec enforces deletion of related Applications and their deployed resources by default. This is not consistent with the default behavior of Application in argo-cd. That is, without AppSets, deployed resources related to an Application are not deleted by default when an Application is deleted. This situation presents a rather confusing situation for users of Application _and_

[2021-01-20 15:17] jgwest commented on #92
Closing as fixed.

[2021-01-20 15:17] #92 closed

[2021-01-20 15:40] jgwest opened #104 "Implement Git files generator E2E tests"
Now that [initial Git files generator functionality](https://github.com/argoproj-labs/applicationset/pull/45) has merged, we should add some E2E tests for it.

The E2E test framework allows us to test ApplicationSet features against a live Kubernetes cluster and a live Argo CD instance. This issue tracks adding additional tests that specifically target the git file generator.

[2021-01-21 23:57] jgwest commented on #103
@jbaskeen has provided an excellent description of why this is a valid use case, and I am personally convinced that we should allow users to customize this behaviour if they wish (eg as a supported behaviour).

#### Re: changing the default behaviour

IMHO the current default for ApplicationSet is the correct default: ApplicationSet is meant to be an abstraction over Argo CD `Application` resource

[2021-01-22 13:33] #27 closed

[2021-01-26 00:00] jgwest opened #106 "Git files generator: add support for YAML files"
The [initial Git files generator](https://github.com/argoproj-labs/applicationset/pull/45) support has merged, but it currently only supports processing JSON files from a git repository.

The ApplicationSet design design doc notes that "referenced files would contain a json/yaml list of arbitrary structured objects", and thus I have opened this issue to track adding support for YAML files within g

[2021-01-26 17:19] #94 closed

[2021-01-26 17:35] jgwest commented on #82
Done, new issues opened:

Write additional tests for repo_service.go:
https://github.com/argoproj-labs/applicationset/issues/102

Write tests for pkg/utils/util.go:
https://github.com/argoproj-labs/applicationset/issues/100

Write tests for clustereventhandler.go:
https://github.com/argoproj-labs/applicationset/issues/99

Write tests for list.go generator:
https://github.com/argoproj-labs/applicat

[2021-01-26 17:35] #82 closed

[2021-01-27 19:51] jgwest opened #107 "'Error generating params' error when using JSON array in Git files generator file"
An 'error generating params' error is output when using the following ApplicationSet on the specified repo.

The following ApplicationSet will trigger the error:
[code]

This is because the `cluster.json` (referenced above) looks like this [(source)](https://github.com/jgwest/argocd-example-apps/blob/master/appset-examples/git-files-example/config/clusters.json):
[code]
Notice that this is a JSON

[2021-01-27 21:55] jgwest commented on #78
The fix for this was included as part of https://github.com/argoproj-labs/applicationset/pull/105

[2021-01-27 21:55] #78 closed

[2021-01-28 15:08] maruina opened #108 "Support custom keys in ListGeneratorElement"
Hi all,
I was wondering if you where open to a PR to extend the `ListGeneratorElement` to support additional key other than `cluster` and `url`. Something like to
[code]

Happy to discuss the `Labels name`, it was the first thing that came to my mind.

My use case is that I need to inject some parameters per cluster, and what I have at the moment is

[code]
but if the `"values-{{cluster}}.yaml"` d

[2021-01-28 15:48] ygelfand commented on #103
One slight caveat to this (and how we've done it internally for now) is to handle it w/ parameters to the generator, vs a global application set parameter.  This allows you to for instance target "dev" clusters w/ preserveResourcesOnDeletion: false, vs prod clusters w/ preserveResourcesOnDeletion: true.   Handling it via values in the generator currently (admittedly that's a bit hacky), but does p

[2021-01-28 15:51] jbaskeen commented on #103
Given the purpose of cluster generators, and scoping to these different contexts, I totally agree with @ygelfand. Allowing for Prod contexts to be protected but allowing deletion in other contexts fits our use case perfectly. @jgwest thoughts?

[2021-01-28 17:05] jgwest commented on #103
Excellent question... now that https://github.com/argoproj-labs/applicationset/pull/91 has merged, and with the `preserveResourcesOnDeletion` field I mentioned above, you should be able to do something like this in order to support that use case:

[code]

[2021-01-28 17:11] ygelfand commented on #103
Yep, and is similar to how I'm  handing it today (via the values), except currently I believe only template gets passed through renderparams (and finalizer is applied at that stage), so syncpolicy would have pass through that as well.

[2021-01-28 17:16] jbaskeen commented on #103
@jgwest I like the solution above, nice! It's a good mixture with that new feature...been watching that one closely.

[2021-01-28 17:37] jgwest commented on #108
Hi @maruina, it looks like what you are asking for is similar to what @mgoodness added with https://github.com/argoproj-labs/applicationset/pull/91 for the Cluster generator.

So if we were to add the same thing for list generator, I expect it would look like this:

[code]

Was that about what you were expecting? (I used version as an arbitrary key here, but of course it could be anything). The [f

[2021-01-28 18:02] maruina commented on #108
Hey @jgwest I completely missed #91, and that it what I was looking for. Would be great to have what you showed in the example! :)

[2021-01-28 20:20] jgwest commented on #35
Another workaround:
1) Within the Argo CD web UI, select **Settings**, then **Clusters**.
2) Select the your local cluster, usually named `in-cluster`.
3) Click the **Edit** button, and change the the **NAME** of the cluster to another value, for example `in-cluster-local`. Any other value here is fine. Leave all other fields unchanged.
4) Click **Save**.

The act of changing one of the default va

[2021-01-28 21:34] maruina commented on #108
I'll try to submit a PR in the next couple of days.

[2021-01-29 08:03] #70 closed

[2021-01-29 12:58] OmerKahani commented on #107
What should be the behavior with a JSON list? Should it iterate on the list, list the list generator?

[2021-01-29 19:53] jgwest commented on #107
Good question, I was thinking that [`generateParamsFromGitFile`](https://github.com/argoproj-labs/applicationset/blob/9295445b1fc8856caf246cf2f815276f796419bf/pkg/generators/git.go#L125) should first attempt to parse the JSON file as a JSON object, and then, if that fails, next try to parse it as a JSON array.

In the case of the JSON object, the code would work as it does now. In the case of the

[2021-01-30 12:19] OmerKahani commented on #35
Do we want to provide a solution for this, or are we good with the secret workaround?

One possible solution could be adding a boolean flag to the ClusterGenerator spec: `includeLocalCluster`.

[2021-02-01 02:04] jgwest commented on #35
I've got some work done on a branch, which I hope to get submitted sooner rather than later... when I do I'll post it here for your feedback.

[2021-02-01 05:03] #108 closed

[2021-02-02 16:45] #77 closed

[2021-02-02 20:37] jgwest opened #112 "Prevent ApplicationSet controller from creating invalid Applications, causing 'unable to delete application resource' in Argo CD"
While writing a new E2E test, I happened to create an `ApplicationSet` resource that produced invalid Argo CD applictions:
- I created the ApplicationSet, and the ApplicationSet controller correctly created the Application.
- However, the created Application was invalid.
- Argo CD correctly complained that `application destination can't have both name and server defined: in-cluster`.

It was corre

[2021-02-03 08:09] 1337andre opened #114 "feature request - combine generators"
Hi folks,

first, thanks for this great project!

Would it be possible to combine generators?

in this example combine directory discover with clusters secret

example:

[code]

When I try, run into
[code]

[2021-02-03 11:18] OmerKahani commented on #114
Hi @1337andre what would be the expected behavior this case? which application would you expected to be created?

[2021-02-03 13:12] 1337andre commented on #114
given:
[code]
and
[code]

expected behaviour would be the creation of 4(clusters)*3(directories) = 12 applications

appname= {{name}}-{{path.basename}}

[2021-02-03 17:41] jgwest opened #115 "Add readthedocs/mkdocs integration to the documentation"
We can use the work done on https://github.com/argoproj-labs/argocd-image-updater/ as a template:
- Create a readthedocs account, with a name like `argo-cd-application-set`
- Add `.readthedocs.yml`, `mkdocs.yml`, and additional metadata from `/docs` like `requirements.txt`, plus `css`, `js`
- Import that into read the docs and iterate on it until it looks good :)

I have a prototype branch which s

[2021-02-03 21:18] OmerKahani commented on #114
Cool use case.

I think this is a special case for the cluster generators. list and git or two git generators will not behave the same way.

Can we define it like this:
If there are multiple generators and one of them is the cluster generator
Then the input for the cluster generator should be the output from the other generator

Does this make sense?

[2021-02-04 21:22] jgwest commented on #35
Hey @mgoodness  @OmerKahani, I've posted a PR which now allows cluster generator to target the local cluster. See details on the PR as to how I'm doing it, and let me know what you think around the new behaviour.

[2021-02-05 15:25] #87 closed

[2021-02-08 21:35] jgwest opened #118 "Kustomize Argo CD integration (and GitHub E2E test action) should use a fixed Argo CD version"
Using 'stable' as the Argo CD target in the [kustomize file](https://github.com/argoproj-labs/applicationset/blob/db51ff1d1be2f8f226826f0fb17c162272d90fc6/manifests/namespace-install-with-argo-cd/kustomization.yaml#L7) doesn't work well with our GitHub action that does manifest generation comparison (and fails on mismatch). The combination of these two means that any time Argo CD releases a new ve

[2021-02-09 07:51] maruina opened #120 "Create helm chart"
Hi all,
I see that Argo provides Helm charts to install ArgoCD or other tools (see https://github.com/argoproj/argo-helm/tree/master/charts). Are you planning to add an helm chart for the ApplicationSet as well?

I'm happy to raise a PR. Should it be in the same ArgoCD chart as an option or a separate chart?

[2021-02-09 16:31] OmerKahani commented on #120
I think it can be part of the ArgoCD chart

[2021-02-09 20:39] maruina commented on #120
Ok, I will have a look and raise a PR there. Do you have a published docker image for the AppSet controller like https://github.com/argoproj/argo-helm/blob/master/charts/argo-cd/values.yaml#L11?

[2021-02-09 22:09] jgwest opened #121 "Git Directory Generator only matches directories that contain valid Helm/ksonnet/Kustomize artifacts"
The Git Directory generator is currently calling Argo CD repo-server's `ListApps` function, in order to discover the list of directories that are available in the repository.

However, that function only returns directories that contain Argo CD applications (and it excludes directory-only applications), specifically those that [match the set of rules here](https://github.com/argoproj/argo-cd/blob/

[2021-02-10 20:52] jgwest commented on #120
I'd suggest a standalone ApplicationSet chart to begin with, as this would allow folks to install ApplicationSet alongside their existing Argo CD install.

We haven't put out an official 0.1.0 image out (still working our way through the [Milestone 1](https://github.com/argoproj-labs/applicationset/milestone/1) issues), but I've put out an image you can use for your testing:

I created a prereleas

[2021-02-10 21:04] maruina commented on #120
Ok thanks, I'll raise a PR to add a separate applicationset helm chart and
then we can iterate from there. I will use the kustomize directory as a
base to create the chart. I should be able to start working on that in the
next few days.

On Wed, Feb 10, 2021 at 9:52 PM Jonathan West <notifications@github.com>
wrote:

[2021-02-10 23:33] jgwest opened #122 "RenderTemplateParams allows templates with unresolved parameters, without warning"
Blocked on https://github.com/argoproj-labs/applicationset/issues/71

`RenderTemplateParams`, the function responsible for rendering templates into `Application`s, currently does not throw an error if a parameter cannot be found.

For example:
[code]
In this case, the `param-does-not-exist` parameter is not contributed by the generator. But, `RenderTemplateParams` does not throw an error in this c

[2021-02-11 12:16] maruina commented on #120
Started a draft PR: https://github.com/argoproj/argo-helm/pull/577

[2021-02-11 21:10] OmerKahani commented on #121
As we now have `GetPaths` we should go with that. Option 2 is a useful contribution for ArgoCD that also has this problem in the add application UI (which uses the same `GetApps` function)

[2021-02-11 22:09] #118 closed

[2021-02-12 21:50] #84 closed

[2021-02-12 21:50] #85 closed

[2021-02-14 17:40] maruina opened #123 "curl to probeBindAddr returns 404"
When I create a deployment with a liveness and readiness checks, the container gets restarted because the HTTP probe returns a 404

[code]

I had a look at the code but I don't see where we use it, except when we pass the flag in `main.go`. What the implementation should look like?

[2021-02-14 17:46] maruina opened #124 "leader election not working"
When enabling the leader election, we get the following error
[code]
I think it's because when we cookie-cutted the project we didn't initialize it with a domain, so https://github.com/argoproj-labs/applicationset/blob/master/main.go#L118 ends with just a `.`
I'm happy to raise a PR if you tell what the id should look like? Maybe `58ac56fa.applicationsets.argoproj.io`?

[2021-02-14 21:02] maruina commented on #120
@jgwest I'm tagging you here as well for visibility. I have the chart working but the tests are failing because of
[code]

[2021-02-16 00:00] jgwest opened #126 "Git generator may never detect new commits, if using default 'GetRequeueAfter' value"
### The problem:

The Git generator, when generating application parameters, queries remote Git repositories in order to get retrieve the latest commits from them. The files/directories in these commits are used by the Git generator to generate parameters.

Thus, in order for Applications (generated by a Git generator of an ApplicationSet) to be up-to-date with their ApplicationSet, we need to per

[2021-02-16 14:37] #35 closed

[2021-02-16 23:28] #124 closed

[2021-02-16 23:34] jgwest commented on #120
@maruina I was able to get past that by using the following to generate the CRD in the ApplicationSet Makefile:
[code]
But these update CRDs causes the E2E tests to fail :disappointed:  . @mgoodness reported [the same issue on Argo community slack](https://argoproj.slack.com/archives/C014ZPM32LU/p1610566935065100). I spent some time looking at it again and unfortunately the E2E tests don't appear

[2021-02-17 09:25] maruina commented on #120
Ok thanks. I can update the helm chart with the v1 CRDs to make the test passing, but I guess we want to bump the version here as well.

Should we hold merging the AppSet chart until then?

[2021-02-17 09:28] maruina commented on #120
FYI, I used the draft Helm chart internally and it works. It's just Helm complaining about the CRD version.

[2021-02-17 15:26] jgwest opened #127 "Use apiextensions.k8s.io/v1 CustomResourceDefinition, rather than deprecated v1beta1"
The v1beta1 CRD definition is deprecated since Kubernetes v1.16, and is causing issues with the [Helm chart linting](https://github.com/argoproj/argo-helm/pull/577), also described [here](https://github.com/argoproj-labs/applicationset/issues/120), and previously caused issues during a kubebuilder scaffolding upgrade process.

Argo CD is going through the same process [here](https://github.com/arg

[2021-02-17 16:12] jgwest commented on #120
@maruina This should fix the issue in ApplicationSet: https://github.com/argoproj-labs/applicationset/pull/128

Once merged, I'll regenerate the manifests linked on [my previous comment](https://github.com/argoproj-labs/applicationset/issues/120#issuecomment-777027682).

[2021-02-18 17:48] #127 closed

[2021-02-18 20:55] jbaskeen opened #129 "HA Support?"
Does the current implementation support HA? I am currently using AppSet in a production environment and would like to know if there is a known limitation with running multiple replicas (3).

[2021-02-18 20:57] jgwest commented on #120
@maruina I've merged #128 , closing #127, which should fix the issue you are seeing. You can grab the latest versions from the same URLs used in my [previous comment](https://github.com/argoproj-labs/applicationset/issues/120#issuecomment-777027682).

[2021-02-18 21:28] maruina commented on #120
Thank you, I will have a look in the next couple of days!

On Thu, Feb 18, 2021, 21:57 Jonathan West <notifications@github.com> wrote:

[2021-02-18 22:24] jgwest opened #131 "Update the 'deploying to local cluster' doc section to new behaviour"
Rewrite the `### Deploying to local cluster` section of `Generators.md`, now that https://github.com/argoproj-labs/applicationset/issues/35 has merged. The new content should include this information from my comment in the PR:

[code]

[2021-02-19 06:27] #115 closed

[2021-02-19 08:09] maruina commented on #129
Hey, I think that with https://github.com/argoproj-labs/applicationset/pull/125 is merged you can run it in leader election mode.

[2021-02-19 08:42] maruina commented on #120
All tests are passing, just waiting a review 🎉

[2021-02-19 13:01] jbaskeen commented on #129
Thanks @maruina, I will try this out today and close this is all is good

[2021-02-22 14:54] jgwest opened #133 "Update test/generation Argo CD target version to v1.8.5"
A new stable version of Argo CD has been released, and we should our corresponding test and Kustomize generation targets.

[2021-02-23 03:41] #133 closed

[2021-02-23 20:08] jbaskeen commented on #129
This appears to be working as expected. Thanks @maruina

[2021-02-23 20:08] #129 closed

[2021-02-24 00:20] jgwest opened #135 "Readthedocs page is missing syntax highlighting on YAML code blocks"
As mentioned on https://github.com/argoproj-labs/applicationset/pull/130, for some reason the mkdocs/readthedocs page, when viewed via readthedocs.io, is missing syntax highlighting on the YAML code blocks. However, when viewed locally (for example via `make serve-docs`), the YAML is correctly syntax highlighted.

[2021-02-27 18:14] OmerKahani commented on #81
Do we have a list of use cases we want to test?

[2021-02-27 18:32] OmerKahani commented on #98
#110 Added tests

[2021-02-27 18:32] #98 closed

[2021-03-01 16:43] #126 closed

[2021-03-01 18:35] #112 closed

[2021-03-01 21:15] jgwest opened #140 "'appprojects.argoproj.io is forbidden' error from serviceaccount argocd-applicationset-controller"
After generating one or more Applications from an ApplicationSet, you may see an error in the applicationset-controller logs:
`appprojects.argoproj.io "default" is forbidden: User "system:serviceaccount:argocd:argocd-applicationset-controller" cannot get resource "appprojects" in API group "argoproj.io" in the namespace "argocd"`

Looks like this is due to this morning's merge of #136 , which now

[2021-03-02 14:22] #121 closed

[2021-03-02 14:25] #140 closed

[2021-03-02 14:50] jgwest opened #142 "Update 'Directories must be valid Argo CD applications' doc section to reflect new behaviour"
Now that #132 has merged, update the 'Directories must be valid Argo CD applications' to remove the mention of restriction to valid Argo CD applications.

[2021-03-02 14:53] #107 closed

[2021-03-02 16:52] sbose78 commented on #99
https://github.com/argoproj-labs/applicationset/blob/master/pkg/controllers/clustereventhandler.go

[2021-03-02 16:54] sbose78 commented on #80
+1

[2021-03-02 16:55] sbose78 commented on #100
+1

[2021-03-02 21:32] jgwest commented on #81
@OmerKahani Good question, I don't have a specific set of tests in mind here, this item was more about reserving time to think through any additional aspects of the Git Directory functionality that we should be testing and then implementing that.

Here's what came to mind:
- testing with a slightly more complex directory structure (more nested) than our current test
- more complex changes to the A

[2021-03-02 21:37] #104 closed

[2021-03-02 21:46] jgwest opened #143 "Fix template-overrides-example.yaml"
The `template-overrides-example.yaml` is currently failing... `revision` should be `targetRevision` :upside_down_face:

[2021-03-03 20:04] sbose78 opened #145 "Use updated Application CRD ( apiextensions/v1beta1 to v1 )"
after https://github.com/argoproj/argo-cd/pull/5516 is merged.

Creating this issue as an FYI though I wouldn't expect any change in how the Golang dependency is consumed.

[2021-03-08 20:05] #143 closed

[2021-03-09 05:33] jgwest commented on #145
Thanks @sbose78, ApplicationSet controller switched to non-beta v1 version with https://github.com/argoproj-labs/applicationset/pull/128, and I've confirmed that Argo CD's switch does not affect our functionality.

I've swapped the integrated [Argo CD + ApplicationSet controller install YAML](https://github.com/argoproj-labs/applicationset/blob/release-0.1.0-rc/manifests/install-with-argo-cd.yaml)

[2021-03-09 09:55] sachincool opened #149 "non-existent docker image referenced in manifest"
Hi!
I tried to install the applicationset CRD into my cluster and found that the docker images for controller deployment doesn't exist.
[manifests](https://github.com/argoproj-labs/applicationset/blob/master/manifests/install.yaml#L1539)
[code]
can you point me to the correct image if exists? makefile also points to this image.

[2021-03-09 15:53] jgwest commented on #149
Hi @sachincool , we haven't put out an official first release yet (very soon!), hence the invalid image references. In the mean time, you can access the *pre-release* images here:

**Install instructions**: https://argocd-applicationset.readthedocs.io/en/stable/Geting-Started/#installation

**Images**: https://quay.io/repository/argocdapplicationset/argocd-applicationset?tab=tags (edited)

[2021-03-09 22:11] jgwest opened #150 "Adopt same base image as Argo CD to fix vulnerability scan issues"
The `debian:10-slim` base image that we're using has consistently reported vulnerable packages, and while I doubt any of them are actually exploitable based on a reasonable threat model for applicationset, we should seek to address this.

Argo CD was using the same base image, and for the same reasons switched to Ubuntu 20.10. Their reasoning behind this is described [here](https://github.com/argo

[2021-03-10 08:42] sachincool commented on #149
Thanks @jgwest closing the issue.

[2021-03-10 08:42] #149 closed

[2021-03-11 03:59] #150 closed

[2021-03-11 04:14] #145 closed

[2021-03-11 04:43] sbose78 commented on #145
Thank you!

[2021-03-11 08:19] jgwest opened #152 "Gathering contributor list for ApplicationSet controller v0.1.0 release announcement"
### :arrow_right:  Please let me know ASAP if you (or someone you know) contributed to ApplicationSet code/design doc/planning/reviews/inception and are not on the below list (I **really** don't want to miss anyone :smile: !).  :arrow_left:

I'm working on a draft of the release announcement, and I'd like to make sure that everyone that has contributed to ApplicationSet is shouted out (:tada: :tad

[2021-03-12 03:29] shkrid opened #153 "Applicationset-controller overloads api-server and have memory leak"
We have only 1 ApplicationSet and it kills our k8s control-plane.

ArgoCD v1.8.7+eb3d1fb

applicationset-controller memory usage
<img width="2283" alt="applicationset-controller" src="https://user-images.githubusercontent.com/11005895/110884353-a90d1900-82ed-11eb-83f8-fce8c9115d8c.png">

api-server go-routines
<img width="2287" alt="api-server" src="https://user-images.githubusercontent.com/110058

[2021-03-12 14:36] #100 closed

[2021-03-12 18:40] mr-sour opened #154 "annotations set in application-set not updating apps"
[code]
With application annotations it will create the annotation correctly but if you try to modify it the changes dont sync unless you delete the application and regenerate. Pretty easy to test, create a annotation like above and then try changing it.

[2021-03-12 23:37] jgwest commented on #153
I'm able to reproduce and am working on a fix, thanks @shkrid!

[2021-03-13 03:33] #99 closed

[2021-03-15 08:51] jgwest commented on #154
I was easily able to reproduce and have a PR posted (fix + a bunch of new test code), thanks @mr-sour!

[2021-03-15 23:01] mr-sour opened #157 "Parameterized template overrides"
I'm unsure if this is a bug, feature request, not supported or I'm just doing it wrong.

Using the list generator I want to set the targetRevision on a per-cluster basis as to slowly roll changes but have it fall back if not specified.  What I was trying to attempt is if values.targetRevision exists for a certain cluster it would override the value at `spec.template.spec.source.targetRevision`  wi

[2021-03-16 00:03] kvendingoldo commented on #152
@jgwest my name is Alex Sharov :)

[2021-03-16 06:39] jgwest commented on #152
Thanks Alex, I've updated your name :+1:

[2021-03-16 09:49] #154 closed

[2021-03-16 09:50] #153 closed

[2021-03-16 18:28] jnpacker opened #158 "Feature request: Duck Type Generator"
Hi,

This work on ApplicationSet's has sparked a bunch of ideas for me around Cluster Targeting.  I also see #114 is touching on this area as well.  It would be great to be able to leverage another resource as the generator. This way other tools could be incorporated or you could create your own matching algorithms.
[code]
Kubernetes has the [Duck Type](https://github.com/knative/pkg/blob/main/api

[2021-03-17 00:14] dctrwatson opened #160 "git helpers missing from image"
When using credentials for git repositories the repo service is looking for binaries such as: https://github.com/argoproj/argo-cd/blob/master/hack/git-ask-pass.sh

[2021-03-18 00:09] moises-perez-tfs opened #162 "List generator should allow any key/value pair"
I find cluster `name` to be a more readable options than `url` for referencing clusters in an Application (or ApplicationSet).

For example:
[code]

This example works fine when setting the appropriate cluster names but it requires us to set an unused `url` parameter for each element. This parameter is never used in the `template` above. I think using the cluster `name` in `destination` and avoidi

[2021-03-18 04:28] #160 closed

[2021-03-18 09:56] ckeragala opened #163 "ApplicationSet does not support private repos configured using SSH"
Getting below error with `ApplicationSet` although the repository has been configured with ArgoCD  to use SSH Private Key Credentials. Same repository works fine with `Application` objects though.
[code]
My ApplicationSet manifest
[code]

[2021-03-18 10:46] jgwest commented on #163
I can reproduce the issue and see the same error, thanks @ckeragala!

[2021-03-18 14:42] jnpacker commented on #158
I was thinking it would probably need to have the cluster URL, as it is less likely to be modified, then a cluster name, which will be important if an external controller is generating the decision list from associated data.

[2021-03-19 10:34] jgwest commented on #114
The original design of the generators field appears to be that generators are additive, eg that you can list multiple generators in the generators field an ApplicationSet, and each individual generator will add parameters to be templated. (eg 2 git generators, a and b, would produce a+b parameter sets)

The change discussed here would need to be more sophisticated, where now if multiple generators

[2021-03-20 20:36] OmerKahani commented on #114
I experiment with two generators:
1. Two lists:
[code]
gives an error: `ApplicationSet guestbook contains applications with duplicate name: engineering-dev1-guestbook`

I think that the in the current state two generators produce two lists of separate applciations

[2021-03-20 21:02] OmerKahani commented on #114
Drafting an examples https://github.com/argoproj-labs/applicationset/pull/165 @1337andre what do you think?

[2021-03-22 10:00] jgwest opened #166 "Sanitize cluster name field by replacing unsupported characters"
The cluster name (coming from the cluster as defined within Argo CD), may contain invalid characters for some Application fields (ie `.metadata.name`). This poses a problem when the Cluster generator produces the cluster name as a param, and that param is used in a field which doesn't allow those characters. We should sanitize the cluster name by replace unsupported characters for fields that don'

[2021-03-22 10:16] jgwest opened #167 "Document how to use per-cluster Kustomize overlays with ApplicationSet"
I suspect a fairly common use case for the generators will be how to use ApplicationSets with Kustomize-based configurations that use overlays for each cluster type (eg staging, prod, etc) or for an individually named cluster.

We should:
- Determine where in the docs is the best place to include this. (Use Cases? A new FAQ section? A new Kustomize section?)
- Document it (see an outline below)

#

[2021-03-22 10:31] #163 closed

[2021-03-22 13:13] jgwest commented on #114
@OmerKahani  @1337andre

How about this, let me know what you think: lets implement a new 'merge' generator which combines the parameters of child generators... this has a few advantages:
- Allows both additive and multiplicative parameter generation, without needing to change the existing spec
- Maintains a tree like structure (which differs from #165 examples)
- Powerful, as it allows introduces

[2021-03-22 14:59] sbose78 commented on #158
Thank you @jnpacker for writing this up!

[2021-03-23 19:36] sbose78 commented on #158
s/Kubernetes/Knative @jnpacker

[2021-03-24 09:14] joshm91 commented on #114
How about "matrix"? I've seen this term used in various test runners before and Github Actions have a [similar concept](https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#jobsjob_idstrategymatrix) to what you're proposing here.

[2021-03-24 15:56] marcozov commented on #106
Sorry if this is not relevant, but: should this also support a way to pass parameters/values from this file, as a unique YAML block?
This is the use case that I have in mind: https://argocd-applicationset.readthedocs.io/en/stable/Use-Cases/#use-case-self-service-of-argo-cd-applications-on-multitenant-clusters . What if I, as administrator, want to provide users the possibility of generating N appl

[2021-03-24 19:27] rbkaspr opened #168 "Enhancement - Conditional plugin support"
# What's the issue?
For some organizations, a monorepo of application manifests can contain a mix of different deployment mechanisms, especially when different teams with different preferences for things like Helm/Kustomize/etc are handling different deployments. If each of those deployments uses a standard structure that Argo natively understands, ApplicationSets can handle that with no issue.

H

[2021-03-24 19:28] jgwest opened #169 "Add 'VERSION' file contents and latest commit ID to controller startup"
For the purposes of problem determination and debugging, it would be beneficial if the controller pod logged the specific version of the ApplicationSet controller that was running. We can pull these values at build time from VERSION and git.

See Argo CD's `common/version.go` and the Argo CD Makefile for an example of this.

[2021-03-25 17:33] jgwest opened #170 "Workaround Argo CD cluster deletion reconciliation bug"
Argo CD bug https://github.com/argoproj/argo-cd/issues/5817 causes significant issues for the Cluster generator of the ApplicationSet controller: when a cluster is deleted from Argo CD, and that cluster had Applications associated with it, Argo CD is unable to delete the Application and the application controller enters a reconciliation loop.

This is primarily an Argo CD bug, but is easily reprod

[2021-03-29 15:21] marcozov opened #173 "Feature request: passing (different) custom values to a series of helm charts deployed with ApplicationSet"
First, thanks a lot for this great project you have been working on. It's truly amazing to see a feature like this being onboarded.

Here is a description of the the issue that I'm having while working with Argo ApplicationSets.
My use case is very similar to this one: https://argocd-applicationset.readthedocs.io/en/stable/Use-Cases/#use-case-self-service-of-argo-cd-applications-on-multitenant-clu

[2021-03-29 19:04] jgwest opened #174 "Rebase to go.mod to latest Argo CD v2.0, adopt new APIs as needed, and retest"
Once ApplicationSet v0.1.0 and Argo CD v2.0 are out the door, we should adopt the latest Argo CD v2.0 (attempting to keep backwards compatibility where it is straightforward), including fixing any changed APIs, and retesting.

[2021-03-29 19:23] jgwest opened #175 "Remove workaround for Argo CD issue 5817 'Unable to delete an Application if its target cluster is deleted'"
PR #171 and issue #170 introduced a workaround for https://github.com/argoproj/argo-cd/issues/5817.

We should remove this workaround from the ApplicationSet codebase when this issue has been fixed in all supported versions of Argo CD.

As of this writing (Mar 29, 2021), we still support Argo CD v1.8.x with ApplicationSet controller, so presuming this is fixed in v2.0.x, this workaround would be r

[2021-03-29 19:26] #170 closed

[2021-03-29 20:30] jgwest opened #176 "Race condition on cluster creation/deletion causes unexpected behaviour"
On cluster creation/deletion, I have seen cases where:
- If a new Argo CD cluster is created, and the ApplicationSet is reconciled before the 'new cluster event' is received by the Argo CD DB cluster lister, then a new Application is failed to be created for the cluster.
- If a new Argo CD cluster is deleted, and the ApplicationSet is reconciled before the 'cluster deleted event' is received by th

[2021-03-30 13:15] jgwest opened #178 "Create CHANGELOG.md to contain release information"
Create a CHANGELOG.md file (based roughly on Argo CD's) in order to contain release information.

The same content will also be used in the Releases panel, for the release tag.

[2021-03-30 23:35] shkrid opened #180 "ApplicationSet conflicts with ArgoCD-Notification which cause notification spam"
**ArgoCD-Notification** sets annotation to track already sent notifications:
[code]
**ApplicationSet** clears external annotation on sync which leads to notification spam in the loop.
Should be related: https://github.com/argoproj-labs/applicationset/issues/154

[2021-03-31 20:55] jgwest opened #181 "ApplicationSet v0.1.0 Release Checklist"
This issue tracks all the release items required for the upcoming v0.1.0 release. These will be performed on release day, unless otherwise indicated.

## Release Checklist

First, follow the instructions [on the release process RTD docs page](https://argocd-applicationset.readthedocs.io/en/stable/Releasing/).

Once complete, this is a set of checks to perform once you have a commit, tags, release,

[2021-04-01 16:44] #135 closed

[2021-04-01 21:34] RichiCoder1 opened #185 "Document support for matchExpression"
In order to select multiple specific clusters with different label values, it'd be nice to specify a match expression ala https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/#resources-that-support-set-based-requirements.

[2021-04-02 14:37] mgoodness commented on #185
`matchExpressions` is supported in the cluster generator, though the example doesn't demonstrate it.

[2021-04-02 19:01] RichiCoder1 commented on #185
Ah! Excellent, I guess this is more of a docs issue then

[2021-04-02 19:57] #131 closed

[2021-04-02 19:57] #142 closed

[2021-04-06 02:44] iamnoah commented on #180
Is there an easy workaround for this? Kind of a blocker to using Application Sets.

[2021-04-06 02:56] RichiCoder1 opened #186 "ApplicationSet Controller overrides any Application CR changes"
Related to #180.

Right now if you attempt to add annotations, labels, or do things like per-app parameter overrides, those changes are automatically and quickly overridden. It'd be nice if (either via config or by default) the controller merged the generated CR instead of overwriting it.

[2021-04-06 14:18] jgwest commented on #73
I believe this is no longer needed? Just need to verify, then this can be closed.

[2021-04-06 18:06] OmerKahani commented on #180
you can change the sync policy: https://github.com/argoproj-labs/applicationset/blob/85a15298f66a055be34776a61fda4838d62f57ac/main.go#L80

[2021-04-06 19:26] RichiCoder1 commented on #186
Related Comment: https://github.com/argoproj-labs/applicationset/issues/180#issuecomment-814328494

It's possible to disable syncing, but what this ticket wants to accomplish is enabling syncing, but having sync perform a merge instead of overwrite.

[2021-04-07 10:32] #178 closed

[2021-04-07 11:12] #152 closed

[2021-04-07 19:14] Lykathia opened #189 "Use of `{{ name }}` w/ cluster generator can lead to DNS-1123 violations when using EKS"
Given an ApplicationSet with a declaration like

[code]

Where an EKS cluster is being used, declared like
[code]

The following error emits from the applicationset controller:

This may just be a documentation thing I am missing. I am unsure how to now achieve uniqueness w/ application set while using a multi cluster EKS setup + cluster generator.

It looks like annotating a custom label might be

[2021-04-08 03:04] jgwest opened #190 "Refresh README.md based on new documentation"
The current README.md should be refreshed to include more relevant information, a better sample example, better functionality descriptions, better integrated documentation links, and links to Application Set Slack channel.

[2021-04-08 10:40] jgwest commented on #181
:tada: :tada: :tada: :tada:

[2021-04-08 10:40] #181 closed

[2021-04-08 12:40] ckeragala commented on #180
@OmerKahani  - Could give an example how we can set the sync option is the ApplicationSet manifiest?

[2021-04-08 12:51] ckeragala commented on #180
I'm using ApplicationSet along with ArgoCD Notifications and it consistently keeps on spamming MS teams saying the "application has been created."
Is there any fix for this?

[2021-04-08 14:15] sboschman opened #192 "Controller crash with git files generator having a number in the config.json"
If you use a number / float64 in the `config.json` file for the git files generator it will crash / crash loop the controller.

Example from the docs, the number is quoted and treated as string:
[code]

If someone does not quote the number it is treated as float64:
[code]

Result:
[code]

As the config.json files are maintained by many colleques, a simple quoting issue can bring down the applicati

[2021-04-08 16:59] RichiCoder1 commented on #186
Having tried to implement this, it looks like the safest option might be a config option which stores the applied generated template and diffs against that to generate patches to live configuration. Has some shortfalls, but I think covers the 90% case.

[2021-04-09 08:47] nfillot commented on #173
Hello @marcozov

I am using the following syntax to have custom values per environment but values files are indeed in the same repo as the helm chart

[code]

[2021-04-09 14:15] #190 closed

[2021-04-11 23:45] aelbarkani opened #194 "Is it possible to extract more information than server and name from cluster generator ?"
Hi!

I use cluster generator with label selector, and would like to extract more fields than just server and name from the ArgoCD secrets that contain cluster information. Is that supported ?
I tried adding a custom key in the secret (clusterdomain for example) and using it at the ApplicationSet, but it seems it doesn't work.

[2021-04-12 19:52] jgwest commented on #194
Hi @aelbarkani , you should be able to use the `metadata.labels.*` values and `metadata.annotations.*` for this. See [here](https://argocd-applicationset.readthedocs.io/en/stable/Generators/#cluster-generator) for details.

[2021-04-12 19:55] jgwest opened #196 "Add shortnames to the ApplicationSet CRD"
Add `appset`/`appsets` as shortnames to the CRD resource, making for less work when using `kubectl`/`oc` :smile:

[2021-04-13 17:05] LiorLieberman opened #199 "filter git directories generator based on files inside it"
Hi all,

We are using applicationset to provision helm applications to all our environments.

We are templating each environment with value-<env>.yaml file

We have a use case now which we do not need all the applications generated from the applicationset in all environments.

For some environments we do not need to include all apps

I suggest adding an option to repo_service (feel free to advise

[2021-04-13 22:24] #180 closed

[2021-04-13 22:26] #196 closed

[2021-04-14 13:00] fabricev opened #200 "git generator for branch"
Could be convenient to have a generator for branches (following a given pattern):

[code]

Would manage the apps dynamically based on the various test_ branches of the repo.

[2021-04-16 06:53] andrejpetras commented on #106
Hi, I created PoC for my case.

https://github.com/lorislab/applicationset/tree/yaml

I put a short description in the README file.
The generator in the ApplicationSet is the `git` generator which will check if file ends with `.yaml`
Before the template is generated from the yaml file it will be merged with `global.yml` file if exists.
Template parameters are [root key] = string value of the merge

[2021-04-16 06:58] andrejpetras commented on #173
Hi,

I solve it differently.

[code]

https://github.com/lorislab/applicationset/tree/yaml

I put a short description in the README file.
The generator in the ApplicationSet is the git generator which will check if file ends with .yaml
Before the template is generated from the yaml file it will be merged with global.yml file if exists.
Template parameters are [root key] = string value of the merge

[2021-04-16 11:43] alexanderdalloz opened #202 "git fetch errors in argocd-applicationset-controller pod on OpenShift 3.11"
While the ApplicationSet Controller v0.1.0 works on OpenShift 4.x, it fails on the older platform generation 3.11.

`2021-04-16T11:21:03.742Z	ERROR	controller-runtime.manager.controller.applicationset	Reconciler error	{"reconciler group": "argoproj.io", "reconciler kind": "ApplicationSet", "name": "dynatrace", "namespace": "argocd", "error": "Error during fetching repo: `git fetch origin --tags --

[2021-04-16 11:49] ckeragala opened #203 "Application health goes "Unknown" time to time showing and error in Application conditions"
**Describe the bug**
Following error is show in Application conditions section and suddenly disappears. The application state becomes healthy again. This happens time to time.
![image](https://user-images.githubusercontent.com/54570293/115020036-9c28aa00-9ed7-11eb-932c-3e3a08a43d23.png)

[code]
![image](https://user-images.githubusercontent.com/54570293/115098938-7b506b00-9f50-11eb-8d3e-41d07adc7b

[2021-04-18 14:37] marcozov commented on #173
Thanks for you replies.

@nfillot indeed it can work that way, but I would like to be able to decouple the development of the helm chart from its deployment. That's why I'm looking for a different approach.
@andrejpetras this looks exactly like what I was looking for. I was wondering if you're planning to open a PR for this in order to integrate with the next releases of the project. If there is a

[2021-04-19 16:28] jgwest commented on #203
Hi @ckeragala , I'm not able to reproduce using the [git-generator-files-directory](https://github.com/argoproj-labs/applicationset/tree/master/examples/git-generator-files-discovery) example. I create that AppSet, sync it, and don't see an error. Likewise I don't any issues with the events (see screenshot)

Any other information you can provide that would be helpful in reproducing? Would you be a

[2021-04-19 16:32] alexmt commented on #203
I think this is a duplicate of https://github.com/argoproj/argo-cd/issues/6039 . It is not really related to application set.

[2021-04-19 16:58] jgwest commented on #203
Aha, thanks for the info @alexmt!

[2021-04-19 17:44] jgwest commented on #173
I think a good first step would be implementing https://github.com/argoproj-labs/applicationset/issues/106 with the same functionality as the JSON parsing, and then we can next discuss how to extend that re: the other changes in `lorislab` `yaml` branch, including: per-directory values (the global.yml), changes to how file values are flattened, and addition of new `path` and `path.basename` parame

[2021-04-19 17:45] jgwest commented on #106
As mentioned on 173, I think this issue should first stick to implementing the YAML parsing functionality consistent with the JSON parsing functionality, before we add new changes on top as proposed in the `lorislab` `yaml` branch, eg  per-directory values (the global.yml), changes to how file values are flattened, and addition of new path and path.basename parameters.

[2021-04-19 19:36] andrejpetras commented on #173
@jgwest I agree, my solution is only PoC for my use case.

`global.yml` is a temporary solution.

'JSON flattened' doesn't work for me. I want to add a "values" structure like in the "yaml" file.
So I convert the 'yaml' substructure back to a string: https://github.com/lorislab/applicationset/blob/yaml/pkg/generators/git.go#L266

Would it be possible to have some sort of function on the template t

[2021-04-19 19:39] jgwest commented on #157
Thanks for opening this, and I see what you mean with it being not exactly  the behaviour you are looking for...

My thinking is this:
- Any use of an unbound parameter name should be an error, in any context:
    - For example, if you do `{{values.does-not-exist}}` or `{{some-other-bad-name}}`, this should be an invalid ApplicationSet and the controller should report an error (granted our error r

[2021-04-19 20:07] jgwest commented on #189
It sounds like this is the same as #166, which has a slightly different error message but still has the same cause. That issue was caused by a different cluster name format (OpenShift's), but in both cases the end result was a cluster name that was invalid.

Re: "*Noted that in terms of a declarative setup, this failure is only seen in the logs -- and by omission of the additional cluster in the G

[2021-04-19 20:14] jgwest commented on #199
Hi @LiorLieberman, would you be able to provide an example of what you mean?

[2021-04-19 20:28] jgwest commented on #200
Great idea :+1:, I think the proposed schema (`branches` with an array of objs with `name:` field) fits well within the Git generator, and I can definitely see this being useful for folks that track applications/environments across branches.

[2021-04-19 20:31] #194 closed

[2021-04-20 12:25] ckeragala commented on #203
Thanks all, looks like it. This is not related to AppSet, but something to do with `kubernetes-external-secrets` and argocd 2.0 health checks

[2021-04-20 13:02] #203 closed

[2021-04-20 17:54] jgwest commented on #72
Think this can now be closed. :smile:

[2021-04-20 17:54] #72 closed

[2021-04-21 13:39] jgwest opened #206 "Use a fixed version of Kustomize in the Makefile to generate manifests"
Since a newer version of kustomize has been released since [we last set a fixed kustomize version](https://github.com/argoproj-labs/applicationset/pull/161), this is causes the 'verify manifests' job of GitHub actions to fail on new PRs.

We need to ensure that the Makefile is always run with the correct Kustomize version.

Kubebuilder/operator-sdk scaffolds a controller with a fixed kustomize ver

[2021-04-21 19:01] sfynx commented on #103
This is essential for us before we can implement ApplicationSets, as we'd want to make sure all production Applications are always deleted explicitly, and only get created by the ApplicationSet. Right now we have our own Jenkins pipeline that manages the creation and deletion of our apps from a Git repo, which ignores any deletions of production apps, but if this is implemented we can throw all th

[2021-04-22 04:58] #206 closed

[2021-04-22 05:09] jeff51419 opened #208 "[applicationset] applicationsets.argoproj.io "shortNames" value"
If you are trying to resolve an environment-specific issue or have a one-off question about the edge case that does not require a feature then please consider asking a question in argocd slack [channel](https://argoproj.github.io/community/join-slack).

Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x

[2021-04-22 08:45] wnagele commented on #32
@dgoodwin where do you see this option? I cannot find anything on the [template](https://github.com/argoproj-labs/applicationset/blob/85f8d904cadb9595656dd12c312310ef00a27099/api/v1alpha1/applicationset_types.go#L50).

From my point-of-view this option as state in the design doc makes a lot of sense for applications where you cannot enable auto-sync on the regular ArgoCD controller. In such cases

[2021-04-22 11:40] dgoodwin commented on #32
@wnagele this was quite some time ago but line 52, the link to the ApplicationSpec at one point has a SyncPolicy for InitialSync I thought, but it looks like it may have been removed.

[2021-04-22 17:20] jgwest commented on #208
Hi @jeff51419 , great bug report! Thanks for the detailed instructions, I'm able to reproduce as well using the instructions you provided.

I admit I'm not a Helm expert: the ApplicationSet helm charts are handled by @maruina (and others), and they might have additional suggestions.

Behind the scenes, it looks like Argo CD calls `helm template` using the `--include-crds` option, which causes the

[2021-04-22 20:49] maruina commented on #208
Hi there :)
Regarding Helm, I think it depends which version you are using to render the chart. If you are using helm3, you should set `installCRDs=false` as we say in the README. This will make helm3 looking into the`crds` directory.

I think the problem with the chart is that we don't have the `shortNames` in the CRD because it's copied from https://raw.githubusercontent.com/argoproj-labs/applic

[2021-04-22 21:24] jgwest commented on #208
@maruina Ah, I didn't realize that was a Helm 3 vs Helm 2 thing, that makes sense, thanks!

Re: shortNames, I think we should wait for the 0.2.0 release that will contain the shortNames change before we update the CRD in the Helm chart. (It _probably_ wouldn't hurt anything to add it, but I'm wary of cherrypicking it back to an older release... people can type a few more characters in the mean tim

[2021-04-22 23:44] teejaded commented on #106
JSON is a subset of YAML.  Pretty sure we can just switch to a YAML parser.  This passes the go-tests.

https://github.com/teejaded/applicationset/commit/d2f0edc8a11bade6886993ded78b03c222e79b85

[2021-04-23 06:38] jeff51419 commented on #208
thanks for your responses, I should set installCRDs=false. And I will wait for the 0.2.0 release.

Keep on good working

[2021-04-23 06:38] #208 closed

[2021-04-23 11:05] LiorLieberman commented on #199
Hi @jgwest sure.

Most of us have multiple environments, and the not every application is desired in every environment.
In our use case for example we provision helm applications using values-<env-name>.yaml file.
Therefore I thought it would be great if the generator, git generator for example will check if under the directories we have such values-<envname>.yaml file. and just if there is  the a

[2021-04-23 11:52] jgwest commented on #32
ApplicationSet used to have InitialSync field, but this is the PR that removed it: https://github.com/argoproj-labs/applicationset/pull/55/files , reasoning is on the PR.

[2021-04-23 14:54] dhenneke opened #210 "Feature request: Be able to discover all Pull Requests in a GitHub repository"
We often do feature-branch/PR deployments to see if our application would work with the given change and use the argo-cli to dynamically create `Application`s from our build server. But it would be nice if an `ApplicationSet` could periodically discover all Pull Requests of a repository. This is similar to https://github.com/argoproj-labs/applicationset/issues/200 but based on the GitHub API and w

[2021-04-26 08:43] gdubya commented on #180
Are these options documented anywhere? This is not the same as the [Sync Options for ArgoCD](https://argoproj.github.io/argo-cd/user-guide/sync-options/), is it?

[2021-04-26 12:41] jgwest opened #212 "Document the policy parameter of the controller"
The ApplicationSet controller has the ability to restrict how it applies cluster resource updates, for example, it can be set to create `Application` resources, but never delete them.

We should document this feature and how to enable it.

See the `policy` param of `main.go` for details:
[code]

[2021-04-26 12:42] jgwest commented on #180
@gdubya No, unfortunately not, it's been on my TODO list, but now I've just made an issue for it: https://github.com/argoproj-labs/applicationset/issues/212

[2021-04-26 17:39] arnitolog opened #213 "use labels for templating in cluster generator"
Is there any way (and if not, does it make sense to consider it as an enhancement) to use labels from cluster secrets in templating?
Here is my use case:
we have several clusters. Some of them in Azure (AKS), some in AWS(EKS), some managed ourselves.
for each cluster, we have a secret in argocd which set of labels like below:
[code]
Also, we have an application (helm chart) with values files per t

[2021-04-27 11:30] palp opened #214 "Files generator fails with LFS enabled repo due to missing git-lfs package"
Attempting to use the files generator with a LFS enabled repo fails with the following:

[code]

Installing `git-lfs` on the pod of course resolves the issue, I'll submit a PR to add it to the container.

[2021-04-27 17:14] jgwest commented on #199
Sounds good, having the ability to target particular directories based on the presence of matching a path filter makes sense to me, and I agree this sounds like something that would be useful to enough folks to make it worth adding. Did you have an example in mind re: how to add this feature to the ApplicationSet Git generator spec?

[2021-04-27 18:34] jgwest commented on #213
Hi @arnitolog , if I am understanding your question correctly, take a look at https://argocd-applicationset.readthedocs.io/en/stable/Generators/#cluster-generator under `metadata.labels.<key>` and the label selector section.

[2021-04-27 18:47] jgwest opened #216 "Add support for generator based on scraping the Github API"
This is the issue for tracking the GitHub API generator PR https://github.com/argoproj-labs/applicationset/pull/209

The RepoHost generator uses the API of an SCMaaS (GitHub/GitLab) provider to discover repositories. This fits well with many repos following the same GitOps layout patterns such as microservices.

Includes general support for repo hosts and a specific implementation for Github.

[2021-04-27 18:48] #176 closed

[2021-04-28 06:02] arnitolog commented on #213
Hello @jgwest
let's imagine that we have 3 clusters (dev-a and dev-b and prod-a). For dev clusters we have the following labels:
[code]
and for prod cluster:
[code]
So, what I'm talking about is the ability to use these labels in the templating like the example below:
[code]
This applicationset will generate 3 apps with the following names:

**demoservice-dev-a
demoservice-dev-b
demoservice-prod-a

[2021-04-28 06:12] LiorLieberman commented on #199
Thinking maybe to add it into repo_service, GetDirectories function, but I am not sure this is the right place.
Regarding the key in the spec, I think we could have another optional key under `directories` like `pathExists` or  a `filters` struct and inside it `pathExists` or `directoryFileExists`.

example 1:
[code]

example2:
[code]

[2021-04-29 13:57] #80 closed

[2021-04-29 14:39] #214 closed

[2021-04-29 15:35] jgwest commented on #199
Cool, how about this:
[code]

*onlyIncludeWithFileMatch*: This is a bit longer than `pathExists` or `directoryFileExists`, but I think it's still acceptable, and has the advantage of concisely explaining the behaviour: only include the directory if a file matches.
- It contains an array of strings, which lets the user specify multiple values (which could be useful)
- Those string are filepath.Matc

[2021-04-30 06:12] WillooWisp opened #218 "How to get an ApplicationSet to spawn Applications in Argo CD?"
I've been installing the ApplicationSet together with Argo CD 2.0.0 and 2.0.1 without any success in spawning applications from a any generators. Maybe I am missing something trivial, but how do you get the ApplicationSet into Argo CD?

I have tried adding an Application in Argo CD with a path to a folder in the git repo that contains a spec for an ApplicationSet, or several. I can see the argocd-

[2021-04-30 11:18] jgwest commented on #218
Hi @WillooWisp , I suggest double checking that the ApplicationSet controller is installed into the same namespace as the Argo CD you are connecting to.

Next, I suggest trying some of the examples, for example, the very simple [list generator example](https://github.com/argoproj-labs/applicationset/tree/master/examples/list-generator).

You should just be able to do:
[code]

And then within momen

[2021-04-30 11:59] WillooWisp commented on #218
It is in the same namespace. So I guess the problem might be that there is no way of adding an ApplicationSet using Argo CD CLI or UI which is what I have tried.

[2021-04-30 12:19] jgwest commented on #218
@WillooWisp correct, there is no way of adding an ApplicationSet via UI or CLI (at this time), it's currently just via kubernetes CRs. But, you should still see the Applications that  ApplicationSet controller creates (eg `engineering-dev-guestbook` from my example above), in the Argo CD Web UI Applications view.

[2021-04-30 12:26] jgwest opened #219 "ApplicationSets that initially fail validation might not be re-reconciled"
ApplicationSets that are invalid the first time that they are processed might become valid at a later time. For example:
- A `project` is referenced that doesn't exist at time of ApplicationSet create, but is later created
- A `cluster` is referenced that doesn't exist at time of creation, but is later created.

But the way that we are currently processing errors from `validateGeneratedApplication

[2021-04-30 12:38] WillooWisp commented on #218
But it will automatically pick up changes from the git repo, e.g. if using the directory generators without reapplying the yaml spec with kubectl? I mean if I add or remove new folder from git that generator will automatically add or remove an Argo CD application?

[2021-04-30 13:23] LiorLieberman commented on #218
Hi @WillooWisp, it depends on the policy flag you run applicationset-controller binary. You probably have the applicationset conroller deployment with [this](https://github.com/argoproj-labs/applicationset/blob/master/manifests/base/deployment.yaml#L19-L20) spec.
So the default policy flag is sync which will delete the application in case you delete the directory from git.
If you want to prevent i

[2021-04-30 13:27] travisghansen commented on #219
Thanks for addressing!

[2021-04-30 13:42] LiorLieberman commented on #199
My initial thinking was to check for a presence of one file (usually a value-file that its name changes between environments), how would it work with multiple files? should they all have to be included or just one of them?

Again, would it be OR or AND between the multiple values?

Based on my initial thinking `onlyIncludeWithFileMatch` wont be a perfect description since we just want to check for

[2021-04-30 14:25] wreed4 opened #220 "Issue #170 is not solved when using `server`, only when using `name` for destination"
`ValidationDestination` is being used [here](https://github.com/argoproj-labs/applicationset/blob/v0.1.0/pkg/controllers/applicationset_controller.go#L560) to determine if we should remove the finalizer.  You can see in its implementation [here](https://github.com/argoproj/argo-cd/blob/master/util/argo/argo.go#L296), the entire function only does any validation when `dest.Name != ""`.  So when usi

[2021-04-30 14:52] jgwest commented on #199
I was thinking it would be an OR  between the multiple values, which should work well with your use case, and might provide useful flexibility. But, I'm just guessing at what others might find useful...  :smile:

[2021-04-30 18:03] wreed4 commented on #220
linking these issues #170  #171

[2021-04-30 23:13] christianh814 commented on #213
Why not use the Git File generator?

[2021-04-30 23:17] christianh814 opened #221 "RFE: Support for "SyncWaves" for ApplicationSets"
# Support for "SyncWaves" for ApplicationSets

ApplicationSets currently does not have support for "syncwaves" like how "App of Apps" does. This is a RFE to provide this same concept with something that we're calling a "syncset". A "syncset" is conceptually the same as a "syncwave".

The current proposed specification is to match the "syncset" by the `Application` name that the `ApplicationSet` ge

[2021-05-01 09:32] maruina commented on #221
Hey @christianh814 , we found the same issue and decided to build a controller around that: https://github.com/Skyscanner/argocd-progressive-rollout

You basically define in your CRD _how_ you want to update your generated Applications, and the operator will do the sync for you

It's very alpha stage, we will have something for testing when we complete Milestone 2. Happy to hear any feedback you m

[2021-05-01 18:45] LiorLieberman commented on #199
Sure, and thanks for that.
I can go with your offer. How would you suggest implementing it ? I am not sure GetDirectories would be the perfect place.
Do you have something on your mind?

[2021-05-03 12:01] jgwest commented on #199
`GetDirectories` looks like a reasonable place to put it, unless there is an issue with that that you are seeing?

Perhaps something like this:
[code]

[2021-05-03 13:02] an-tex commented on #162
I'd even go as far as making none of the fields required. This way you could not only use the list generator to generate applications for different clusters, but for any kind (esp. useful if you only deploy to the local cluster only anyway). E.g. I'm just playing around with ApplicationSet to generate Applications for a subset of kustomize directories (as it's a subset you can't use the directorie

[2021-05-03 18:07] mksha opened #222 "Support Webhooks trigger For Git generators in application set"
Currently in application set if we use git generator files, then it will poll the specified repo in every 3 min, but I think either we should allow the use to change the polling period or support the use of git webhook For Git generators so the changes to the files can be detected immediately rather than waiting for 3 min.

[2021-05-04 13:54] #106 closed

[2021-05-05 11:02] arnitolog commented on #213
but with git generator, I have to have a config file with static cluster endpoints. But what I'm looking for is a way to generate/deploy the application to any newly registered cluster of the specific type (line Dev/Prod/UAT) without the need to add/modify values files and/or destination endpoints

[2021-05-05 11:19] #103 closed

[2021-05-05 18:02] jgwest commented on #120
https://github.com/argoproj/argo-helm/tree/master/charts/argocd-applicationset :tada:

[2021-05-05 18:02] #120 closed

[2021-05-05 18:03] #157 closed

[2021-05-06 06:36] WillooWisp commented on #114
I'm looking for a way to combine git directory and file generators together, so they merge. I want applications to be generated based on directories in a folder, but I want to specify additional properties for each application in a config file, e.g. namespace overrides per application and other specific settings. I that possible today or something that this merge generator would solve?

The use ca

[2021-05-06 11:05] jgwest commented on #114
Hi @WillooWisp , for the current release (0.1.0) the closest you can get for this scenario is the Git file generator, which would get you most of the way there (but you would need to define config files for each directory, unlike the Git directory generator which will automatically identify directories).

When the Matrix generator is merged (and released),  you would be able to use it to combine G

[2021-05-06 15:10] jnpacker commented on #158
Created a prototype to see how this might work, I will post a link to a branch here.

[2021-05-07 11:24] jgwest opened #227 "Intermittent E2E test failure on TestSimpleGitFilesPreserveResourcesOnDeletion"
There is an intermittent test failure in one of the new E2E tests, 'TestSimpleGitFilesPreserveResourcesOnDeletion', occurring since  https://github.com/argoproj-labs/applicationset/pull/223 was merged.

It looks like this in the logs:
[code]

[2021-05-07 14:06] #185 closed

[2021-05-07 16:52] stecky commented on #114
I am also looking to solve a similar scenario as @WillooWisp. **Any estimate on when this might be available?**

To be clear, I am trying to avoid the app-of-apps pattern without having to deploy each app separately:

Here is what I am thinking for my structure (which is very similar to the [git-generator-files-discovery](https://github.com/argoproj-labs/applicationset/tree/master/examples/git-gen

[2021-05-10 14:31] #216 closed

[2021-05-12 11:06] #227 closed

[2021-05-12 12:26] mksha opened #230 "Application set not able to delete k8s resources of child application"
Hi,
I, currently have a application set (parent), which creates a child argo application (child).
When i delete the argo parent app or application set it does not remove the child application k8s resources at all and leave them behind.

Argo cd details:

argocd: v2.0.1+33eaf11.dirty
  BuildDate: 2021-04-21T18:44:13Z
  GitCommit: 33eaf11e3abd8c761c726e815cbb4b6af7dcb030
  GitTreeState: dirty
  GoVe

[2021-05-12 12:26] mksha commented on #230
@jgwest @rtnpro pls have a look at above issue

[2021-05-12 13:42] jgwest commented on #230
Hi @mksha, what version of ApplicationSet controller?

[2021-05-12 14:11] rtnpro commented on #230
I see here: https://github.com/argoproj-labs/applicationset/blob/master/pkg/controllers/applicationset_controller.go#L549 that ApplicationSet controller uses the Kubernetes Controller client to delete the `Application` specs it created.

@mksha Do you mean that the `Application` specs generated by `ApplicationSet` do not get removed when `ApplicationSet` is deleted? Or the k8s resources like `depl

[2021-05-12 14:36] mksha commented on #230
Application Controller version :  https://raw.githubusercontent.com/argoproj-labs/applicationset/v0.1.0/manifests/install.yaml
@jgwest

[2021-05-12 14:39] mksha commented on #230
apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: myapp
  namespace: argocd
  # Add a this finalizer ONLY if you want these to cascade delete.
  # A cascade delete, deletes both the app and its resources, rather than only the app.
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  generators:
  - git:
      repoURL: ssh://git@git.something.com:8728/test/myapp.

[2021-05-12 14:40] mksha commented on #230
then in my repo i have apps/dev/config.json
@jgwest  @rtnpro

[2021-05-12 14:41] mksha commented on #230
when i delete the dev folder from repo then application set deletes the app created for dev, but does not delete the k8s resources of that app.

[2021-05-12 14:41] jgwest commented on #230
You should not add this finalizer to the ApplicationSet:
[code]

[2021-05-12 14:42] mksha commented on #230
is there any logs that i can see that is tries to delete the k8s resources .
in which deployment should i take a look in argo for debugging this issue

[2021-05-12 14:42] mksha commented on #230
I also tried without that, but does not work

[2021-05-12 14:43] mksha commented on #230
again, i am not deleting the application itself, i am delete one of the application created by application set.

[2021-05-12 14:49] jgwest commented on #230
You should not delete an individual application that is managed by an ApplicationSet; if you do, the ApplicationSet controller will immediately recreate it, eg I don't think deleting an individual Application will accomplish what you are looking for.

In any case, the actual deletion of an Application's child resources is handled by Argo CD, rather than the ApplicationSet controller.

[2021-05-12 16:44] mksha commented on #230
again, i am not doing manually, as my application set is monitoring a repo where i have multiple app
apps
-- app1
---app2
---app3

so applciation set will create a argo app for each folder.
and if i add 4th folder and commit mhy code argo will automatically create the new argo app 4 using application set.
but when i delete the folder , then application set automatically deletes the argo app, but n

[2021-05-13 14:43] jgwest commented on #230
Hi @mksha, I am not able to reproduce:

I create this example ApplicationSet, based on the one you specified:
[code]

I apply it, and see the ApplicationSet and Applications created.

I delete a `config.json` file from the `test` branch of https://github.com/jgwest/applicationset.git, which is what it is pointing to.

When the ApplicationSet generator reconciles the ApplicationSet, the Application

[2021-05-14 02:25] #102 closed

[2021-05-14 09:19] mksha commented on #230
Hi @jgwest  are you right. It working on my local cluster. It seems like either its some issue on my dev cluster or some restriction in argocd config that is stopping argo to delete the k8s resources. But on local it works fine while i am using default project.

Thanks for taking a look and trying it out.
is there any idea what could stop the argo to delete the k8s resources. project ? role? or so

[2021-05-14 09:32] #230 closed

[2021-05-14 10:32] jgwest commented on #230
@mksha You can check the Argo CD pod logs to make sure, for example, that Argo CD has permission to delete the resources, and/or if any other error messages are thrown, that would be my only guess.

[2021-05-14 13:01] jgwest commented on #189
Thanks again for reporting this, closing in favour of #166 as both will have the same fix (described above).

[2021-05-14 13:01] #189 closed

[2021-05-14 14:10] jgwest opened #232 "Use a fixed version of controller-gen in the Makefile to generate manifests"
The Makefile we're using to generate the ApplicationSet manifests (and the CI checks that check the resulting artifacts) shouldn't assume a specific version of `controller-gen` is installed on the user's path.

This is the same type of fix we previously made for `kustomize` on https://github.com/argoproj-labs/applicationset/issues/206. We will download the appropriate `controller-gen` version to `

[2021-05-14 18:27] jgwest opened #234 "Update build scripts to target 'argoproj/applicationset' on quay.io"
The default build/install artifacts currently point to an old org/repo, and since we are already hosting the `0.1.0` image under the `argoproj/argocd-applicationset` on quay.io, we should update the build scripts to point to this location as well.

[2021-05-17 11:33] #192 closed

[2021-05-17 16:23] #114 closed

[2021-05-18 16:24] jgwest opened #236 "Matrix generator support for combining generator parameters with matching keys"
This issue and discussion was kicked off from the [excellent comment](https://github.com/argoproj-labs/applicationset/pull/205#issuecomment-840596910) from @winmillwill on the Matrix generator PR.

At present, if the Matrix generator's child generators produce parameters with matching keys, an error will be returned (unless the parameter keys exactly match). For example, @winmillwill noted that bo

[2021-05-18 17:38] winmillwill commented on #236
Personally, I'm a little bit perplexed by the non-matrix use case of ApplicationSet and the multiple generators in a generator... those cases seem better served by just making another ApplicationSet. I'd be interested in a successor that just flattened the whole thing so that you have N generators of different types (so generators is an object keyed by type) and they all feed one template, and it

[2021-05-18 19:43] OmerKahani commented on #28
The link is broken, the git file generator had been implemented - I'm closing it for now

[2021-05-18 19:43] #28 closed

[2021-05-18 19:46] OmerKahani commented on #34
@rtnpro can you please add an example applicationset YAML that solves your use case?

[2021-05-18 19:55] OmerKahani commented on #71
Hi, what do you think about this structure (based on argocd ApplicationStatus)
[code]

[2021-05-18 20:09] OmerKahani commented on #162
@jgwest what do you think about:

I agree with this (and can see the use cases for generic list), but it is a breaking change

[2021-05-19 15:29] safe2008 commented on #180
Hi All,
I'm work around with build new my own docker images (docker pull quay.io/safe2008/argocd-applicationset).
It's work with current master branch.

`annotations:
        notifications.argoproj.io/subscribe.on-deployed.slack: "devops-argocd"`

images on my slack.
![image](https://user-images.githubusercontent.com/74587391/118840128-4dfd3100-b8f1-11eb-96de-69b5cb5946af.png)

[2021-05-19 21:48] rumstead commented on #221
https://github.com/argoproj-labs/applicationset/issues/61 feels very similar to this.

[2021-05-20 01:14] #232 closed

[2021-05-20 11:08] jgwest commented on #236
Thanks for taking the time to write up your thoughts @winmillwill :+1: !

Re: the ability to specify multiple generators at the `generators:` level: I can see an advantage to this original structure, which does allow you to manage a union of all the values from a single ApplicationSet (rather than needing to keep multiple separate ApplicationSets in sync, reducing 'DRY-ness').  But you are right t

[2021-05-20 13:15] winmillwill commented on #236
I want to explicitly say: I think the `paramPrefix` is a fine, non-invasive change that only makes things better. Anyone who doesn't want to use it doesn't have to.

[2021-05-21 18:16] chetan-rns commented on #166
@jgwest Could you please assign it to me? Will give it a try over the weekend :)

[2021-05-23 12:13] dorroddorrod opened #238 "Support log-level for controller logs"
**@jgwest EDIT:**
Enhancement Request:
Add support for configurable log levels via [parameter](https://github.com/argoproj-labs/applicationset/blob/48a7b47da0552b9e5a518704e25489ab4a36645c/main.go#L81), eg the ability to set additional log levels beyond just the `--debug` parameter support we have now. For example, as requested, ability to set the log level to only show error or warn.

**Original

[2021-05-24 13:00] rumstead commented on #149
@jgwest, why not publish a "latest" image on every commit to master?

[2021-05-24 15:51] marcozov commented on #173
@andrejpetras that part is for passing those values as a string to the field `values` of the application, right? Why don't you like the current approach of your PoC? I'm not 100% sure I understand the other approaches that you are suggesting.

[2021-05-24 20:15] #166 closed

[2021-05-24 20:40] jgwest commented on #71
The way that Argo CD does conditions actually seems counter to current best practices around conditions: https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-conventions.md#typical-status-properties

The API conventions page suggests the following condition fields:
[code]

In addition to having conditions for each application, as you suggested, we can also ha

[2021-05-24 20:47] jgwest commented on #238
Hi @dorroddorrod , you can add `--debug` parameter to the `argocd-applicationset-controller` Deployment, eg:
`kubectl edit deployment/argocd-applicationset-controller`, and add this line:
[code]

Or you can edit the install.yaml, add the line as above, and reapply using `kubectl apply -f install.yaml`:
https://github.com/argoproj-labs/applicationset/blob/48a7b47da0552b9e5a518704e25489ab4a36645c/ma

[2021-05-24 20:49] jgwest commented on #149
@rumstead Working on it :smile:.

[2021-05-24 20:51] dorroddorrod commented on #238
Hi @jgwest
Thank for your reply
I want to change the log level to warn and not to debug.
Currently the info logs are bombarding our logging database (ES)

[2021-05-26 00:15] jgwest commented on #238
Ah, gotcha, sorry about that :sweat_smile:, we don't have that currently, and the logs are definitely verbose by default. Let me convert this issue into an enhancement for that.

[2021-05-26 00:28] jgwest opened #244 "Meta issue: Add backend support for creating ApplicationSets via Argo CD UI and CLI"
How to add support for creating ApplicationSets via the Argo CD Web UI/CLI, by adding support to the ApplicationSet and API Server backends:
https://docs.google.com/document/d/1Qt7OhfENMK1iqUFGOGeADZZVP9PAjpGM-MzAW5md77g/edit?usp=sharing

This was discussed at the May 13th, 2021, Argo CD Contributor Experience meeting.

The proposal was generally accepted, with the only major suggestion being  tha

[2021-05-26 07:55] rtnpro commented on #34
Let's say I have multiple staging and production clusters clusters, how do we deploy a workload only to a cluster in a environment. I had tried to brainstorm patterns to get this working, using `one`, `any`, etc. functions, but could not come up with a satisfactory pattern. Also, `one` function of `expr` library does not behave the way I expected it to. It returns `True` only if there's only one e

[2021-05-26 11:00] mksha opened #245 "TestGetFileContent test is failing when running go test, on Mac"
[code]

[2021-05-26 11:01] mksha commented on #245
@jgwest when we tried to build an image using master branch that seems like go tests are failing.

[2021-05-26 12:13] jgwest commented on #245
Hi @mksha , interesting, can you provide more information on how are you building your image:
- Version of Docker/Podman (including operating system version)
- Exact command used to build it
- Exact Dockerfile used to build it

And if you have any idea why your OS temporary directory is `/var/folders/55/y1ln_mzn4cg9f605bphmkgbc0000gr/T/` rather than `/tmp` that would be useful too. I'm guessing th

[2021-05-26 12:16] jgwest commented on #245
Ah, figured it out, looks like Mac doesn't use `/tmp` as temp directory, and we've hardcoded `/tmp` in the test itself. I will fix it, and In the mean time, as a workaround, you can comment out that test.

[2021-05-26 12:35] mksha commented on #245
yeah, that is the issue, sorry for late response.

[2021-05-26 12:40] mksha commented on #245
for now, i pointed the location to my system's temporary location :)

[2021-05-26 13:40] rumstead commented on #238
Do we have any thoughts on how this should be implemented? Ie, instead of taking `debug` argument, accept an arbitrary log level?

Accept 2 for backward compatibility?
Ie, `--debug` == `--loglevel debug`
`--loglevel info, trace, debug, error`

Any suggestions on which `info` logs should be changed to debug/trace?

[2021-05-27 04:42] chetan-rns commented on #222
@jgwest I would like to work on this. Could you please assign it to me?

[2021-05-27 11:59] jgwest commented on #238
Awesome, thanks @rumstead.

Exactly as you said, it couldn't hurt to keep `--debug` for the time being, and add `--loglevel (info, trace, debug, error)` ([just like Argo CD](https://github.com/argoproj/argo-cd/blob/54ec2fcadbde259bfe5b4461ba4cc3a395fc147e/cmd/argocd-application-controller/commands/argocd_application_controller.go#L146))

Open to suggestions re: which info logs should be downgraded

[2021-05-27 13:22] rumstead commented on #238
@jgwest feel free to assign to me

[2021-05-27 16:07] rumstead commented on #238
Ok, so the majority of the logs are coming from the git clients in ArgoCD.

Their [git clients](https://github.com/argoproj/argo-cd/blob/c2547dca95437fdbb4d1e984b0592e6b9110d37f/util/git/client.go) every time it runs a command -> [hits this method ](https://github.com/argoproj/argo-cd/blob/c2547dca95437fdbb4d1e984b0592e6b9110d37f/util/git/client.go#L503) -> [which captures tracing spans](https://g

[2021-05-28 05:09] LS80 commented on #213
@arnitolog I had the same thought about an enhancement to the cluster generator. It could also be used to add cluster specific labels to the `Application`.

[2021-05-28 12:39] #245 closed

[2021-05-30 12:02] jgwest commented on #238
@rumstead, looks like we're stuck with those messages for now, without an upstream Argo CD patch to reduce their verbosity.

[2021-05-30 17:43] mksha opened #252 "Failed to parse matrix generator"
While using matrix generator , getting validation error.

error validating data: ValidationError(ApplicationSet.spec.generators[0]): unknown field "matrix" in io.argoproj.v1alpha1.ApplicationSet.spec.generators

used spec

[code]

[2021-05-30 17:49] mksha commented on #252
used the same example given in the example folder.
https://github.com/argoproj-labs/applicationset/blob/master/examples/matrix/list-and-git.yaml

@OmerKahani  pls help , if we are missing something,

Image build from commit : 48a7b47da0552b9e5a518704e25489ab4a36645c
apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet

[2021-05-30 17:52] mksha commented on #252
@jgwest

[2021-05-31 11:03] jgwest commented on #252
HI @mksha, you likely need to `kubectl apply -f manifests/crds/argoproj.io_applicationsets.yaml` with the version of this file from the build you are using.

[2021-05-31 11:20] #234 closed

[2021-05-31 11:33] mksha commented on #252
@jgwest  if that is the case, then it seems like we need to apply install.yaml and this CRD also every time when a change releases?

[2021-06-01 08:26] jgwest commented on #252
That's correct, every time a PR is merged that updates the ApplicationSet CRD, if/when you install that build you need to ensure that the CRD is applied to your cluster when first using that build.

[2021-06-01 14:01] rumstead commented on #238
Ok, the PR adds the scaffolding to support multiple log levels.

[2021-06-02 06:44] WillooWisp commented on #114
Any plans for when this matrix generator will be released?

[2021-06-02 09:00] marcozov opened #254 ".metadata.finalizers cannot be turned off for the generated apps"
Any application created by an ApplicationSet also comes with a configured `.metadata.finalizers` field: https://argocd-applicationset.readthedocs.io/en/stable/Application-Deletion/ .

While this is a nice feature and it makes sense for 90% of the cases, there could still be the chance where it can be desirable to be able to turn it off.
For instance, if we are using the git generator and we want t

[2021-06-02 13:12] #238 closed

[2021-06-02 13:45] stecky commented on #114
@WillooWisp I don't think you have to wait for a release, do you? I think you can just follow the [Getting Started](https://argocd-applicationset.readthedocs.io/en/stable/Geting-Started/) steps and just change the url to point to the master branch instead of the `v0.1.0` tag.
So... https://raw.githubusercontent.com/argoproj-labs/applicationset/master/manifests/install.yaml

[2021-06-02 14:02] jgwest commented on #254
Hi @marcozov, this should now be handled by https://github.com/argoproj-labs/applicationset/pull/223 with the `preserveResourcesOnDeletion` field, see [here](https://github.com/argoproj-labs/applicationset/blob/master/docs/Application-Deletion.md) for a description of the new behaviour.

[2021-06-02 14:03] jgwest commented on #114
@WillooWisp see https://github.com/argoproj-labs/applicationset/discussions/225 for discussion of release cadence.

[2021-06-02 16:02] jgwest opened #255 "Automatically build and push a container image to argoproj/argocd-applicationset:latest on each `master` commit"
Similar to the Argo CD `.github/workflows/image.yaml` job, we would like to automatically perform a container build of the latest commits to master, and push them to `argoproj/argocd-applicationset:latest`.

This would allow folks to test development versions of Argo CD, which have passed unit and E2E tests, but not completed full release testing (as would come with every release).

[2021-06-02 20:40] rumstead commented on #252
I ran into that same issue. When #255 is completed, you can just use HEAD as your remote kustomize base (hopefully for just testing out the latest changes :))

[2021-06-03 01:48] joebowbeer commented on #174
The combined v0.1.0 ApplicationSet + ArgoCD installation is installing argocd 2.0.0, while its current stable version is 2.0.3. Can you release a combined manifest that tracks the latest stable argocd?

[2021-06-03 12:58] mksha opened #257 "Report errors on ArgoCD UI"
Currently,  if we are having any errors for a particular application set then we are not getting any notification on argocd ui. It allows us to create application set successfully. But ideally it should fail if there is some issue during creation.

Currently we are taking a look at application set pod to figure out what is wrong. but ideally either application set creation should fail or report th

[2021-06-03 17:00] jgwest commented on #257
This would likely be implemented by https://github.com/argoproj-labs/applicationset/issues/71 plus a custom health check in Argo CD for the ApplicationSet resource

[2021-06-03 18:08] paveq opened #258 "Git-files should support {{path}}"
It would be useful to be able to use {{path}} template variable in git-files generator, to get path of config.json in thee source repo. We have config.json in the same directory as manifests, and it is little bit silly having to those path to config.json within the config.json file itself.

[2021-06-04 14:55] #255 closed

[2021-06-05 06:14] mksha commented on #71
may be we can add the list of generated application in the status  field

[2021-06-07 11:57] jgwest commented on #258
Agreed @paveq, I presume you are looking for the **folder path** that the `config.json` files is in (for example,  `/clusters/clusterA`) rather than a path to the actual config file (for example, `/clusters/clusterA/config.json`)?

[2021-06-07 12:27] bitfactory-henno-schooljan commented on #258
This would be a great addition. I currently have configurations in the form  of `/application/environment.yaml`, e.g. `/app1/test.yml`, `/app2/acceptance.yaml` and so on, and it would be nice if I could extract these components from the path somehow instead of having to duplicate these into the configuration files as variables.

With the folder path I could use the `{{ path.basename }}` to extract

[2021-06-07 17:51] jgwest commented on #258
So then the new parameters would be:
- `{{ path }}` = path to the folder containing the config.json (eg `/clusters/clusterA`)
- `{{ path.basename }}` = basename of path to the folder (eg `clusterA`)

[2021-06-07 18:15] jgwest opened #259 "Update documentation to mention development builds"
Now that https://github.com/argoproj-labs/applicationset/pull/256 has merged, we have development builds that allow folks to test post-release features and bug fixes.

We should document this on the front page README.md and in RTD.

[2021-06-07 19:28] #252 closed

[2021-06-08 09:59] WillooWisp commented on #218
Okay, but the template part in the application set, generating the application, supports argocd specific elements like plugin an sync options?

[2021-06-08 11:01] WillooWisp commented on #218
I must be doing something very wrong but I cannot get applications to spawn.

Now I run 0.1.0 version of applicationset, I've also tried the very latest.

I run...

[code]

No guestbook application gets added.

Logs from applicationset controller pod...

[code]

[2021-06-09 14:31] WillooWisp commented on #218
That worked so all applications sets must belong to the same namespace as argocd?

[2021-06-09 18:39] jgwest opened #261 "Remove the unused SkipPrune option from ApplicationSetSyncPolicy"
The `SkipPrune` option in `ApplicationSetSyncPolicy` has never been implemented, and is currently unusued, AFAICT, and is likewise not referenced in any examples or in the initial design doc.

The behaviour described by the comment on `SkipPrune` is handled by a non-cascading delete, and by `preserveResourcesOnDeletion`. See the [Application Deletion behaviour](https://github.com/argoproj-labs/app

[2021-06-09 20:30] WillooWisp opened #262 "Merge multiple generators to have a config file per app"
I started experimenting with the matrix generator, in hope of combining the directory generator with a config file per directory, e.g. making it possible to have a specific config.json file per application to generate to be able to specify specific namespace per application, or specific sync settings per application. Is this possible somehow?

[code]

[2021-06-10 12:11] jgwest commented on #218
@WillooWisp Correct: in the same way that with Argo CD all Argo CD Applications need to be in the Argo CD namespace (eg argocd), all ApplicationSets need to be there as well.

[2021-06-10 12:37] ishitasequeira commented on #261
@jgwest I would like to work on this issue.

[2021-06-10 15:33] #218 closed

[2021-06-10 17:48] jgwest commented on #262
Thanks for the detailed example and explanation, very helpful for visualizing your question. I can't think of a way to do that with the current matrix generator as it exists, but I can definitely see how that would be useful.

Just brainstorming off the top of my head here, not committing to any changes :smile:, but here's a pseudo-example where I could see it working something like this:
[code]

[2021-06-11 13:45] #158 closed

[2021-06-14 14:58] jgwest opened #265 "Split generators into separate doc pages, plus general doc updates"
As the generator documentation grows, and the number of generators grow, it now makes sense to split the generators into their own RTD doc pages.

[2021-06-14 17:03] JTarball commented on #173
The changes in https://github.com/argoproj-labs/applicationset/pull/211 seem to work if you specify a specific key.

Do we have an eta for being able to do something like below with the values when we need more flexibility

        helm:
          releaseName: '{{path.basename}}'
          values: |
            {{values}}

[2021-06-14 17:39] mksha commented on #173
even more than that we need a capability to pass the values file as pure yaml to values:
currently, it flattens the yaml and json so we can not pass the nested values as map.

But it would be really helpful if we make application set generator as normal go template that allows to pass any kind of yaml values and then we use it through variable inside application set itself.

for example
in some-va

[2021-06-14 17:39] mksha commented on #173
let me know if i can help

[2021-06-14 19:02] andrejpetras commented on #173
@marcozov is working for me. The downside is that you can not do this: `{{ parent.value.attribute }}`. You have only `{{ parent }}` which represents string.

@mksha I like `go template` but I am no sure if it is the right solution for this case, for example it could be in conflict with  `helm`. But I agree we need a more powerful template engine.

[2021-06-15 16:12] LS80 opened #266 "Option to exclude clusters based on label values"
An option to exclude certain clusters based on a label value would be useful. Something like adding `excludeLabels` alongside the existing `matchLabels` perhaps.

[code]

[2021-06-15 19:29] jgwest commented on #266
Hi @LS80, try using the `matchExpressions` field of the selector for this, [like so](https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/#resources-that-support-set-based-requirements), specifically the `operator: NotIn` operator.

[2021-06-15 20:04] LS80 commented on #266
Thanks, that does indeed fulfil the requirement 😄

[2021-06-15 20:04] #266 closed

[2021-06-16 12:56] ishitasequeira commented on #162
@jgwest I would like to work on this issue.

[2021-06-16 18:54] pratikzingade opened #269 "ApplicationSet with git directories generator not recognizing `exclude`"
I am using ArgoCD `v1.7.6+b04c25e` and I am just trying the POC for `ApplicationSet`.

Installed ApplicationSet by running `kubectl`
[code]

Here is my ApplicationSet file -

[code]

When I check in ^^ file or just type `kubectl apply -f dev-app-discovery.yaml -n argocd` I see that it does not recognize `exclude` path.
I want `apps/overlays/dev/common` to be excluded and I don't want an applicatio

[2021-06-16 22:13] bplotnick-humane opened #270 "Support github app authentication"
This functionality was added to argocd in https://github.com/argoproj/argo-cd/issues/4348

[2021-06-17 13:05] #259 closed

[2021-06-17 13:09] jgwest commented on #269
Hi @pratikzingade, the exclude feature was added to the ApplicationSet controller after 0.1.0 is released. Until the next release is available, you would need to use a development build if you wish to use exclude. See https://github.com/argoproj-labs/applicationset/blob/master/docs/Geting-Started.md#development-builds for details.

[2021-06-17 15:56] pratikzingade commented on #269
Thanks @jgwest Can you share the timeline for next release, I was able to install the dev build and get `exclude` working, thanks for pointing to the docs.

[2021-06-18 15:52] #169 closed

[2021-06-18 19:53] jnpacker opened #271 "ClusterDecisionResource support for labels."
## Current functionality
In the ClusterDecisionResource generator, we find the decision resource using the resources name.

## Problem
There will be cases where the name for this resource may come from `metadata.generateName`, where we don't want to always be updating the ApplicationSet spec (such as a gitops flow).  There are also cases where one might desire to select multiple decision resources

[2021-06-21 16:29] jgwest commented on #269
@pratikzingade We aim to release alongside Argo CD major releases (v2.x.0 releases, next would be v2.1)... you can track their latest milestone here: https://github.com/argoproj/argo-cd/milestone/22 (admittedly these are a bit longer than many would like, so I'm working on improving our ability to release more frequently with better test automation...)

[2021-06-22 15:15] jgwest opened #273 "Document 'values' field of cluster and list generators"
The cluster and list generator documentation is currently missing a mention of the `values` field, which can be used to add arbitrary parameters.

[2021-06-22 20:31] #265 closed

[2021-06-22 20:56] #261 closed

[2021-06-24 10:57] alexanderdalloz commented on #202
@jgwest Whom are you requesting for help? Anything I can do to help you find a valid solution? Can this issue be escalated within the Argo project?

[2021-06-25 08:25] gerardgorrion opened #276 "Can't see applicationset into ArgoCD ui"
Hi all,

We are deploying argocd with some applicationset. current config of application set:

Installation argocd:
[code]

[code]

The applications of the repo was deployed into cluster destination, but only see the application deployed, not the applicationset, like this screenshoot:

#218

How can we do to manage applicationsets into argocd ui?

Regards,

[2021-06-25 17:53] jgwest commented on #276
Hi @gerardgorrion,

The Argo CD 'Application List' UI doesn't have direct support for ApplicationSets, the Argo CD UI will only show Argo CD `Application` resources on the 'Application List' View. Likewise, you can't create ApplicationSets via the Argo CD UI/CLI, it must be done from Kubernetes control plane (for example via `kubectl`).

In the case of #218, the poster has an `Application` resourc

[2021-06-29 10:36] gerardgorrion commented on #276
Thanks a lot for your answer @jgwest

Someone knows if the applicationset will promoted to stable into argocdproj? We aren't sure to use a lab into production environment...

thanks

[2021-06-29 14:38] jgwest commented on #276
@gerardgorrion  Working on it :smile:

[2021-06-30 07:41] parasappafluke opened #279 "Multiple Repositories with git generator instead of monolithic repository"
Hi,
 is it possible configure multiple git repositories with git generators directory subtype, instead of one monolithic git repository to have all the k8s apps configs?

[2021-07-01 13:38] yogeek opened #280 "Add support for gitlab in SCM generator"
Hello :-)

SCM generator is awesome, but I cannot use it for now because we use a private gitlab instance.
As the question about it has not been answered in Slack, I open this issue to know if some work has been started on gitlab support into the SCM generator.
Thanks

[2021-07-01 14:32] jgwest commented on #279
Hi @parasappafluke , take a look at the development builds:
https://github.com/argoproj-labs/applicationset#development-builds

Specifically, recent builds have an [SCM Provider generator](https://argocd-applicationset.readthedocs.io/en/master/Generators-SCM-Provider/) which will look at a GitHub organization and extract the Git repositories URLs from it. This can be used to source multiple Git re

[2021-07-01 14:36] jgwest commented on #280
Hi @yogeek, adding GitLab support would be great! The SCM provider generator (and it's GitHub support) was contributed by an Argo CD community member, and likewise GitLab support would need to come from community folks that are interested in this feature.

TLDR: PR requests welcome :smile: .

[2021-07-01 16:28] yogeek commented on #280
Hi @jgwest , ok thanks for your answer 👍
I do not know golang but I will try to have a look into the gitlab go library to explore and identify where to start.

[2021-07-02 07:28] parasappafluke commented on #279
This may solve my problem. However i have follow up questions.
1. Can we combine this with list generator in Matrix generator.
2. To name **argocd application** inside the template, is it possible to have **path.basename** of tracking directory, like how we have in git generator directory subtype.

[2021-07-02 14:11] #73 closed

[2021-07-05 15:52] zwennesm commented on #280
Not trying to hijack this issue but it might be related. I am getting the following error when applying an `ApplicationSet` with a private Gitlab repository using HTTPS using the git generator. Is this the same issue or just a misconfiguration?

[code]

[2021-07-05 21:00] jgwest opened #284 "Update release process docs and include release checklist in docs"
Update the release process docs, include moving the release checklist markdown (used in the 0.1.0 release) into the RTD docs.

[2021-07-06 06:10] jgwest commented on #175
I've confirmed that the Argo CD PR https://github.com/argoproj/argo-cd/pull/6557 fixes the issues we were seeing on cluster secret deletion; but we will need to wait for people to move off unpatched versions of Argo CD before we remove the workaround here.

[2021-07-06 12:11] hanzala1234 opened #285 "Git directories generator does not iterate over particular sub-directory inside folders"
I have my gitops directory structure as follows

[code]

I want to write _ApplicationSet_ that will pick 01-dev folder inside all application folder and create "Application" for that. I tried below code but it did not generate any "Application"

[code]

Am I writing a wrong regex or its not supported at all?

I have different clusters and argocd deployment for different environment. I want to writ

[2021-07-06 13:09] zwennesm opened #286 ""Could not read Username for 'https://gitlab.com'" when using private Gitlab repositories with the git generator"
Hello there,
I am seeing some strange errors regarding authentication when trying to generate applications based on a git directory located on a private Gitlab repository. Could it be that the applicationsets controller is currently not using the secrets from the argocd namespace with a `argocd.argoproj.io/secret-type: repository` tag?

[code]

Logs returned by the applicationset controller:

[cod

[2021-07-06 14:31] dominykas opened #287 "Non-string template variables (alt: template overrides from git)"
I have a bunch of applications loaded from git.

Sometimes we need to stop syncing per application.

It seems there is currently no way to achieve this? If I got it right:

- You cannot set `syncPolicy.automated.selfHeal` to `'{{ autoSync }}'` as `selfHeal` needs to be a boolean. Having only strings as variables is quite a heavy limitation
	- Another place where I have this issue is `valueFiles` f

[2021-07-06 14:44] tenevdev opened #288 "Add option to use background deletion propagation policy for applications"
Some resources in my applications only support background deletion. I couldn't find a way to set this option for applications created by an application set.

[2021-07-07 01:42] jgwest commented on #279
1. Yes, this will work
2. Hmm, can you give me an example of how you would see this working? Eg what values you parameter valueswould expect to see for the `path.basename`?

[2021-07-07 13:38] jgwest commented on #285
@hanzala1234 Try removing the `/` from the end, eg:
[code]
This worked for me. If this works for you, let me know and I'll update the docs to better communicate this.

[2021-07-07 13:48] jgwest commented on #286
Hi @zwennesm , it looks like this is an issue with an earlier release of Argo CD:
https://github.com/argoproj/argo-cd/issues/6228

To get around it, you can first install latest Argo CD:
https://argoproj.github.io/argo-cd/getting_started/#1-install-argo-cd
This will install Argo CD v2.0.4, which is newer than the one packaged with ApplicationSet controller, and should contain the fix.

Then, insta

[2021-07-07 23:44] #280 closed

[2021-07-08 09:24] meier-christoph commented on #254
Hi @jgwest, do you have an idea of when this will be available in a release ?

Yesterday, I deleted the wrong ApplicationSet by mistake and it started to teardown 2 of our clusters. I got lucky and it was not our production but still this is way too dangerous for our use case and I would like to know whether I should fork this project or if this will be available soon.

[2021-07-08 11:56] zwennesm commented on #286
Hey there @jgwest, thanks for looking into this.

I was already running the `latest` version so I am not sure if that's the problem. I tested the same `ApplicationSet` with versions: `v2.0.4`, `master`, and `release-2.0-hotfix`, but the same problem occurs with all versions.

Just for full information, my secret looks like this:

[code]

[2021-07-08 12:11] zwennesm commented on #286
Nevermind that, I forgot that I removed a repository. Confirmed that updating to `v.2.0.4` does indeed fix this issue.

[2021-07-08 12:13] #286 closed

[2021-07-08 18:28] #174 closed

[2021-07-09 16:09] #288 closed

[2021-07-12 02:59] jgwest commented on #254
Hi @meier-christoph , the plan is to release end of July (alongside Argo CD v2.1).

[2021-07-12 03:05] jgwest commented on #271
I believe this is now completed, since #272 has merged.

[2021-07-12 03:05] #271 closed

[2021-07-12 06:35] jgwest opened #291 "Gathering contributor list for ApplicationSet controller v0.2.0 release announcement"
### :arrow_right:  Please let me know ASAP if you (or someone you know) has ApplicationSet v0.2.0 contributions and is not on the below list (I **really** don't want to miss anyone :smile: !).  :arrow_left:

I'm working on a draft of the v0.2.0 release announcement, and I'd like to make sure that everyone that has contributed to ApplicationSet is shouted out for their contributions to the Applicat

[2021-07-12 06:49] vivienfricadelamadeus commented on #291
Hello @jgwest, thanks for the notification, my name is **Vivien Fricadel**

[2021-07-12 07:19] jgwest commented on #291
:sunglasses:, thanks Vivien, I've updated the list.

[2021-07-12 08:23] #269 closed

[2021-07-12 08:24] #254 closed

[2021-07-12 10:34] parasappafluke opened #292 "skip or exclude some applications deployment to prod env"
Hi,
is there way we can exclude some directories/apps for particular cluster?
below is my repository structure(mono repo). I'm using Matrix generator with git and list generator to deploy all the applications in the apps dir. Some application we want to skip deployment to prod cluster e.g `app2` in below structure .
Currently i have created a single applicationset-matrix.yaml file.
`.
├── applicat

[2021-07-13 05:39] #220 closed

[2021-07-13 07:01] dominykas commented on #287
Looking at the example from the thread, yes - it could work for the use cases I'm thinking of.

Thanks!

[2021-07-13 14:27] jgwest commented on #291
Thanks John, I've updated the list :+1:

[2021-07-13 17:39] #162 closed

[2021-07-13 18:36] jgwest opened #293 "Support for extracting parent path/base names for Git file/directory generators {{path}}"
As discussed [here](https://cloud-native.slack.com/archives/C01U45M2SVB/p1626115983314500) (amongst other places), there exists an obvious need with the Git generator to extract components of paths for use in ApplicationSet templates.

At present (on the [master](https://argocd-applicationset.readthedocs.io/en/master/Generators-Git/) branch), the Git file and Git directory generators generate the

[2021-07-14 16:50] #33 closed

[2021-07-15 12:18] #219 closed

[2021-07-15 12:26] benjamin-bergia commented on #293
Hi @jgwest,

I happen to be testing applicationset and I am stuck to this exact same issue. My apps are using the following directory layout `./applicationName/environments/namespaceName`. Currently, there is no way for me to retrieve the `applicationName`. Could you give few more examples? I initially thought that `{{ path }}` could be a simple list of the files that has been found with their pat

[2021-07-19 12:53] jgwest opened #300 "ApplicationSet 0.2.0 release notes (draft)"
**NOTE:** This is pre-release draft text for the ApplicationSet 0.2.0 release notes: content is not relevant until on or after release day.

# (WIP) Draft Release Notes

I am happy to announce the second release of the Argo CD ApplicationSet controller, v0.2.0. Many new features were contributed as part of this release, including support for combining generator parameters, support for building Arg

[2021-07-20 09:46] c0deaddict commented on #180
I'm also encountering this issue. Will this be fixed in the next release? If so, when will the next release be?

[2021-07-20 12:09] jgwest commented on #180
@c0deaddict Should release within the next week or two (depends on when Argo CD 2.1 releases)... you can use a development build to try it out in the mean time, if you are curious.

[2021-07-20 14:26] jgwest opened #301 "Update Dockerfile to latest Argo CD base and better cleanup apt dependencies"
Update the ApplicaitonSet Dockerfile to the latest Argo CD base (Ubuntu 21.04) and better cleanup apt dependencies, reducing the image size.

[2021-07-21 12:00] #301 closed

[2021-07-21 13:29] vavdoshka opened #303 "Ability to have default templated values or sprig usage in template"
It would be useful to have a way to set the default values in the template where dynamic values are being used. As an example with git generator:

[code]

And Let’s say we have these generator data:
1.
[code]

2.
[code]

And this will work, but if one has to create many applications all across different clusters/environments/namespaces it will look redundant to specify the same values for majority

[2021-07-21 16:08] jgwest opened #304 "Investigate Argo CD deletion failure messages when running ApplicationSet E2E tests in on-cluster configuration"
The ApplicationSet E2E tests work great when Argo CD and ApplicationSet controller are running locally (not on cluster) via the traditional test instructions (and run via GitHub Actions CI), but there seem to be an issue with Argo CD not correctly deleting Applications when run via pods on the cluster.

Argo CD application-controller message logs:

[code]

Failure looks like this in the E2E test:

[2021-07-21 17:05] vavdoshka commented on #303
interesting fact that if the templated value is not defined in the data, the application can be created successfully and receive the reference verbatim`{{target-cluster.name}}`. Works in case of environment variables definitions, and as a workaround, the proper default even can be handled downstream in the plugin (we use helmfile), but this will not work with any non-environment variables settings

[2021-07-22 04:00] elocke commented on #293
Leaving a note here that I'm in the same situation and hacked some stuff together with file generators that are just:

[code]

would make my directories cleaner if I could do path[0]. although I think I would like to be able to do reverse ordering in case of a folder being nested deeper

[2021-07-22 06:57] c0deaddict commented on #180
Awesome, thanks for the update!

[2021-07-22 08:51] rouke-broersma commented on #287
We are investigating using ApplicationSets to provision helm applications. Helm supports list templating and we use this to generate n amount of resources from a helm values list. Since ApplicationSets currently only supports strings we cannot use ApplicationSets to provision our applications.

Since json/yaml is used as the substitution configuration it makes sense to me that ApplicationSets shou

[2021-07-22 12:53] bo0ts opened #305 "Git generator with a git repository using a custom CA fails"
I'm trying to use git generator with a git repository that uses a custom CA.

The certificate is configured in argocd itself and I can use the repository there without a problem or without specifying insecure connections.

Is this a bug in applicationset? Is there a way to provide a certificate or allow insecure connections?

[code]

This is the error in the application set controller:

[code]

[2021-07-22 13:22] mksha commented on #303
yes, it would be great if we can have built in methods available in sprig .

[2021-07-22 16:04] sbose78 commented on #202
Hey @alexanderdalloz , thank you for providing a snippet of the Dockerfile, we are validating it!

[2021-07-22 19:27] alvarogonzalez-packlink opened #306 "Sanitize application names"
**Summary**: automatically generated application names (with a template variable, like `{{path.basename}}`, should be sanitized to avoid problematic characters.

**Background**: We have almost a hundred microservices with all its kustomize templates in a repository, so we've created an ApplicationSet using the git generator with this name template:
[code]
Everything seems to work properly until we

[2021-07-23 10:34] benjsec opened #308 "Template conflicts when deploying via helm"
When trying to deploy an ApplicationSet via a helm chart (e.g. as part of an app-of-apps setup) the `{{` used for templating is captured by helm and causes an error as helm can't interpret the value/function enclosed.

There are ways to prevent helm from trying to template this discussed in https://github.com/helm/helm/issues/2798 and may be worth including some recommended methods for handling th

[2021-07-23 10:57] jgwest commented on #305
HI @bo0ts, interesting, this should be working (eg your scenario as described is supported), are you by chance installing Argo CD via either the Argo CD operator (or the OpenShift GitOps operator which is based on it), or the ApplicationSet helm chart? Eg rather than using the `install.yaml` from the ApplicationSet install? (I ask because there was an issue with [`volumes`](https://github.com/argo

[2021-07-23 12:56] bo0ts commented on #305
@jgwest Thanks for the quick reply. ApplicationSet controller is installed via ArgoCD operator 0.0.15 (installed via OLM in OKD 4.5). The abridged ArgoCD CR is:

[code]

[2021-07-23 14:03] #212 closed

[2021-07-23 15:32] jgwest commented on #305
Ah, in that case you are hitting this issue in the argocd-operator: https://github.com/argoproj-labs/argocd-operator/issues/289
(The bug itself mentions SSH, but the same issue applies to HTTPs as well: failure to mount the configmaps/secrets used by Argo CD for verification)

This was actually [fixed in argocd-operator back in late April](https://github.com/argoproj-labs/argocd-operator/pull/291)

[2021-07-23 17:59] jgwest opened #309 "Update Argo CD dependency to latest, and update changed APIs"
Update the Argo CD dependencies to the latest `master` branch, in order to pick up recent changes to repository logic.

[2021-07-25 18:44] rotemjac opened #311 "Applicationset controller pod crash when git files generator detects wrong value in a json file"
Below is my setup.

1) The 'git-generator-files.yaml':

[code]

2) The relevant part in one of the json files under 'my-deployment/cluster-config/some-folder/some-file.json':

[code]

Inserting the integer value of 1 instead of string value of "1" in all the "*_count" fields above will cause the Applicationset controller pod to crash with the following error:

`E0725 18:28:21.249579 1 runtime.go:7

[2021-07-26 09:49] sreejithwpg opened #312 "How to remove a single application from ApplicationSets"
is it possible to remove a single application from ApplicationSets temporarily and add it later

[2021-07-26 11:22] jgwest commented on #311
Hi @rotemjac, thanks for taking the time to file a bug and for the detailed explanation. Fortunately, we previously saw this issue [here](https://github.com/argoproj-labs/applicationset/issues/192), and the fix there applies here as well. To ensure that the issue fixes your reported behaviour I recreated the ApplicationSet from what you specified above, and everything works as expected with the la

[2021-07-26 14:44] #309 closed

[2021-07-26 15:18] jgwest commented on #202
I've got good news and bad news, for running ApplicationSet controller on OpenShift 3.11:

**Good news**: I was able to get access to an OpenShift v3.11 cluster, and was able to confirm that the Dockerfile does work. But, I hit other issues...

**Bad news**: Argo CD v2.0.x and ApplicationSet v0.1.0 both no longer support the `apiextensions.k8s.io/v1beta1` version of the `CustomResourceDefinition`

[2021-07-26 18:30] jgwest opened #314 "Add GITHUB_TOKEN and GITLAB_TOKEN to actions and test secrets"
To avoid issues with rate limiting on our GitHub/GitLab tests, we should add GITHUB_TOKEN and GITLAB_TOKEN to the secrets of the repository, and hook them up to the actions.

[2021-07-27 09:08] #305 closed

[2021-07-27 09:08] bo0ts commented on #305
The workaround in the linked issue fixes the problem.

[2021-07-27 09:40] bo0ts opened #315 "ApplicationSet spec.destination.server does not support named servers in 0.1.0"
ArgoCD Applications allow for `destination.server` to be the name of a cluster instead of the adress. The validation of applicationset does not seem to take this into account and does not create the applications.

[code]

Results in error:

[code]

[2021-07-27 10:30] jgwest commented on #315
Hi @bo0ts, in your example I believe this should be:
[code]

The `server` field is used for the URL, and the `name` refers to the name of the cluster. Let me know if this doesn't solve the issue... (it's perhaps not the clearest terminology, but we inherit this from Argo CD spec)

[2021-07-27 10:32] jgwest commented on #312
Hi @sreejithwpg, not at this time - I wrote up a new doc page on this topic you might be interested in: https://github.com/argoproj-labs/applicationset/blob/master/docs/Controlling-Resource-Modification.md

[2021-07-27 10:33] #276 closed

[2021-07-27 10:39] #273 closed

[2021-07-27 11:01] gebn opened #316 "[Feature] Cluster name generator"
Firstly, thanks for creating the `ApplicationSet` resource - it saves a lot of duplication. This is a feature request/design doc for a new selection mechanism on the cluster generator that simply takes a list of cluster names, and generates `Application`s as if that set had been selected via labels.

### Motivation

Developers are familiar with cluster names, but aren’t necessarily aware of API se

[2021-07-27 15:48] c0deaddict commented on #222
Would love to see this in applicationset :heart: Any update on this?

[2021-07-27 16:10] sreejithwpg commented on #312
Hi @jgwest
Thanks for your clarification. One more question is it possible to manage applicationSets using API?
Also, in a scenario like I have created an application and deploying an application using git generator. I just removed one directory from the git repo and resynced the applicationSet. Will the applicationSet remove the application that corresponds to the removed directory?

[2021-07-27 16:16] jgwest commented on #312
RE: API, not at this time, but I can certainly see the benefit of that. Right now all interactions with ApplicationSet controller are via the `ApplicationSet` resource in k8s.

Re: Removing a directory from git repo, yes the Application will be removed as soon as next the git generator sync happens.

[2021-07-27 16:20] sreejithwpg commented on #312
Hi @jgwest

Is there any way to sync the controller forcefully? Like using API or argocd cli

Thanks in advance

[2021-07-27 16:23] jgwest commented on #312
@sreejithwpg not yet, that feature is being track here: https://github.com/argoproj-labs/applicationset/issues/222

[2021-07-27 16:34] sreejithwpg commented on #312
@jgwest Thanks for the update

[2021-07-28 09:22] alexanderdalloz commented on #202
@jgwest, many thanks for noticing the API deprecation. I do understand that this is in fact a serious reason why OpenShift 3.11 (with k8s 1.11) is no longer supported by current Argo CD and ApplicationSet.

[2021-07-28 09:55] mkasinat opened #319 "Cert health check is not woking as expected in argocd"
Hi Team,

 **Issue Description** - Recently we have implemented the cert health check on argocd but it is not considering the cert health condition failure.

Expected Result: When ever the certificate is not auto renewed or cert status as degrade we need to make the app status as degrade instead of healthy.

**Code Used to implement the cert health check -**
   resource.customizations.health.cert-

[2021-07-28 10:12] #319 closed

[2021-07-28 10:13] mkasinat commented on #319
Wrong raised this repo and placed the issue into wrong repo

[2021-07-28 14:42] chetan-rns commented on #222
@c0deaddict  I've started looking into it. Will try to get the PR ready this week

[2021-07-30 08:40] alexanderdalloz opened #321 "Functional request: ignore Helm Chart type library"
Helm distinguished between application and library charts.
https://helm.sh/docs/topics/charts/#chart-types

"The library chart provides utilities or functions for the chart builder. A library chart differs from an application chart because it is not installable and usually doesn't contain any resource objects."

ApplicationSet tries to deploy library charts while Helm would not, and the deployment

[2021-07-30 13:46] mick1627 opened #322 "Application continuously updated (3 times per seconde)"
After the creation on an ApplicationSet, the applicationset-controller update the application continuously (about 2 times per secondes)

It should wait 3 minutes between 2 updates.

`

It's running on Kubernetes version  v1.20.9-gke.300
Here the ApplicationSet created :

[code]

[2021-08-02 07:30] c0deaddict commented on #222
Awesome! :heart:

[2021-08-02 10:15] bo0ts commented on #315
Thanks, I completely missed this in the existing spec.

[2021-08-02 10:15] #315 closed

[2021-08-02 11:15] gulativishwas opened #323 "Allow Git Files Generator to refer to one file per application"
### Motivation
Currently, the Git file Generator supports creation of applications for multiple environments by creating
config.json/yaml files for each environment. The number of config files increases rapidly if the number of environments
is large.
We tried using the Matrix Generator (Git File Generator and Cluster Generator) with a directory structure as follows:
[code]
The appset and config fi

[2021-08-02 18:31] pdrastil opened #324 "Cluster generator doesn't substitute templates for missing annotations"
Hi, I was trying to use cluster generator with value from `{{ metadata.annotations.optionalKey }}` field that is passed into Helm chart as an input parameter. In scenario when my `optionalKey` annotation is missing the Helm parameter contain non-substituted template mentioned above. Is this correct behaviour? I would expect that all templates should be replaced and if the value is not present in t

[2021-08-03 12:30] mksha commented on #291
@jgwest  when are we planning to release 0.2.0 ?

[2021-08-03 13:28] jgwest opened #325 "Matrix generator's getParams should check error return to avoid panic"
When the Matrix generator returns an error (for example, open of the child generators failed to successfully complete), the error is ignored and an array is indexed out-of-bounds. See full error message below.

As reported on Slack:
https://cloud-native.slack.com/archives/C01U45M2SVB/p1627898541004300

Log:
[code]

[2021-08-03 14:47] jgwest opened #327 "Add missing generators to supported Matrix child generators list"
The SCM Provider and Cluster Decision Resources generators were inadvertently left out of the list of Matrix generators, and should be added back.

[2021-08-03 22:14] rogfut opened #329 "git fetch fails when running ArgoCD v2.1.0-rc2"
## Issue Description
When running ArgoCD v2.1.0-rc2 with an ApplicationSet configured to pull from a private gitlab repo, the applicationset pod fails to run git fetch with fatal error 128.

A normal ArgoCD Application was able to git fetch from the same configured gitlab repo so the issue seems specific to ApplicationSet.

Downgrading ArgoCD to 2.0.5 resolved the issue.

## Repro Steps

1. config

[2021-08-04 10:24] obeyler opened #330 "generate unique key for each application base on a salt"
feature proposal
I'm looking for a way to create unique password for each application deployed by application set.
by example a nice way could be
[code]
I already use argo-vault-plugin to get salt value so at the end it should be like:
value: '{{name + salt | md5sum}}' => value: '{{name +<path:kv/data/global/#salt> | md5sum}}'

[2021-08-04 14:31] jgwest commented on #329
HI @rogfut , I tried with latest Argo CD (v2.1.0-rc2) and latest ApplicationSet controller (v0.2.0 RC) and was able to add a private GitLab repo without any issues (both controllers were able to access it fine).

Any more information you can provide to help reproduce the issue? (FWIW the address in the exception `https://gitlab.rogerfutrell.com` doesn't resolve for me, but I assume this is a priva

[2021-08-04 15:27] #325 closed

[2021-08-04 15:30] #327 closed

[2021-08-04 16:24] EugeneLugovtsov commented on #329
The issue is reproduced with applicationsets v0.1.1. After updating to v0.2.0 everything work as a charm :)

[2021-08-04 17:16] rogfut commented on #329
Thanks @EugeneLugovtsov, it looks like I was running Applicationsets v 0.1.0.  I'll try again with argocd v2.1.0-rc2 and applicationset v0.2.0  when I get the chance.

@jgwest Sorry the repro info was minimal, I blew away the install by reverting to argocd 2.0.5 to unblock myself before logging the bug.  If you are interested I can setup another repro of ArgoCD v2.1.0-rc2 and ApplicationSet v0.1.0

[2021-08-04 18:21] jgwest commented on #329
Ahh, thanks @rogfut and @EugeneLugovtsov , this makes sense: this is likely due to a new feature in ArgoCD v2.1, where repository details are now stored as separate Secrets, rather than in ConfigMaps, described [here](https://argo-cd.readthedocs.io/en/latest/operator-manual/declarative-setup/#repositories).

ApplicationSet v0.2.0 (RC) knows how to read these, and thus uses them when connecting to

[2021-08-04 20:32] jgwest commented on #323
Thanks for the detailed explanation of how you are using the existing generators, and for your use case! This is very helpful for helping myself and others as we reason about how folks are using ApplicationSets to model and deploy their application repository file/folder structures. It's definitely the case that the Git file generator has a tendency to devolve into the need to manage a bunch of sm

[2021-08-05 14:50] gulativishwas commented on #323
Thanks for reviewing this!

Adding my thoughts on your questions:

I feel that all the fields in config.json/yaml could be arbitrary.
The requirement is for the Generator to generate applications for all the enviroments if the versions are listed, if they are not,
it should simply function like the current Git Files Generator.

Somewhat like:
[code]

How I imaging this is, the way we substitute th

[2021-08-05 15:56] corradomatt commented on #323
This is similar to the functionality I'm looking for as well (but truth be told I haven't experimented with AppSets just yet). However we would supply different versions as well as different values per cluster. Currently we're using a custom plugin with ArgoCD that takes advantage of Helm and Helmfile where our directory structure looks like this...

[code]

Our workloads.yaml file looks like...
[

[2021-08-05 17:00] #329 closed

[2021-08-05 17:05] jgwest opened #331 "ApplicationSet controller v0.2.0 Release Checklist"
## Release Checklist

First, follow the instructions [on the release process RTD docs page](https://argocd-applicationset.readthedocs.io/en/stable/Releasing/).

Once complete, this is a set of checks to perform once you have a commit, tags, release, docs, and container image.

#### Once you have completed a release, the following should be true:
- [x] A `release-(numbered version)` branch exists i

[2021-08-05 18:44] rumstead commented on #323
@corradomatt if I am understanding correctly I think this is almost exactly what you have. I *think* this would work for you if you can put [helm parameters](https://argoproj.github.io/argo-cd/user-guide/helm/#build-environment) in the config file.

I don't quite follow the 'merging' part but I could see a lot of value in having a default value that can be overridden. Ie, for a helm/kustomize para

[2021-08-05 20:20] corradomatt commented on #323
Thanks @rumstead I think it's similar to my use-case for sure but there might be challenges. For the merging of values we have global values that should be applied to all clusters for a particular app as well as values that are cluster specific which get merged before an ArgoCD sync. We could easily move those global values up to be chart defaults in our custom helm charts to cover that situation.

[2021-08-05 20:38] rumstead commented on #323
Agreed. I would love to be able to do:

config.yaml/json:
[code]

[2021-08-09 21:28] pdrastil opened #334 "Resource modification limitation problem with Argo notification controller"
As stated in documentation ApplicationSet controller will not ignore changes to individual fields. This seems to be a massive problem when Argo runs together with Argo notification controller that injects annotation with last event state into the Application resource. Adding / removing this annotation all the time will result in never ending spam to whatever event sink that is configured. I would

[2021-08-10 12:19] pdrastil commented on #334
Already resolved in #193

[2021-08-10 12:19] #334 closed

[2021-08-10 14:28] benjamin-bergia opened #335 "Remove mandatory fields in list generators"
In the current list generator, cluster and url are mandatory fields. This doesn't seem to make much sense since it is already covered by the cluster generator. Unfortunately there is currently no way to use the list generator to pass a list of arbitrary objects.
For example, I would like to pass a list of application names since my repository doesn't play well with the current implementation of th

[2021-08-10 18:22] jgwest commented on #335
I completely agree, and I have good news, @benjamin-bergia :smile:, see https://github.com/argoproj-labs/applicationset/pull/290

It doesn't (yet?) allow arbitrary objects, but the existing restrictions no longer apply: https://github.com/argoproj-labs/applicationset/blob/master/docs/Generators-List.md

Presuming this is what you are looking for, you can try it out in a development build now, or w

[2021-08-10 19:24] jgwest opened #336 "Disable SCM Provider Unit tests on PRs"
I was hoping not to have to do this, by adding https://github.com/argoproj-labs/applicationset/issues/314, but unfortunately I didn't realize that PRs don't get access to repository secrets (which of course makes sense).

So the only alternative is to limit the GitHub Action SCM provider unit tests to master branch (and to run the tests locally during reviews).

[2021-08-11 09:21] benjamin-bergia commented on #335
Hi @jgwest,
thank you for your quick reply. I went over the changes in v0.2.0 but I missed that one. Sorry about that. I just deployed it on my cluster and the list generator is working as expected.

[2021-08-11 09:21] #335 closed

[2021-08-11 12:53] alexanderdalloz opened #338 "argocd-applicationset-controller Pod loses ssh-known-hosts ConfigMap mount"
Today we faced the second time on a different cluster than before the case that the argocd-applicationset-controller v0.1.0 Pod has lost its ConfigMap mount of the ssh-known-hosts.

Following is being logged by the Pod in such case:

[code]

No mass event of such type of defect seen for other applications. All other Pods of Argo CD on the same cluster do not have that issue at the same time, i.e.

[2021-08-11 13:41] jgwest commented on #335
@benjamin-bergia  :sunglasses:

[2021-08-11 14:52] rumstead commented on #323
#173 Feels related as well.

Another idea would be able to determine the git directory path based on a label/annotation from the cluster secret.

Assuming:
I have 3 clusters registered with ArgoCD. Each with a label/annotation called `cluster/name`.
1. dev-cluster -> `cluster/name: dev'
2. stage-cluster -> 'cluster/name: stage'
3. prod-1-cluster -> 'cluster/name: prod-1'

My GIT directory structur

[2021-08-11 14:53] alexanderdalloz commented on #338
Hi @jgwest, please let me answer your questions:

- yes, SCCs are in place; the OpenShift default ones plus a few custom ones; none SCC specific for Argo CD or ApplicationSet
[code]

- on a worker node
[code]
no PID limit as parameter of kubelet in the process list

- accidentially I have seen an argocd-applicationset-controller Pod in Terminating state and a new one starting
Checking some cluster

[2021-08-11 17:54] jgwest commented on #338
OK, everything there sounds correct, and it doesn't seem like anything you describe above would cause the issue.

Is it possible that some other container/OS process on the worker node is hogging all the processes? I'm not a Kubernetes/OpenShift admin so I don't know if there is an official way of checking this, beyond just SSHing into the underlying worker node and doing `sudo ps -ef | wc -l` to

[2021-08-12 14:32] jgwest commented on #338
Those values _are_ exposed, but my understanding is they came from `kubebuilder` template, and haven't had a lot of love since then, so they aren't guaranteed to actually work as expected :smile: . For example: https://github.com/argoproj-labs/applicationset/issues/123

If you do have success using them, I'd be interested to hear.

[2021-08-12 15:56] #311 closed

[2021-08-13 15:27] rumstead commented on #323
@jgwest  @gulativishwas  @corradomatt curious about all your thoughts. we are looking to use something like this in the near future are happy to implement it once we have an agreed-upon solution.

[2021-08-13 17:06] voldemortensen opened #339 "Unable to set parameter overrides"
On applications created with an ApplicationSet I am unable to set parameter overrides that are persistent. After running
`argocd app set some-app -p some-parameter=new-value` the parameter is set for a few seconds but is removed when the next reconcile runs.

[2021-08-14 14:09] m-yosefpor commented on #244
This feature is really needed for providing self service multi-tenant argocd to users and removes the pressure from argocd-administrators. Thanks @jgwest, the design docs are really great and comprehensive. IMHO as you already mentioned, merging this repo with main argocd drops the need for many back and forth  gRPC calls between these components and makes design and development much simpler, and

[2021-08-14 14:10] m-yosefpor opened #340 "Bug: Add support for argocd v2.1"
In argocd v2.1, the repositories and repository credential templates have been factored out of argocd-cm to separate secrets. [docs link](https://argoproj.github.io/argo-cd/operator-manual/upgrading/2.0-2.1/#replacing-repositories-and-repositorycredentials-with-secrets) . Argocd application controller does not currently support this format and will result in `Permission denied` Errors on those pri

[2021-08-16 17:01] corradomatt commented on #323
I like the idea of cluster labels being used in the AppSet. I can't speak about my opinion overall because I have yet to play with the AppSet feature ... we're still using the standard Application controllers. I'm hoping to be able to start investigating AppSet within a week or so.

[2021-08-16 22:55] jgwest commented on #340
Hi @m-yosefpor , these should now be supported as of https://github.com/argoproj-labs/applicationset/pull/310, what version of ApplicationSet controller are you testing with?

[2021-08-16 22:56] jgwest opened #342 "Update to master branch major version and metadata"
Tracking issue for 'master' branch changes for moving up to the next ApplicationSet version (0.3.0).

[2021-08-17 10:08] gulativishwas commented on #323
@rumstead I also like the idea of the cluster labels being used. If we all agree, we should leverage the cluster labels like  `{{metadata.annotations.cluster/name}}` in possibly all the generators.

This would make something like this possible as well (which would be handy to reduce the number of apps that matrix generator creates):
[code]

[2021-08-18 15:38] jnpacker commented on #71
I agree with @mksha a condition that the generator was successful, not sure if there is a concern of a long list of clusters.

Some possible conditions:
* Generator complete: True/False
* Labels match NO clusters
* List has a cluster name NOT found in Argo CD
* CustomDecisionResource shows a cluster NOT found in Argo CD

[2021-08-18 18:23] jgwest commented on #71
Yah, on the issue of the `.status.applications` field being way too long if you have lots of clusters, agreed. We can probably mitigate that to some degree. But in any case, lets move implementation of that part of this issue to a separate issue, so that it doesn't block adding conditions. I'll handle that.

For your condition examples, would it be possible to instead include those in the `reasons

[2021-08-19 00:31] alexmt opened #344 "Support 'union' generator"
# Summary

Support generator that allows to "union" several generators and override output of one generator with values of another generator.

The new generator is supposed to solve the following use cases:
* User wants to install the same application into all clusters with default parameters but override some parameters in couple clusters
* User wants to install the same application into all clus

[2021-08-19 11:45] jnpacker commented on #71
A single condition would work for tracking errors. I was thinking the reverse of a list of clusters that matched though, but a list of clusters that didn't match between the decision resource and what is in Argo.  For now I would represent that as a count. Butt I also feel this might be more of a warning condition vs an error.. if for example two clusters didn't match between the decision resource

[2021-08-19 13:28] dorroddorrod opened #345 "Cannot disable Aut-sync for apps made by applicationset controller"
Hi,
When generating Argo applications using ApplicationSet resource with `spec.template.syncPolicy.automated`, i'm unable to disable the sync policy from the UI or CLI, therefor, i'm not able to make a deployment rollback.

https://user-images.githubusercontent.com/31075689/130076793-2ebc9377-067d-4fd6-9f92-306e8b3bda77.mov

[2021-08-19 22:33] jgwest opened #346 "Intermittent Git process lock error on TestListMatrixGenerator on E2E tests"
There appears to be an intermittent issue with the E2E tests where Git will report that `Another git process seems to be running in this repository`, and the test will fail.

Since the ApplicationSet controller is entirely single-threaded, this is likely due to a clash betwen Argo CD's repo server and the ApplicationSet controller, both writing to `/tmp/https:__github.com_argoproj_argocd-example-a

[2021-08-20 01:04] #340 closed

[2021-08-20 02:47] jgwest commented on #323
Hey all, so, it seems there are a few different ideas here being discussed here, which I thought I would individually tease out.

## Idea: 'Blueprint file format'

What I see being described here is something I might call a blueprint file: A file (or files), which live in Git, and which describe (in some fashion) how to create multiple Applications (with a minimum of data duplication). This is the

[2021-08-20 13:51] jgwest opened #347 "Add 'applications' field to ApplicationSet 'status' field, which would indicate errors/conditions for individual applications"
This issue is a follow up to issue #71, which adds `.status.conditions` to ApplicationSet. This issue is opened to track adding `.status.applications` to ApplicationSet CRD. Under this new field conditions for individual applications would be added.

**Note**: There is some concern (myself included), that what is proposed below is too verbose (will produce a status field whose payload is too large

[2021-08-20 16:14] #300 closed

[2021-08-20 16:14] #291 closed

[2021-08-20 16:47] jgwest opened #348 "Ensure that `install.yaml` and `install-with-argo-cd.yaml` under `manifests/` points to the desired ApplicationSet version."

[2021-08-20 22:50] jgwest commented on #348
Hmm, I guess you can open tasks via the checklist? :eyes:

[2021-08-20 22:50] #348 closed

[2021-08-20 22:55] jgwest commented on #331
Released! :tada: :tada: :tada:

[2021-08-20 22:56] #331 closed

[2021-08-20 23:00] jgwest commented on #345
Hi @dorroddorrod , this is due to the way the the ApplicationSet controller manages all the individual Applications it creates. For this release, I documented this behaviour and rationale here: https://argocd-applicationset.readthedocs.io/en/stable/Controlling-Resource-Modification/#limitation-no-support-for-manual-edits-to-individual-applications

[2021-08-20 23:01] jgwest commented on #339
Hi @voldemortensen  , this is due to the way the the ApplicationSet controller manages the individual Applications it creates. For this release, I documented this behaviour and rationale here: https://argocd-applicationset.readthedocs.io/en/stable/Controlling-Resource-Modification/#limitation-no-support-for-manual-edits-to-individual-applications

[2021-08-23 13:24] #342 closed

[2021-08-23 14:26] Checksumz opened #350 "Git file generator should support {{path.basename.parentfolder}}"
It would be useful to be able to use {{path.basename.parentfolder}} template variable in git-files generator, to get parent folder name of chart deployed. Assuming one has the below folder structure one can easily obtain the parent folder while running the application set which can be used for the namespace variable in the destination.

[code]

eg 1:
path: kube-infra/dns-infra/*
path.basename.pare

[2021-08-24 00:23] #336 closed

[2021-08-24 01:33] r0bj opened #351 "add ability to modify template variable"
It would be helpful to be able to use some filters on template variables, similar to helm template replace: `myapp-{{ $cluster | replace "_" "-" }}`.

Example ApplicationSet:
[code]
It generates error:
[code]

GKE clusters use underscore in cluster names. Using those clusters in list generator is failing due to usage of not allowed characters. If we could use some sort of variable filter to replac

[2021-08-24 03:36] tuxknight opened #352 "applicationset could not generate applications while when encountered an error in validateGeneratedApplications."
The controller could not generate applications after fix errors in validateGeneratedApplications.

Version:   `quay.io/argocdapplicationset/argocd-applicationset@sha256:bd62ff6ee18f16e9021ae89e347cd6ded960d6054bdd3c608fc05acdf8a03bc3`

Detail logs:

[code]

This error was due to the missing application project qa. But after creating project qa, applications are not generated.

[2021-08-24 12:59] Checksumz commented on #350
@jgwest  i was planning to write code for this if this gets approved, please let me know your thoughts on it.

[2021-08-24 15:34] stecky commented on #292
I am also interested in this

[2021-08-24 21:01] erkerb4 commented on #213
I also think this would be a good enhancement to the cluster generator.

[2021-08-25 15:36] jgwest commented on #350
Hey @Checksumz , check out this issue, and let me know what you think: https://github.com/argoproj-labs/applicationset/issues/293

[2021-08-25 15:39] jgwest commented on #352
Hi @tuxknight , this is likely due to https://github.com/argoproj-labs/applicationset/issues/126 , which has been fixed in v0.2.0.

[2021-08-25 21:15] AndresJulia opened #353 "Pass a list on git files generator"
Argo doesn't seem to recognize ```{{app.test}}```  list on the config.json

[code]

Is there any way around this ?

[2021-08-26 04:50] alexmt opened #354 "The git files generator is slow"
# Summary

Git files generator is consuming too much time because it execute `git fetch` `git checkout` for each discovered file.

# Steps

* Follow steps from [documentation](https://github.com/argoproj-labs/applicationset/blob/master/docs/Generators-Git.md#git-generator-files) to configure file generator
* Make sure repository has ~30 files
* Check controller logs: controller executes  `git fetc

[2021-08-26 05:11] alexmt opened #356 "Gracefully handle application validation errors"
# Summary

Application set validates generated applications (which is good) but refuses to create any application even if only one of the generates apps is invalid. Instead, the controller should generate valid applications and skip only invalid ones.

Here is a sample use case where current behavior causes confusion.
* App set generates an application that references cluster A
* Generator source

[2021-08-29 09:52] Segflow opened #358 "[Proposal]: Git Branch generator"
We recently started to use Argo CD as a deployment tool. After checking the application set, we believe it's a nice addition to have "Git Branch" generator.

I can work on the implementation myself, and I believe this will be a nice good first contribution. This issue is more to discuss the spec and the behavior (as well as how we should name things).

Similar to file and directory generator, we p

[2021-08-31 13:43] #354 closed

[2021-08-31 13:44] #352 closed

[2021-08-31 13:44] #350 closed

[2021-09-01 02:57] Checksumz commented on #350
Thanks @jgwest that looks good, sorry for the delayed reply

[2021-09-01 18:12] jamessthompson opened #359 "policy=create-update - applications still deleted"
I've configured the applicationset controller with a policy of create-update per https://argocd-applicationset.readthedocs.io/en/stable/Controlling-Resource-Modification/#policy-create-update-prevent-applicationset-controller-from-deleting-applications

I can see the policy being passed into the controller

[code]
When I apply the appliationset into the argocd namespace, I see applications created

[2021-09-02 04:39] r0bj commented on #316
@gebn assuming that clusters are defined in Argo CD with names we could do something like this:
[code]
Does it cover your use case?

[2021-09-02 06:35] gebn commented on #316
@r0bj The more-flexible list generator in v0.2 gets us a lot closer. We'd still be missing the `metadata.labels.*` and `metadata.annotations.*` attributes pulled from cluster secrets. I think this PR still reduces the likelihood of error, however at a push they could all be reproduced in the config. It's certainly less of an improvement than for v0.1, which shows this project is moving in the righ

[2021-09-02 07:56] farodin91 opened #361 "Allow to filter each generator by a selector like a labelSelector"
We are currently use applicationset to deploy multiple applications into a same set of clusters, but some application are just need in certain clusters. It would be greated to use a selector to post filter any generator output.

Idea:
[code]

[2021-09-02 15:19] #79 closed

[2021-09-02 15:28] jgwest opened #362 "Add a new untyped template field, to support passing JSON/YAML objects into ApplicationSet template fields"
This issue is opened to discuss the passing of JSON/YAML objects into the `template`, rather than just individual string parameters.

This would be the ability, with the Git file generator, to pass a config.yaml like this (or equiv JSON):
[code]

and then have an ApplicationSet with a template like this:
[code]

Such that when the Application is generated for this ApplicationSet, the YAML object (

[2021-09-02 15:43] jgwest opened #363 "Add GitHub action to run E2E tests against nightly Argo CD, w/ ApplicationSet master branch"
Argo CD continues to evolve on its `master` branch, and it would be useful to have a nightly cron-style GitHub Action that runs the `master` branch of ApplicationSets, specifically the controller and E2E tests, against the `master` branch of Argo CD.

This would allow us to catch any runtime-behaviour changes in Argo CD that might affect ApplicationSets users (and would allow us to report them to

[2021-09-02 15:44] RumRogerz commented on #293
Came here to say this. My ApplicationSets will be hella cleaner and my bosses will think I'm some sort of templating demi god.

[2021-09-02 16:07] alexmt commented on #356
the introduction of condition is proposed already: https://github.com/argoproj-labs/applicationset/issues/356

[2021-09-02 18:55] rumstead commented on #362
#323 just to relate them

[2021-09-02 18:55] rumstead commented on #344
#323 feels related here

[2021-09-02 19:44] rumstead commented on #344
@jgwest how we feeling about this? I know @alexmt's history with ArgoCD :). I feel like this issue combined with #362 will accomplish #323 thus has me very interested haha.

[2021-09-02 20:53] r0bj commented on #316
Another option would be to label existing cluster secrets with `name=<cluster_name>' and then:
[code]

[2021-09-02 21:32] r0bj opened #364 "Clusters with underscore in name causing problem with variable templating"
Clusters with underscore in name causing problem with variable templating.

Example.
[code]

Everything work fine unless cluster name consist underscore, e.g. `gke_myproject_us-west1-a_cluster1` (similar to how GKE clusters are named). In this case applicationset controller generates error message:
[code]

So it seems that applicationset controller replaced "_" to "-" in cluster name but now varia

[2021-09-07 12:48] #222 closed

[2021-09-07 14:57] jgwest commented on #353
Hi @AndresJulia, not at this time, this is being tracked here:

https://github.com/argoproj-labs/applicationset/issues/362

[2021-09-07 15:01] jgwest commented on #359
Hi @jamessthompson , the linked page refers only to whether the ApplicationSet controller itself is 'allowed' to delete applications. It does not prevent the user from deleting ApplicationSets themselves (eg via `kubectl`)

See https://argocd-applicationset.readthedocs.io/en/stable/Application-Deletion/ for behaviour on how this workflow works.

[2021-09-07 15:01] #345 closed

[2021-09-07 19:48] alexmt commented on #358
I think this awesome idea. So this makes applicationset a perfect tool to create/delete preview environments!

[2021-09-08 07:29] gebn commented on #316
@r0bj I prefer this, however I don't think it allows selecting the local cluster without selecting all others.

[2021-09-08 10:22] jgwest opened #367 "API rate limit error in image publish action"
There is an API rate limit error in the image publish action, due to a recently merged PR, which is due to tests run pre-image build. The action should be updated to include the GitHub secrets.

See the output of this GitHub action as an example: https://github.com/argoproj-labs/applicationset/runs/3535089369

[2021-09-12 19:55] #312 closed

[2021-09-13 14:44] jgwest commented on #356
Agree with @alexmt on this, we should:
- Alter the behaviour, away from failing fast on failure, towards tolerating errors and skipping to the next value.
- Report the error within the ApplicationSet container log
- Include the failure within the `conditions` of the ApplicationSet

Since this behaviour change has a (small?) chance of affecting user workflows, we should mention it in the upgrade no

[2021-09-13 15:33] jgwest commented on #364
Agreed, it doesn't make sense to sanitize the `name` field, if the corresponding name can't be used in `.destination.name` field :thinking: .

:+1:  for `{{nameNormalized}}` as being the normalized version of the name field, and reverting the `name` field back to its original behaviour of providing the unmodified version of the string.

(This would have backwards compatibility implications for som

[2021-09-13 15:44] jgwest commented on #358
Agree with @alexmt, this sounds very useful.

I think my only suggestions would be:
- `glob` -> `globMatch`  (just to make it clear that the user is getting the value that the glob matched)
- `branch.sanitizedName` => `branch.normalizedName` (normalized, as the verb, rather than sanitized. We do use sanitized in the code itself, but I think normalized is probably a bit better here)

[2021-09-13 16:08] #359 closed

[2021-09-13 16:08] #353 closed

[2021-09-13 16:13] jgwest commented on #292
It sounds like you were looking for ways to exclude particular combinations generated by the matrix generator?

For example, if matrix generator:
[code]

If generator1 produced `a, b, c` and generator2 produced `d, e, f` then the matrix generator will generate `ad, ae, af, bc, be, bf, cd, ce, cf`, etc. Do I have it right that you are looking for a mechanism to prevent some of those combinations fr

[2021-09-13 18:15] pdrastil opened #369 "Passing Helm values to chart from Git file generator not working"
Hi I was trying to use Git file generator to deploy Helm chart with quite complex configuration and I hoped that it would be possible to pass `values` from my configuration yaml to template in ApplicationSet controller. If I do this based on the samples below it seems that `{{values}}` template is never expanded. Is this a bug or it's just not supported? Thanks

## Sample ApplicationSet definition

[2021-09-14 14:43] erkerb4 commented on #324
I think this feels similar to #213. This would be a great enhancement to the cluster generator.

[2021-09-15 11:31] pdrastil commented on #324
@erkerb4 Maybe also related to https://github.com/argoproj-labs/applicationset/issues/369 where the problem is more about how expansion of variable works.

[2021-09-16 06:32] kazysgurskas commented on #292
Have a similar use case:
[code]
Here I want to override helm.valueFiles to include cluster specific values along with defaults by using `'{{name}}.yaml`.

At the same time, it's desired for some apps to be excluded from certain clusters and only target a single production cluster. It would be nice to achieve this with a single ApplicationSet and not have to separate production applications into se

[2021-09-16 12:30] Sinjo opened #371 "Proposal: Allow variable interpolation in generator `values` field"
# Context

While using the cluster generator, we recently ran into a situation where being able to template the contents of the `values` map based on the parameters of each cluster.

The specific situation was that we wanted to make it possible for devs to opt into deploying an environment-specific image from a branch, somewhat like [this example from the docs](https://github.com/argoproj-labs/app

[2021-09-16 19:57] alexmt commented on #347
@jgwest I would like to work on this issue (after merging https://github.com/argoproj-labs/applicationset/pull/372) . Do you mind if I take it?

[2021-09-18 19:52] sitilge commented on #230
Are there any plans implementing the ApplicationSet features in the ArgoCD project itself?

[2021-09-19 13:22] Roshick opened #374 "A way to get path directories for git generator"
As my setup heavily relies on paths in a repository (i.e. {project}/{namespace}/{application}.yaml) it would be awesome to have access to either a more powerful template engine (sprig with text/template instead of fasttemplate) or built in parameters I can access to get the names of each subdirectory and the filename without extension.

I could put this information into the yaml as well, but I fee

[2021-09-19 14:31] sergeyshaykhullin opened #375 "ApplicationSet is not working with new ArgoCD credential templates"
ArgoCD helm chart has deprecated way to configure repo credentials https://github.com/argoproj/argo-helm/blob/6452b6a2e984696a277918fbc7784cf9c22ea4e0/charts/argo-cd/values.yaml#L776

I migrated to new version https://github.com/argoproj/argo-helm/blob/6452b6a2e984696a277918fbc7784cf9c22ea4e0/charts/argo-cd/values.yaml#L1224 which creates secret per repo with `argocd-repo-creds-*` format and delet

[2021-09-19 15:12] Roshick opened #376 "Fan-out generator (create generators based on list of input parameters)"
My current setup consists of nested directories and I'm running in a lot of issues with ApplicationSets (maybe my architecture is just strange, feel free to give me input for other solutions!).

My directory structure looks like this: /projects/{project}/namespaces/{namespace}/applications/{application}.yaml
with /projects/{project}/clusters/{cluster}.yaml. Now I would like to have a single Applic

[2021-09-20 07:48] Roshick commented on #374
An example of how I would think it could look like:

[code]

[2021-09-20 08:11] Roshick commented on #376
An example of how I would think it could look like:

[code]

[2021-09-22 19:21] Roshick commented on #376
Another use case for this just crossed my mind: in our environment we have a "deployment repository" for each (micro-)service that is deployed by argo, each of those repositories has directories for the different environments in the root.
Those environments can differ between services (some are only in production, some only make it to staging and some are in progress of being built and are only in

[2021-09-22 22:30] #356 closed

[2021-09-23 13:53] #367 closed

[2021-09-25 22:49] jkroepke opened #377 "Allow regex capture groups in directories from git generation"
Hi,

I have a git contains multiple releases contains kustomize:

[code]

But while dev is always available, other environment like qa are not available in early stages. This results into a lot of Application that going to be errored.

Switch to

[code]

May not help, since `{{path.basename}}` would always dev now. Losing the information like the service name.

A solution could be allowing the cap

[2021-09-26 07:24] pyfs opened #378 "anything i missed ?"
argocd & argocd applicationset installed as documented, ApplicationSet CRD found, but there's no argocd application created; at the same time, `argocd-applicationset-controller` has nothing usefull log to ref.

[code]
![image](https://user-images.githubusercontent.com/67151035/134797856-55aea5a6-ed05-4b2d-94d2-670d5a25b3ee.png)

---
installing
[code]

Current Version:

[code]

ApplicationSet CRD a

[2021-09-27 14:30] fr-finnova opened #379 "git generator directories: exclude not working"
I'm trying to create an ApplicationSet with an git generator and exclude directories. As I was not succesful with that I tried to install from the official documentation, i. e. this repository.

Following the information I was able to gather, please let me know if I can provide more:
* on an OpenShift 4.8.10 cluster on AWS
* Red Hat OpenShift GitOps Operator 1.2.0
* I wasn't able to find out the v

[2021-09-29 02:43] jgwest commented on #369
At the moment, only string key-value pairs are supported.

[2021-09-29 02:47] jgwest commented on #374
Hi @Roshick , I think your request is the same as https://github.com/argoproj-labs/applicationset/issues/293, do you agree?

[2021-09-29 02:50] jgwest commented on #375
Hi @sergeyshaykhullin , looks like you may be using an old version. The new location for ApplicationSet images is https://quay.io/repository/argoproj/argocd-applicationset?tab=tags , which includes both our 0.2.0 release from previous month, and development builds that are up to date with `master` branch.

[2021-09-29 02:53] jgwest commented on #378
May want to check that the `ApplicationSet` you are creating is being created in the same directory as Argo CD, usually `argocd`. It couldn't hurt to check the applicationset controller logs as well.

[2021-09-29 02:56] jgwest commented on #379
@fr-finnova this is likely because OpenShift GitOps v1.2.0 is still on ApplicationSet v0.1.0, which did not include this feature. GitOps v1.3.0 should be shortly :crossed_fingers: , which will include the latest release of ApplicationSet controller v0.2.0.

[2021-09-29 04:55] Roshick commented on #374
Ah, yes! Must've somehow overlooked it.

[2021-09-29 10:58] sergeyshaykhullin commented on #375
Yeees... Seems like i forgot to subscribe on new releases and used `0.1.6` all the time...

[2021-09-29 10:58] #375 closed

[2021-09-30 02:37] #284 closed

[2021-09-30 05:32] fr-finnova commented on #379
Thanks for your explanation. I therefor close this ticket.
I'll wait for GitOps Operator v1.3.0 and will reopen it if it should not work.

[2021-09-30 05:32] #379 closed

[2021-09-30 05:39] parasappafluke commented on #292
Yes, you are right.

[2021-09-30 05:51] parasappafluke commented on #279
@jgwest thanks confirming.
Regarding #2 i want the application name in **argocd** and the **service** name in cluster should be dynamic based on the dir name of the app . e.g
lets say i have dir structure  **helm/x-app**
In ArgoCD would like to see the app name as **x-app-dev** (for dev cluster) and **service**  name in cluster should be **x-app** (this i can do it by passing **helm-release**  in

[2021-09-30 05:56] parasappafluke commented on #362
Idea is very good, can we also consider the situation where we would like to deploy same application in multiple namespaces in the given cluster.

[2021-09-30 06:22] parasappafluke commented on #323
Idea is very good, can we also consider the situation where we would like to deploy same application in multiple namespaces in the given cluster.

[2021-09-30 17:22] mksha commented on #362
can we also add some functions that will allow us to have defaults for the template var?

[2021-09-30 17:22] mksha commented on #362
for example
{{ myvar.myproperty | default "test" }}

[2021-09-30 17:23] mksha commented on #362
It will be very helpful, especially in the application set where we want to set the default chart version if not specified by user.

[2021-09-30 17:29] mksha commented on #323
we have a use case where we are deploying the same app in multiple namespaces, clusters in different regions. For each instance, we had to create a new confi.yaml. Can we add some feature that can avoid having breadcrumbs and just refer to a common config for diff instances of the same app?

[2021-09-30 17:30] mksha commented on #362
we have a use case where we are deploying the same app in multiple namespaces, clusters in different regions. For each instance, we had to create a new confi.yaml. Can we add some feature that can avoid having breadcrumbs and just refer to a common config for diff instances of the same app?

[2021-10-04 08:15] schlapzz opened #384 "Matrix generator (Git + List) not working as expected"
I'm trying to get the matrix generator working with the Git Directory and the List generator

I try to achieve following result:
* repository with 2 directories, containing a deployment for producer / consumer app (Git directory generator)
* Two namespaces for dev/prod (List generator)

The Git structure is as follow:
[code]

Here is my ApplicationSet Manifest:
[code]

Expected ouput after the mat

[2021-10-04 16:40] alexisbel1 opened #385 "Git Generator Files: Ability to loop over values"
**Is your feature request related to a problem? Please describe.**
Currently, it is not possible to loop over values defined in the JSON/YAML file for the Git Generator.
In specific use cases, it could be very useful to loop over these values to add specific values to the application template. (e.g. add multiple annotations which differ across applications in the applications set.

**Describe the

[2021-10-05 12:48] dsch opened #386 "Gitlab Generator: PathExists does not work for files"
# Current behavior

The [filter example](https://argocd-applicationset.readthedocs.io/en/stable/Generators-SCM-Provider/#filters) from the doc does not work for Gitlab SCM generator.

Only directories are supported as values for `pathsExist` values.

Example:
`pathsExist: [kubernetes]` works
`pathsExist: [kubernetes/kustomization.yaml]` does not work

# Expected behavior

Paths to files should mat

[2021-10-05 23:38] mrgleeco opened #387 "controller for rendering only?"
This may be documented and I've not found; or maybe possible and undocumented. If neither maybe a use case to [not] consider building.

As an admin rolling out applicationset, I would like to experiment with creating templates and see what would Applications would be generated. Is there a way to run the controller from CLI with args that could take an input file(s) and render output? I'd be curiou

[2021-10-07 05:22] parasappafluke commented on #384
@schlapzz I'm not sure Git dir generator will work with multiple paths. You need to restructure your apps in a single directory and provide that dir name for git generator. With single dir path it is working for me.

[2021-10-11 12:09] pyfs commented on #378
[code]
---

Thank you for help ! 👍  + 1024

[2021-10-16 02:56] elocke commented on #358
Agree @benjamink! Game changer for our workflow

[2021-10-17 19:49] mrgleeco commented on #387
@jgwest  - It's not so much about creating the templates, but rather seeing what the template output looks like when it renders.

[2021-10-19 01:54] bradmccoydev commented on #293
Hey, @jgwest I would like to pick this issue up, can you please assign it to me?

[2021-10-20 19:14] williamcaban opened #391 "[RFE] Git File Manifest Template Generator"
Note: Opening in the ApplicationSet repo (original https://github.com/argoproj/argo-cd/issues/7447)

## Summary

The current `Git File Generator` generates Applications template parameters using the contents of JSON files found within a specified repository.

This request for enhnacement (RFE) is to extend the `Git File Generator` (or create a new generator) to allow for the use of {{param}}-style

[2021-10-21 21:12] tahirali-endurance opened #393 "ApplicationSet not producing Application manifest"
We are following this article(https://argocd-applicationset.readthedocs.io/en/stable/#the-applicationset-resource)) for rendering ApplicationSet for multiple clusters, but Application manifest is not rendered.

[code]

Any ideas?

[2021-10-27 02:35] zhengyansheng opened #396 "Support a cluster corresponding to a mirror warehouse"
I hope to support such a scenario. A cluster corresponds to an image warehouse address. Do you want to support such requirements in the future

[code]