[2021-10-27 07:59] hans-d opened #397 "cluster generator: labels with slashes"
see:
-  https://argocd-applicationset.readthedocs.io/en/stable/Generators-Cluster/
- #166

When using a cluster generator, I want to reference a label that contains a slash in the name, eg `argocd.argoproj.io/secret-type`, via `{{ metadata.labels.argocd.argoproj.io/secret-type }}`

Besides the fact it doesnt feel right to provide the key which contains dots without escaping, (eg `{{ metadata.label

[2021-10-27 15:26] justin-watkinson-sp opened #398 "ApplicationSet Controller Panics when Cluster Secret is malformed"
Situation:  We found that the ApplicationSet controller v0.2.0 was in a crash loop back-off in my cluster.  The stack trace (will go looking for that in a moment) indicated an unexpected newline when unmarshaling the data.config, pointing to this line:

https://github.com/argoproj-labs/applicationset/blob/master/pkg/utils/clusterUtils.go#L107

The root cause was that the secret was created and the

[2021-10-27 17:00] yogeek opened #399 "Align log format between DEBUG and others"
Currently DEBUG logs and other levels have not the same format :
[code]

When using a log parser, it is not very convenient.
All argocd containers seems to follow the same format for logging (the first log line in the above extract) which is very convenient to parse with a Key-Value filter (like logstash kv filter)

Is it possible to align the DEBUG format with all the other level please ?

[2021-10-28 21:07] namh0 opened #400 "ApplicationSet (Git Generator) deletes itself when started by another Application or ApplicationSet"
## Summary

When using an "app of apps" pattern with `ApplicationSets` and the Git directory generator, the second `ApplicationSet` deletes itself and often causes other applications to be deleted with it.

EDIT: This seems to happen even if the first app is an `Application` rather than `ApplicationSet`.

## Details

ArgoCD version 2.2.0
ApplicationSet version 0.2.0

Tested on Minikube with Kubern

[2021-11-01 13:12] hans-d opened #401 "Enh: clusterDecisionResource should also provide labels/annotations, like regular cluster generator"
The cluster generator provides labels and annotations from the selected/generated clusters.
These can be used in the template.

The  clusterDecisionResource does only provide data provided in referenced resource from which the decision is made. It would be very beneficial if labels/annotations from the cluster resource from argo cd are provided as well.

[2021-11-01 14:22] #393 closed

[2021-11-01 14:24] jgwest commented on #396
Hi @zhengyansheng, can you provide more detail around expected behaviour?

[2021-11-01 14:28] jgwest commented on #400
@namh0 Can you provide the `ApplicationSet` CRs you used to reproduce the problem?

[2021-11-01 23:18] namh0 commented on #400
@jgwest - I have a repo with the manifests: https://gitlab.com/namho/argotest/

Applying the `root_appset.yaml` should be enough to replicate the behavior.

[2021-11-02 12:05] Sinjo commented on #371
Hey, sorry for the bump. Just want to check if you're on board with this before I write code for it.

@jgwest can I take the addition of the `enhancement` label as a 👍🏻?

[2021-11-02 13:32] crenshaw-dev commented on #344
My understanding is that generated param maps should be merged if and only if the values for all keys in `mergeKeys` are the same. For example:

[code]

Is that correct?

[2021-11-02 13:34] #364 closed

[2021-11-03 08:55] robertbublik commented on #358
I would also love this!

[2021-11-03 20:48] ghostsquad commented on #221
Has any progress been made on this front? I believe this to be a major blocker for adopting ApplicationSet.

[2021-11-03 20:48] ghostsquad commented on #61
Has any progress been made on this front? I believe this to be a major blocker for adopting ApplicationSet.

[2021-11-03 21:49] maruina commented on #221
Hey @ghostsquad, on our side (github.com/skyscanner/applicationset-progressive-sync) we've been doing some progress but for Q4 2021 we had to pause the project. We hope we will be able to resume it in Q1 2022.

It's blocking us as well but we other priorities got in the way.

[2021-11-03 21:51] ghostsquad commented on #221
@maruina thank you for the update!

[2021-11-04 03:51] jgwest commented on #400
It looks like your `root_appset.yaml` is conflicting with your `services/argotest`: the ApplicationSets both have the same name.

[2021-11-04 05:59] namh0 commented on #400
(>ლ) - Sorry for wasting your time. I could've sworn there was another trigger to cause it but looking at my Git history on the actual project, it looks like I made that error there, too. Copy-paste failure.

[2021-11-04 05:59] #400 closed

[2021-11-04 13:38] mbarecki opened #407 "Question about path parameter in Git Generator: Files"
Hello,

Let me start with saying that Argo CD ApplicationSet Controller is great.

I would like to ask question about  `Git Generator: Files` and `{{path}}` parameter.

In [Generators-Git.md](https://github.com/argoproj-labs/applicationset/blob/master/docs/Generators-Git.md#git-generator-files) document description of `{{path}}` is:
[code]

When looking at go test [TestGitGenerateParamsFromFiles](

[2021-11-05 02:07] jgwest commented on #407
Good catch! Yes, the `Generators-Git.md` example is wrong. The correct behaviour is described in the original issue: https://github.com/argoproj-labs/applicationset/issues/258#issuecomment-856140869

[2021-11-05 13:41] #304 closed

[2021-11-09 04:32] jgwest commented on #400
No worries @namh0  :heart:

[2021-11-09 19:01] crenshaw-dev opened #409 "Fix `make lint-docs` issues"
`make lint-docs` currently reports issues on 13 of 17 pages.

Those issues should be investigated/resolved.

That make target should be added as a CI check.

[2021-11-10 14:09] crenshaw-dev commented on #409
@jgwest looks like the linter is getting 404s on argoproj.github.io. Would it be fine to replace that domain name with argo-cd.readthedocs.io? Looks like that's where it's getting redirected (not sure why the linter isn't following the redirects).

[2021-11-11 11:58] nishit93-hub opened #413 "no matches for kind "ApplicationSet" in version "argoproj.io/v1alpha1""
Hi, I am trying to use **kind** as ApplicationSet. However it is giving me an error
`no matches for kind "ApplicationSet" in version "argoproj.io/v1alpha1"`

[2021-11-11 17:44] jeffhubLR commented on #221
We are using app-of-apps and would like to adopt ApplicationSets but need functionality defined in this RFE. Thanks for documenting this, and it would meet our use-case, which is defined deployment ordering of Applications by leveraging sync-wave annotations on those Applications.

[2021-11-12 11:15] JimFran commented on #413
@nishit93-hub Most probably you do not have the controller installed:

Install this CDR and later you can apply your ApplicationSet YML file:

[code]

Regards,

[2021-11-12 11:26] JimFran opened #415 "ApplicationSet cannot access external AKS Clusters"
Hello,

I have ArgoCD deployed in a Cluster "AKSTest01" and I would like to deploy a different app in an other cluster "AKSTest02" (This is a totally clean AKS cluster. I have just checked for the loadbalancer IP created by default).

At the moment I just deployed ArgoCD in "AKSTest01" and added the repo where I have the application for "AKSTest02" Cluster.

I am trying to connect my ArgoCD instan

[2021-11-12 19:48] JimFran opened #416 "How to include credentials for private repo and oidc.azuread.clientSecret"
Hello,

I'd like to deploy ArgoCD using helm and include credentials for my private repo as long as $oidc.azuread.clientSecret for the SSO integration.

My questions are:

1. Do I need to create manually a secrert called "argocd-secret" to include the secret for $oidc.azuread.clientSecret ?

2. How can I include the username and personal token to get access to my private repo in Azure Git? If not

[2021-11-15 16:12] crenshaw-dev commented on #401
I think this could be done with the new [merge generator](https://github.com/argoproj-labs/applicationset/pull/404). Use a ClusterDecisionResource generator to as the base generator and then merge with a Cluster generator on the `server` param.

[2021-11-15 18:13] #409 closed

[2021-11-16 15:19] jgwest commented on #413
@nishit93-hub Install instructions are here: https://argocd-applicationset.readthedocs.io/en/stable/Getting-Started/

[2021-11-16 15:19] #413 closed

[2021-11-16 15:22] jgwest commented on #415
Cluster configuration is handled by Argo CD, see https://argo-cd.readthedocs.io/en/stable/getting_started/#5-register-a-cluster-to-deploy-apps-to-optional and/or https://argo-cd.readthedocs.io/en/stable/operator-manual/declarative-setup/#clusters

[2021-11-16 15:23] jgwest commented on #416
@JimFran This seems like an issue for the Argo CD repository

[2021-11-16 15:45] nishit93-hub commented on #413
@JimFran @jgwest , yes the applicationSet controller was not installed. Thanks for the help!

[2021-11-16 16:30] #57 closed

[2021-11-16 17:14] #407 closed

[2021-11-17 09:02] ddevaal opened #418 "Applicationset controller private repo constant unauthenticated requests"
We are running Kubernetes 1.22.2 on Azure with ArgoCD v2.1.6+a346cf9 and ArgoCD ApplicationSet 0.2.0. We are seeing many unauthenticated requests coming from the applicationset controller pod to our on-prem Gitlab instance.

ip - - [17/Nov/2021:09:34:12 +0100] "GET /operations/infrastructure.git/info/refs?service=git-upload-pack HTTP/2.0" 401 26 "" "git/2.30.2"
ip - - [17/Nov/2021:09:34:13 +0100]

[2021-11-19 16:17] #202 closed

[2021-11-19 17:05] #339 closed

[2021-11-22 05:28] jgwest opened #419 "Gathering contributor list for ApplicationSet controller v0.3.0 release announcement"
### :arrow_right:  Please let me know ASAP if you (or someone you know) has ApplicationSet v0.3.0 contributions and is not on the below list (I **really** don't want to miss anyone :smile: !).  :arrow_left:

I'm working on a draft of the v0.3.0 release announcement, and I'd like to make sure that everyone that has contributed to ApplicationSet is shouted out for their contributions to the Applicat

[2021-11-22 16:43] jstdips commented on #358
This would be perfect and exactly what I am looking for! Any idea of when this can be available?

[2021-11-22 19:07] nishit93-hub opened #420 "can we automate Deploy code in repo in a namespace with the same name as the branch"
Hi All,

Can we automate this `Deploy code in repo in a namespace with the same name as the branch`

[2021-11-24 20:28] rayterrill opened #421 "Possible to disable autosync from the ArgoCD GUI when using ApplicationSet?"
Is it possible to disable autosync from the ArgoCD GUI (for troubleshooting, etc) when using ApplicationSet? We've observed when apps have been migrated to use ApplicationSet vs Application, the ArgoCD GUI button to disable AutoSync no longer works - you can click it, but it just spins and then goes back to the default setting.

As a workaround, we can push a PR to disable autosync, but it would b

[2021-11-25 16:57] vavdoshka commented on #420
@nishit93-hub
the easiest example could be

[code]

and this can be customized further to have also some filtering on branch naming:

[code]

check more on [SCM provider](https://github.com/argoproj-labs/applicationset/blob/master/docs/Generators-SCM-Provider.md)
note that `ApplicationSet` itself should be deployed in the same namespace where ArgoCD is.

[2021-11-25 19:22] nishit93-hub commented on #420
@vavdoshka , Hi Thanks for sharing.

Will these `{{ repository }}.{{ branch }}` `{{ url }}` `{{ branch }}` gets automatically updated once developer creates new branch and commit some changes.?

[2021-11-25 22:07] vavdoshka commented on #420
@nishit93-hub
yes, ArgoCD ApplicationSet Controller checks the repository periodically and would submit as many ArgoCD applications as there are branches in the repo, it also will remove the application from ArgoCD if it won't find a correspondent branch.

However, the actual deployment of K8s manifests is controlled by ArgoCD itself, so if you also want the created Applications to deploy manifest

[2021-11-25 23:16] jgwest opened #422 "ApplicationSet v0.3.0 release checklist"
## Release Checklist

First, follow the instructions [on the release process RTD docs page](https://argocd-applicationset.readthedocs.io/en/stable/Releasing/).

Once complete, this is a set of checks to perform once you have a commit, tags, release, docs, and container image.

#### Once you have completed a release, the following should be true:
- [x] A `release-(numbered version)` branch exists i

[2021-11-26 10:36] nishit93-hub commented on #420
@vavdoshka Hi,

This is my yaml file

`apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: example-approot
  namespace: argocd
spec:
  generators:
  - scmProvider:
      cloneProtocol: https
      gitlab:
        group: "gitops-argo/gitops-dev"
        allBranches: true
        tokenRef:
          secretName: gitops-argo
          key: gitops-argo
  template:
    metadata:

[2021-11-26 14:36] nhuray commented on #186
When the application controller is configured with `--policy create-only`, the applications creation is managed by the controller but the applications can be changed or override

[2021-11-26 16:42] jemag opened #424 "Cannot template syncPolicy parameters because of applicationset validation"
In the optics of self-serve, I would like to let each team specify their "prune" and "selfHeal" parameters from syncPolicy. To do so, I am using the following applicationset:
[code]
The problem arises because "{{app.sync.prune}}" is not a boolean but rather a string:
![image](https://user-images.githubusercontent.com/7985687/143610597-4ba58a25-8f97-4303-8d27-3cbc3a269ef4.png)

I also cannot remove

[2021-11-27 17:10] vavdoshka commented on #420
@nishit93-hub,

the error you got could mean just one thing - the ArgoCD Application Set Controller did find the token but the provided token is not authorized to read data in `gitops-argo/gitops-dev`.
It should be a "Personal Access Token" with read_api access.

Also
[code]

Since you plan to have more than 1 branch the name should include the branch name cause the names of the ArgoCD application

[2021-11-27 17:24] nishit93-hub commented on #420
@vavdoshka , Yes I was using **Deploy tokens** and now I used "Personal Access Token". Now Argocd is able to access.

Yes with `name: '{{ repository }}'` Argocd was not able to deploy multiple branches. I corrected that also.

One thing more I want to ask is, do I need to explicitly add Git URL from Argocd UI? Current, I have to add Git Url from the Argocd dashboard otherwise it throws me an error

[2021-11-27 17:53] vavdoshka commented on #420
@nishit93-hub ,

Yes so with "Personal Access Token" ArgoCD Application Controller can reach out to your repo, it creates the ArgoCD application and from that point, ArgoCD starts its control loop on the application created, and yes it needs to know how to authenticate to the Git URL provided in Application Definition. So there are several ways to configure this in ArgoCD:
* manually add repo thro

[2021-11-27 18:53] svmaris commented on #293
How about adding regex support to the git generator?

Something like this:

[code]

[2021-11-28 16:19] nishit93-hub commented on #420
@vavdoshka, Thanks for the information and all help. I used `repository template secret` and It worked.

[2021-11-30 04:21] jgwest commented on #362
@chetan-rns:

# Overview of work required

The high level overview of the work for this issue is this:
- Add the `templateUntyped` field to ApplicationSet spec
    - This is like `template`, but represented in the CRD as a `apiextensionsv1.JSON` (and thus can theoretically contain any JSON value, but SHOULD still contain the same fields as `template`, BUT with support for JSON parameters)
- Allow

[2021-12-02 14:39] chetan-rns commented on #362
@jgwest Thanks for the detailed overview. I can work on this issue. Can you please assign it to me?

[2021-12-02 16:02] shuker85 commented on #363
Hi @jgwest
If you can provide some guidance i'd like to work on this.

[2021-12-02 16:45] nishit93-hub commented on #420
@vavdoshka Hi, I need your help again with the Argocd image updater. I posted the issue on their Github repo but didn't get any answer there.

Here is the link to the issue.
[https://github.com/argoproj-labs/argocd-image-updater/issues/308](url).

Could you please help me in this.

[2021-12-03 03:48] yerinu2019 opened #428 "applicationset fails to create application with name containing underscore character."
GKE clustername contains underscore character. e.g. gke_<gcp project name>-<some number>_<zone>_<cluster name>.
When the argocd application name is set to <app-name>-{{cluster}} in the argocd applicationset template, it fails with error like below with GKE cluster.
This GKE cluster name is used in kubectl config get-contexts, and argocd app works with destination: name: {{cluster}} to copy git fil

[2021-12-05 12:48] pdrastil commented on #391
I believe this might release to https://github.com/argoproj-labs/applicationset/issues/369 where we would like to use Git generator to fetch external yaml configuration from Git and put it into `helm.values` as a yaml blob (similar to Helm `{{ toYaml .values }}`)

[2021-12-05 17:59] fardin01 commented on #163
Hi @jgwest. I don't understand how https://github.com/argoproj-labs/applicationset/pull/164 fixes the issue. As far as I understand, ArgoCD repo server finds private repo credentials in a secret labeled with `argocd.argoproj.io/secret-type: repo-creds`. It's not mounted in the container. I'm still getting `Could not read from remote repository` with `v0.2.0`.  I'd appreciate any suggestions.

[2021-12-05 18:48] fardin01 commented on #163
Well, it started working after a couple of minutes. Not sure what it was that the controller didn't like 🤷🏼

[2021-12-06 16:16] #344 closed

[2021-12-06 17:39] jgwest commented on #421
Hi @rayterrill , this is discussed here: https://argocd-applicationset.readthedocs.io/en/stable/Controlling-Resource-Modification

[2021-12-07 09:18] jgwest opened #430 "ApplicationSet 0.3.0 release notes (pre-release draft)"
**NOTE:** This is pre-release draft text for the ApplicationSet 0.3.0 release notes: content is not relevant until on or after release day.

# (Pre-release Draft) Release Notes

I am happy to announce the latest release of the Argo CD ApplicationSet controller, v0.3.0. Many new features were contributed as part of this release, including two new generators, improved error reporting and handling, s

[2021-12-07 16:36] #398 closed

[2021-12-08 11:19] alexanderdalloz opened #431 "Git generator: removal of Helm Chart causes error message and no application deletion"
We are using the Git generator, provisioning all Argo CD projects and applicationsets through a standardized Helm Chart.
[code]
The templated project definition looks like this (as well just a part of it quoted):
[code]
The application CR has set the
[code]
metadata as well. And sync options are defined as:
[code]

Now when deleting a directory with a previously Argo CD deployed Helm Chart from wi

[2021-12-08 12:59] jwalitptl commented on #293
is this feature will be available in the next release?

[2021-12-08 20:08] jgwest opened #432 "E2E tests should use application-controller serviceaccount, rather than applicationset-controller serviceaccount"
The applicationset cotroller E2E tests should use application-controller serviceaccount, rather than applicationset-controller serviceaccount. At the moment, cryptic error messages will be generated when running cluster-generator focused tests.

[2021-12-08 20:17] jgwest commented on #431
@alexanderdalloz I am not sure if this is what you are suggesting, but note that the applicationset controller doesn't template `AppProject` CR, it only templates `Application` CR.

Also, you shouldn't need to include the finalizer in the template, it should be included by default, see: https://argocd-applicationset.readthedocs.io/en/stable/Application-Deletion/#application-pruning-resource-deleti

[2021-12-09 10:44] alexanderdalloz commented on #431
@jgwest Sorry for having caused confusion by being not precise enough. The ApplicationSet CR within the Helm Chart template only defines the Application CR, not the project. The complete Helm Chart which we use to provision a new developer team or to reconfigure an existing one consists of `kind: AppProject` and `kind: ApplicationSet`. I have quoted a part of the AppProject definition just to show

[2021-12-09 16:05] jgwest commented on #431
re: finalizer deletion, it shouldn't cause misbehaviour of the applicationset-controller (I just double-checked the relevant code), but it can't hurt to remove it.

It's a bit tough to reason about what you are doing without a full, working example of your Helm chart, but in general the ApplicationSet controller *will* delete Applications ([by default](https://argocd-applicationset.readthedocs.io/

[2021-12-10 17:22] ghostsquad commented on #221
Instead of using regex, could you use the semantics that many of us may already be aware of and used to, that being the K8s Preferred Affinity semantics?

[code]

so basically, instead of requiring regex, which is not all that easy to use, instead leverage the labels of the applications, and the label selector functionality?

[2021-12-10 17:27] christianh814 commented on #221
Yes.

Except this should be an "in addition to" and not "instead" 😁

[2021-12-10 17:30] ghostsquad commented on #421
I wonder if allowing something like this would solve this problem?

https://www.pulumi.com/docs/intro/concepts/resources/#ignorechanges

https://www.terraform.io/docs/language/meta-arguments/lifecycle.html#ignore_changes

---

basically what you are saying, is very similar, in that I want to deploy something, with an initial state, but there's another external process that's going to be modifying

[2021-12-10 18:05] rayterrill commented on #421
Generally we only use this temporarily - like we want to stop the sync process, make some manual changes to test something out of debug something, then we'll turn sync back on. Our "gold state" is synced - but we need the ability to disable that temporarily (for now, I reverted much of what I had converted to ApplicationSet to give us back this capability but I'd love to get it back into AppSet).

[2021-12-11 21:45] waheedshahani opened #435 "applicationset stop generating apps if one of the app can not be created"
I am using SCM Generator to dynamically create one app per github repo and target this repo to external cluster. As soon as a new repo is created app set generates an app for it because corresponding external cluster already exists via some magic.

Lets say if I create 3 repos namely Repo1, Repo2 and Repo3. Assume that only Repo1 and Repo3 has corresponding external cluster and Repo2 has no cluste

[2021-12-13 13:47] jgwest commented on #435
@waheedshahani which version of ApplicationSet controllere are you using?

[2021-12-14 14:57] olvesh commented on #424
Have you tried omitting the quotes around the templated values?
I.e.
[code]
Your syntax-checker will probably be red, but it might just work :-)

[2021-12-14 15:04] jemag commented on #424
As mentioned in the original post, I cannot because it will cause problems with kustomize:

Error: map[string]interface {}(nil): yaml: invalid map key: map[string]interface {}{"app.sync.prune":""}

[2021-12-14 23:00] missingcharacter commented on #428
@yerinu2019 does https://github.com/argoproj-labs/applicationset/pull/390 fix your problem?

[2021-12-15 09:45] parberge commented on #287
@rouke-broersma Very well written as you say exactly my experience with this;

First being surprised that a json list didn't work and then  trying to understand what kind of limitation the templating part has (documentation doesn't specify, and only have very basic examples).

[2021-12-15 21:40] waheedshahani commented on #435
v0.2.0

[2021-12-15 21:50] waheedshahani opened #437 "appset generator logic from configmap"
### Feature Request
**TL;DR**
Allowing generators to read logic from configmap specially elements of list generator.

**TS;DR**
An application set needs generators as well as template. This full manifest of appset could become more complicated and could easily become few hundered lines when using apps of apps pattern , helm with large list of values etc.... Putting all the logic in one manifest fi

[2021-12-16 20:09] crenshaw-dev opened #438 "Log the "and _ more" errors"
Only the first error encountered by a generator gets logged / put in the status of the appset.

All errors should be logged. It makes sense to still roll them up for the status field though.

[2021-12-17 17:32] dhenneke commented on #210
I tested the new generator that was introduced in https://github.com/argoproj-labs/applicationset/pull/366 by @shmurata and was featured in the [v0.3.0 release post](https://blog.argoproj.io/applicationset-controller-v0-3-0-for-argo-cd-now-available-3f56bd643312). It works perfectly as as expected. Thanks for adding it ❤️!

[2021-12-17 17:32] #210 closed

[2021-12-17 18:10] waheedshahani commented on #435
Looks like its fixed in new release v0.3.0
https://github.com/argoproj-labs/applicationset/pull/372
Will close the issue

[2021-12-17 18:10] #435 closed

[2021-12-17 21:42] waheedshahani opened #440 "Allow list of templates per applicationset"
**Feature Request**
In my use case I need to create multiple applications per generator. For this I need to write multiple applicationsets which works fine but I need to replicate the generators logic. Any changes in one appset generator needs to be replicated to others as well which generates more work and potential of inconsistency.

[2021-12-17 23:37] jgwest opened #441 "Update master branch to 0.4.0, rebase 0.3.0 doc updates onto 0.4.0"
Update the master branch version to 0.4.0, and ensure the (non-version related0 doc updates that were made on the 0.3.0 branch percolate back up to master branch.

[2021-12-20 07:01] nishit93-hub commented on #420
@vavdoshka Can we use SCM provider with Git SCM ( bare repository)? I am not using Gitlab or Github. I am hosting my own Git server.
Or we can use the SCM provider with Gitlab and Github only?

[2021-12-20 16:12] sboschman opened #442 "Applicationset not refreshed after webhook event using matrix generator"
As PR changes (e.g. change the label defined for the pr generator) on GitHub are not immediately picked up by ArgoCD, even though the webhook event is delivered oke according to GitHub, I did some investigating.

**Timeline:**

14:21:38Z: appset-controller log (no pr's labeled with 'preview' at this moment, so 0 apps is correct):
[code]

14:22:23Z: Webhook delivery (labeled one pr with 'preview'):

[2021-12-20 16:57] #430 closed

[2021-12-20 16:59] #422 closed

[2021-12-20 17:01] #419 closed

[2021-12-22 12:51] vavdoshka commented on #420
Hello @nishit93-hub ,
I believe only GitLab and GitHub are supported as of today unfortunatelly

[2021-12-26 22:08] enys opened #445 "Application set v0.3.0 log regression"
When running:
[code]
It errors out, producing 0 logs
Compared to
[code]

This makes debugging CI failures, such as https://github.com/argoproj/argo-helm/pull/1070 tricky.

[2021-12-28 01:11] haslersn opened #446 "argocd-applicationset-controller should run as non-root"
argocd-applicationset-controller should run as non-root in order to be compatible with the Restricted policy of [Pod Security Standards](https://kubernetes.io/docs/concepts/security/pod-security-standards/).

[2021-12-29 19:58] ekbduffy commented on #424
@olvesh

I even tried this on kubectl apply - doesn't work, since it's still being converted to JSON, and during conversion {{anything here}} being failed with error like:

[2021-12-29 20:00] ekbduffy commented on #424
Looks like now the only solution is to annotate for non-deletion each separated resource created by the application definition. [https://argo-cd.readthedocs.io/en/stable/user-guide/sync-options/#no-prune-resources](Here's the doc for it)

[2021-12-29 21:17] Shane-Williamson opened #447 "Enhancement: ApplicationSet should support functions in template"
**Feature request**

ApplicationSet should be able to support functions in the template section of the manifest. This should be generator-agnostic, although for our use-case, we're blocked by the scmGenerator.

Something like this pseudo-code:
[code]

**Use-case** (as example): we want to be able to scan repos in our org that match a naming pattern for branches that match a naming pattern and depl

[2021-12-29 23:46] voldemortensen commented on #316
@gebn you should be able to get only the local cluster with something like this (untested):

[code]

[2021-12-30 15:13] #441 closed

[2021-12-30 15:40] #432 closed

[2021-12-30 22:38] #306 closed

[2021-12-31 01:07] patrickjahns commented on #199
I am currently exploring the applicationset controller and from my thinking if run into a similar use case.
I was wondering if this proposal is still the way forward, or if there is a suggestion how this could be achieve with already existing Applicationset generators.

For me the use case is as following:

- We have several clusters (which correspond to an "environment".
- In each cluster, there

[2022-01-03 17:27] nishit93-hub commented on #420
@vavdoshka Ok, thanks Are there any way I can create a namespace same as branch name with any other Argo Generator.

[2022-01-05 21:06] mkilchhofer commented on #445
Also analysed When switching to json logformat, it seems to work again. Maybe due to PR https://github.com/argoproj-labs/applicationset/pull/373

[code]

Hmmm... `os.Exit(1)`. Really a hard fail, interesting...
https://github.com/argoproj-labs/applicationset/pull/341/files#diff-2873f79a86c0d8b3335cd7731b0ecf7dd4301eb19a82ef7a1cba7589b5252261R210-R221

[2022-01-05 21:19] enys commented on #445
Oh thanks, @mkilchhofer do you think it would make sense to switch to JSON format for the tests on the helm chart for now, making this a separate concern ?

[2022-01-05 21:21] mkilchhofer commented on #445
Hmmm I don't feel confident to workaround regression introduced in 0.3.0 for the helm chart build/testing. We should fix it here in the upstream project and wait.
Up to v0.2.0 we could start the Appset pod without deploying ArgoCD.

[2022-01-05 22:52] romuduck commented on #369
Not ideal but you can put a pipe '|' next to values in your config file. That way it will be interpreted as string.. and in fact in your appset you're referring to helm/values not valueFiles, so it really needs a string

[2022-01-07 05:04] chetan-rns commented on #438
I think this is already fixed by https://github.com/argoproj-labs/applicationset/pull/439

[2022-01-07 08:44] hcelaloner opened #452 "ApplicationSet controller spawns too many git zombie processes"
**Describe the bug**

We are running applicationset controller in our company's production and test environments on Kubernetes. Yesterday,  we observed that applicationset controller does not reflect new changes and prints the following log:

[code]

Then when searching for a solution we saw a similar issue in ArgoCD repo: https://github.com/argoproj/argo-cd/issues/3611

Based on comments in this

[2022-01-08 19:22] gebn commented on #316
The issue is that [_any_](https://github.com/argoproj-labs/applicationset/blob/c31a9ba2da1d595b094491cc9ed67e551531984e/pkg/generators/cluster.go#L72-L74) selectors causes the local cluster to be excluded. There is a workaround by creating a secret for the local cluster, however my understanding is this is only supported rather than recommended. I'm also not sure how you'd write an expression sele

[2022-01-08 21:27] voldemortensen commented on #316
TIL I've been using the workaround without knowing it 🙃 thanks for enlightening me.

[2022-01-11 01:45] #452 closed

[2022-01-11 01:47] #445 closed

[2022-01-13 12:59] ltmleo opened #456 "Listed ApplicationSets returning 0"
Hello,

I just deployed applicationSets to my cluster and applied the example. But the listed application sets is returning 0:
`
time="2022-01-13T12:48:06Z" level=info msg="listed ApplicationSets" count=0 type=createSecretEventHandler`

But when I use  `kubeclt get ApplicationSet` I get the following returning:

[code]

kubernetes version:
[code]
argocd version:
[code]
Sorry for any error, English

[2022-01-13 14:38] alekberovvusal opened #457 "set global variable in application spec"
my current applicationset example:

[code]

Is there any way to set global variables on top and use those variables in template section. Desired format:

[code]

As you might notice, second one has more dynamic template structure. Simply by changing some global vars, we can implement this yaml for other applications which is in the same structure. Of course there is no hard pain in finding and rep

[2022-01-17 14:39] jdomag opened #459 "Add Bitbucket cloud support to SCM generator"
Would be great to have BitBucket cloud as a provide in SCM generator:
https://argocd-applicationset.readthedocs.io/en/stable/Generators-SCM-Provider/#scm-provider-generator

[2022-01-17 18:27] jgwest commented on #456
Hi @ltmleo , make sure that ApplicationSet resource is created in the `argocd` namespace, and that likewise ApplicationSet controller and Argo CD are installed in that same namespace.

[2022-01-18 12:29] jgwest opened #462 "ApplicationSet CRD size reduction, by removing validation (CRD defn) of nested merge/matrix generator"
## Problem

The large increase in the size of the ApplicationSet CRD has caused a couple significant issues:
1) Controller/operator bundling tools, such as [OLM](https://github.com/operator-framework/operator-lifecycle-manager), are unable to package CRDs that are this large. Even though the CRD is less than the size supported by `kubectl apply` and/or the underlying etcd db, the overall size stil

[2022-01-18 14:39] crenshaw-dev commented on #462
Should we look at restoring the `description` fields, since those shouldn't affect CPU load?

[2022-01-18 15:24] fardin01 opened #464 "Github rate limit"
The SCM Provider Generator is a great tool for discovering the repos that have something to deploy to Kubernetes. The only problem is, it makes a ton of API requests to Github and very quickly gets rate limited. My Github org has around 600 repos which I don't think is unusually high.

One place for optimization I believe is [this line](https://github.com/argoproj/applicationset/blob/master/pkg/se

[2022-01-18 21:34] mmerrill3 commented on #464
Would a topics filter help out here?  Let's say a repo has a topic of "agocd-target", and there was an option to filter on this topic?  It would be github.com specific though.

[2022-01-19 00:01] gajus opened #465 "How to override a parameter for a matching application?"
I have a basic `ApplicationSet`:

[code]

However, one of the applications needs to be deployed to a different namespace than "contra".

How do I do that?

[2022-01-19 08:31] fardin01 commented on #464
I think it would definitely help out. There is a `labelMatch` filter already, so we could just compare that with the topics of each repo (returned by `ListByOrg`) and if there is no match, we skip calling `list-branches` API.  Exact same thing can be done using `allBranches` attribute as well as `repositoryMatch` filter.

Like I said I have ~ 600 repos in my org, so it should take a maximum of [6

[2022-01-19 09:45] enys commented on #464
I'm confirming this. Hitting also the problem.
It also seems the requeueAfterSeconds is not behaving as expected.

[2022-01-19 10:22] fardin01 opened #466 "SCM Provider with Pull Requests"
### Problem

Both the SCM Provider generator and Pull Request generator are very good tools for different and valid use cases, but the limitation is that they cannot be used together in a Matrix generator:
[code]

We are trying to adopt/migrate to ArgoCD and this is sort of a major blocker. Our testing ecosystem depends on engineers being able to deploy PRs to validate features. According to Pull

[2022-01-19 10:31] jgwest opened #467 "Ability to deploy to a different namepace using the ApplicationSet PR Generator"
The following enhancement request is from @christianh814:

Currently the Generator will deploy an Application to the same namespace, if there is a namespace YAML in the Git repo. [@christianh814] would like to be able to test a PR in it's own namespace.

Example:

Given the following repo: https://github.com/christianh814/gitops-examples

And the following config
[code]

This should create this ap

[2022-01-19 10:42] fardin01 commented on #186
My use case:

In Production, only the main/master branch can be deployed. In Testing, a PR/branch can be deployed as well. It would be nice if ApplicationSet controller could optionally ignore the `targetRevision` field so that engineers could manually change that field and deploy their features to a cluster using Argo.

This would also require the "Control resource modification on a per Applicati

[2022-01-19 10:42] jgwest commented on #462
@crenshaw-dev We're now much less convinced it's a CPU issue, now that we found a kubectl that seems related. I've edited the problem description text with the details. So it's mainly just an issue with the overall size (in KB of text), and the description fields would probably add to that.

[2022-01-19 12:03] fardin01 commented on #466
A better alternative: Change the Pull Request generator to accept a pattern/regex for `repo` attribute, and if left empty it should find all the repos. Using this in conjunction with SCM generator will most likely hit the rate limits within seconds, so it must be very well optimized.

[2022-01-19 12:47] ltmleo commented on #456
Yes, they are installed in the same namespace.

[code]

[2022-01-19 13:20] fardin01 commented on #466
The above alternative is probably a good enhancement to the Pull Request generator in general. But embedding the Pull Request generator into the SCM generator has the added benefit of using the SCM generator's filters and listing pull requests only for the filtered repos.

[2022-01-19 14:00] crenshaw-dev commented on #456
@ltmleo can you also confirm that the applicationset resource is installed in the argocd namespace?

[code]

[2022-01-19 14:18] ltmleo commented on #456
Sorry, I thought they were not namespaced resources. This was the problem. Thank you so much!!

[2022-01-19 14:19] ltmleo commented on #456
Sorry, I thought they were not namespaced resources. This was the problem. Thank you so much!!

[2022-01-19 14:19] #456 closed

[2022-01-19 16:28] fardin01 commented on #466
@jgwest Would love your thoughts before I start working on this :)

[2022-01-19 16:31] adamjohnson01 opened #468 "Add the ability to exclude files when using the git file generator"
When using the git directory generator it is possible to exclude specific paths like this

[code]

When using the git file generator I would like to be able to add files using a wildcard and then exclude specific files like this

[code]

Of course if there is another way to do this that I am not aware of then I would be happy to use that. If not I am also happy to implement this change if it is ag

[2022-01-20 01:59] mmerrill3 commented on #464
This logic also exists in the other scm_provider, gitlab.  The fix would be to add another function to the scm_provider interface to fill in the branches after the utils class filters the repos.  [Here](https://github.com/argoproj/applicationset/blob/c8fb714a35fc66805fdb184dd5e6455637d5a8b4/pkg/services/scm_provider/utils.go#L108), probably.  That's where the new function call would be to fill in

[2022-01-20 12:55] fardin01 commented on #464
Sounds good @mmerrill3. Looking forward to seeing what you'll put together 🚀

[2022-01-20 12:57] fardin01 commented on #464
@enys In the meantime, if you have Github Enterprise Cloud, you can create an OAuth token that has a 15k/hour rate limit, and in my case, it is JUST enough.

[2022-01-20 15:24] brunocascio commented on #424
Is there any plan to support this feature? :(
it's a quite common scenario. For example:

[code]

[2022-01-20 18:12] enys commented on #464
Yup that's more or less what I did. :) Thanks

[2022-01-20 20:18] #462 closed

[2022-01-21 11:37] OmerKahani commented on #358
Seems like a dup of #200

[2022-01-21 14:03] crenshaw-dev commented on #358
Could this be achieved by adding a branch name filter to the SCM provider generator? https://github.com/argoproj/applicationset/blob/master/docs/Generators-SCM-Provider.md#filters

[2022-01-22 18:50] mmerrill3 commented on #459
Would access be by using a personal access token?  That can be passed as a bearer token, from the docs here: https://confluence.atlassian.com/bitbucketserver072/personal-access-tokens-1005335924.html

[2022-01-22 20:15] mmerrill3 commented on #459
The cloud based version of bitbucket also doesn't have labels.  There is the idea of a workspace, so if you need to group respositories together, I guess they could be put in the same workspace.  That's not really the intent of a workspace though.  At least I don't see the ability to put labels on repositories in the cloud version of bitbucket.

[2022-01-23 20:34] jdomag commented on #459
@mmerrill3 is the labels something required? I could imagine that scanning whole workspace is fine.
Access would be via App Password https://support.atlassian.com/bitbucket-cloud/docs/app-passwords/ with option to reuse credentials defined for argocd - I've already have a password to bitbucket there, would be nice to reuse it instead of adding new one.

[2022-01-24 13:55] mmerrill3 commented on #459
@jdomag , labels are not required.  They just would be empty in the scm_provider.Repository structure.

The other two scm providers, gitlab and github.com, use static access tokens for authenticating with the cloud provider.  I see that bitbucket does as well, if you pass in the static access token as a bearer token, and the go client library for bitbucket supports that method as well.

If we use

[2022-01-24 14:07] jdomag commented on #459
@mmerrill3 I think Personal Access Tokens are not available on BitBucket cloud:
https://community.atlassian.com/t5/Bitbucket-questions/Personal-Access-Token-for-Bitbucket-Cloud/qaq-p/677663

[2022-01-24 17:15] Lp-Francois commented on #459
It would be awesome to have bitbucket added :)

[2022-01-25 10:13] romuduck opened #475 "Cannot combine Git files and Git directories generators with matrix"
Hello,

### Current behavior
When using matrix generator, we cannot combine:
- a Git directory generator which would browse through services for example
- a Git file generator which would look for some cross-service configuration files

Probably obvious, but as both generators output a ```path``` key, but are browsing different sources, it results in following error:
[code]

### Expectation
I gues

[2022-01-25 16:35] pkrishnath commented on #173
I solved as

[code]

[2022-01-25 17:15] crenshaw-dev opened #476 "docs should be more explicit about necessity of appset namespace"
Users aren't realizing that appset resources need to be in the same ns as the controller (like [here](https://cloud-native.slack.com/archives/C01U45M2SVB/p1642616600045200) and [here](https://github.com/argoproj/applicationset/issues/456)).

Make sure all examples have a note about using the correct namespace.

[2022-01-25 21:59] mlosicki commented on #459
I know it's in the title, but is this issue strictly limited to Bitbucket Cloud (i.e. API 2.0)?

For those interested in Bitbucket Server (i.e. API 1.0), I have an implementation for SCM and PR generators [on this branch](https://github.com/mlosicki/applicationset/tree/feature/bitbucket-server-scm-and-pr)

[2022-01-25 22:12] mmerrill3 commented on #459
Thanks @mlosicki , the bitbucket server supports labels now if you'd like to use it.  That's great work.  I do get the sense that this is for Bitbucket Cloud.

[2022-01-26 04:28] morningspace commented on #221
We have seen the similar issue when using ApplicationSet w/ app-of-apps pattern. Using a top level app to include all ApplicationSets, and all apps will be spawned simultaneously, although some apps need to be synced prior to others. Right now, as a workaround, I have to insert some "check" jobs into these apps to ensure the sync order, which makes it very ugly and invasive to existing apps.

[2022-01-26 15:07] christianh814 commented on #221
Related:

https://github.com/argoproj/argo-cd/issues/7437
https://github.com/argoproj/argo-cd/pull/3892

Looks like having the `Application` resource having a `dependsOn` feature would help here

[2022-01-26 15:28] agaudreault-jive commented on #254
Is there a way to set `preserveResourcesOnDeletion: true` as the default behavior in the applicationSet controller ? If not, do you think that would be a good feature ?

[2022-01-28 02:05] AlexandreODelisle opened #478 "publish arm64 for argoproj/applicationset"
Hi,

Wondering if it is possible to release image with ARM architecture support as well?

Argo CD sub project ( and main ) are supporting or working on it.

I don't see the support for ARM in the [registry](https://quay.io/repository/argoproj/argocd-applicationset?tab=info).

**ArgoCD**
[Pull Request]( https://github.com/argoproj/argo-cd/pull/8108)
[Registry](https://quay.io/repository/argoproj/ar

[2022-01-28 20:01] wtam2018 commented on #361
@farodin91 can you please update your proposal with labelSelector?

[2022-01-31 09:38] gajus commented on #168
@rbkaspr Did you ever a figure out a workaround for this?

I am in a similar boat where the entire cluster is deployed using a single ApplicationSet utilizing Helm. However, one of the deployments requires Kustomize and that means I need to either deploy it separately or add `kustomization.yaml` for every project. Neither is ideal.

[2022-01-31 15:27] agaudreault-jive opened #480 "Git generator - Error fetching repo with GitHub app"
I have a GitHub app credentials configured globally in ArgoCD for all repository in `my-org`. However, when an application use the git generator, if fails every now and then to fetch the repository with the error `could not get access_tokens from GitHub API for installation ID <REDACTED>: context deadline exceeded`

Error:
[code]

Secret configuration:
[code]

ApplicationSet example:
[code]

Runni

[2022-01-31 20:09] ssomuah opened #482 "Why are child templates ignored in merge and matrix generators?"
Hi, I'm trying to use the merge generators with templates, but the documentation points out that templated in child generators are ignored. I'm curious as to why and whether there's another way to achieve what I want.

I'm trying to use generators additively because I need to optionally include a field in the spec for the Application.

[code]

In this example I need to have path or chart in the fi

[2022-02-01 11:34] exocode opened #483 "How to create a Cluster resource programmatically?"
I am able to create `AppProject` and `Application` but I didn't found a way how to create `Cluster`?
How can I add a `Cluster` entry in ArgoCD programmatically?

This is what I want to do:

[code]

This is what it's possible:

[code]

My goal is, to create a cluster entry in ArgoCD with the IP and cluster name set automatically. I read the the corresponding data from a `kubeconfig` file, which is

[2022-02-01 15:48] morningspace commented on #35
I tried [this workaround](https://github.com/argoproj/applicationset/issues/35#issuecomment-769358837) on OpenShift using OpenShift GitOps built on top of Argo CD, and it doesn't work as the secret will be deleted soon by OpenShift, any idea on how to make it work on OpenShift. @jgweat

P.S. The same approach works on vanilla Kubernetes.

[2022-02-01 15:52] morningspace commented on #35
FYI: Someone is complaining the same thing at: https://github.com/redhat-developer/gitops-operator/issues/255

[2022-02-01 17:38] mksha opened #486 "Application Set not allowing to use jqPathExpressions"
In ApplicationSet, I am not able to use jqPathExpressions under ignoreDifferences. getting validation errors

Argocd Version used: 2.1.1
Application Set version: 0.3.0

[code]

[code]

[2022-02-01 17:43] mksha commented on #486
@jgwest @OmerKahani

[2022-02-01 17:43] mksha commented on #486
Let me know how I can help here. I already did take a look at code but seems property is there in spec of both application and applicationset.

[2022-02-01 21:08] dan1el-k opened #487 "ApplicationSet Controller pulls git repos multiple times per minute instead of every 3m"
We are running the ApplicationSet Controller Version v0.3.0 together with ArgoCd 2.1.6 (deployed via ArgoCD Operator) on multiple OKD clusters

We experienced that the controller for any reason is fetching more often that every 3 min
So once every 1 min, or sometimes even every 20-30 seconds
We have 5 different Application Sets running, all behaving in this same schedule.
Multiplied this scenario

[2022-02-02 00:49] AnjaliSrivastava29 opened #488 "Can ApplicationSets and App of Apps be used together in a monorepo?"
I am trying to deploy a very big service consisting of different components with ArgoCD.
I'm using a single repo to define all the components and using ApplicationSets to divide config based on environments, so each environment gets one ApplicationSet (dev, staging, prod..) each. For each environment, the targetRevision will be different.
[code]

Here, my source path `apps` has a Helm Chart format

[2022-02-02 00:51] AnjaliSrivastava29 commented on #488
@jgwest Do you have any comments on the above question?

[2022-02-02 03:59] blkperl opened #490 "github.com/pkg/errors is no longer maintained"
pkg/errors is no longer maintained. See pkg/errors#245

We can replaces all calls to errors.Wrap/f with fmt.Errorf and removes the unneeded dependency on
github.com/pkg/errors since we don't support go 1.12 or lower. See microsoft/go-winio#227 for an example.

[2022-02-02 04:03] blkperl opened #491 "github.com/valyala/fasttemplate is no longer maintained"
valyala/fasttemplate does not have a recent commit in the last 2 years and is only used in pkg/utils/util.go. We should investigate whether it can be replaced with the standard library `text/template` or a maintained alternative.

https://pkg.go.dev/text/template

[2022-02-02 13:16] bitgandtter commented on #480
Any insights? same issue here

[2022-02-02 13:55] faraktingi commented on #488
Hello @AnjaliSrivastava29
We are also facing the same issue as we are trying to use ApplicationSet deploying a first Application which will then deploy others Applications.
Based on the following schema:
[code]
This architecture supposes to control the Sync wave between waves. Deploying applications in a specific order.

[2022-02-02 14:54] crenshaw-dev commented on #480
@agaudreault-jive this looks like a transient issue when the GitHub API fails to respond to a token refresh request within 15s. If it's super annoying, we could look at adding some retry logic.

[2022-02-02 15:28] agaudreault-jive commented on #480
@crenshaw-dev if that is the case, a retry would fix the issue. I already had problems in another application using the same github app in concurrent process, so maybe that could be the source of error.

https://docs.github.com/en/rest/guides/best-practices-for-integrators#dealing-with-secondary-rate-limits.

I currently run argo with 5 repo-server pods.

[2022-02-02 15:44] mksha commented on #486
same works in application, but not applicationset

[2022-02-02 16:21] mksha commented on #486
@jgwest

[2022-02-02 19:09] dyasny opened #492 "When a parameter is missing, the template is passed explicitly, and results in incomprehensible error"
I have a set of parameters in a git repo that I care about, example:
[code]

My appset generator uses a helm chart to deploy the app:

[code]

As you can see, `d` isn't in the config file. What happens is the appset creates the app manifest with `--set d={{d}}` which fails with an error that's irrelevant to the issue:
[code]

In my specific case, I would expect the argument to not be passed at all

[2022-02-03 14:55] AnjaliSrivastava29 commented on #488
I was able to use Helm plugin in the Appset and Application YAMLs to deliver the values to the most bottom level.

[2022-02-03 14:55] #488 closed

[2022-02-03 20:07] mmerrill3 commented on #459
This is related to #472, since there's a change in the interface in that PR if it gets merged.  I was holding off on looking deeper into this ask until that PR had movement.

[2022-02-05 05:25] #363 closed

[2022-02-07 09:17] mksha commented on #486
@jessesuen @huikang

[2022-02-09 06:52] hcelaloner opened #495 "Exposing Default Metric Port in Manifest Files"
# Summary

Out of the box, Applicationset presents some controller-runtime metrics on port 8080. However, the metric port is not defined as a container port in manifest files, therefore, they are not accessible. By default, can we make it accessible?

# Proposal

- By default, define it as a port definition in the manifest port.

[2022-02-09 07:23] hcelaloner opened #497 "Can we make controller concurrency configurable?"
# Summary

We are heavily using applicationset in our company. Most of the time, making a change on applicationset and generation of a new application takes approximately 30 minutes. We saw that the maximum number of concurrent Reconciles which can be run defaults to 1. Can we speed up processing applicationsets by increasing this number? Would it cause any concurrency-related issues for applicati

[2022-02-10 01:51] crenshaw-dev opened #498 "document that git generator uses `git ls-files`"
Folks would [find this info useful](https://cloud-native.slack.com/archives/C01TSERG0KZ/p1644445840838049?thread_ts=1644435667.998919&cid=C01TSERG0KZ) if it were in the docs.

[2022-02-10 10:03] dan1el-k commented on #487
I further analysed the behaviour and found actually the issues, causing the crazy git polling intervals in our case.

# Issue 1 - Application Syncs of Application Controller (with app-resync schedule) triggers ApplicationSet
The Application controller app-resync (by default every 3m) triggers ! **in addition** the ApplicationSet controller.
In my opinion, this contradicts the desired behaviour of

[2022-02-10 12:22] ONordander commented on #483
One way of creating a cluster programmatically is by creating a Secret (https://pkg.go.dev/k8s.io/api/core/v1#Secret)
and populating it with information for ArgoCD, specifically the annotation `argocd.argoproj.io/secret-type: cluster`
Hope that helps.

[2022-02-11 16:11] fardin01 commented on #186
Another use case is when some teams would like to have auto-sync enabled on their application and some other teams prefer to sync manually.

[2022-02-12 17:00] YannayH commented on #459
Hey @mlosicki,
Loved what you did with Bitbucket Server (as my organization uses it currently). Would love if you open a PR to the main repository, and that your feature will be in the next version so everyone could use it!

[2022-02-13 22:24] EStork09 opened #501 "skipCrds is missing from the Helm Resource for the applicationset CRD"
skipCrds has been added to the application resource such as [this](https://github.com/argoproj/argo-cd/blob/master/manifests/crds/application-crd.yaml#L269).

Applicationset currently doesn't support this as a resource for the [crd resource](https://github.com/argoproj/applicationset/blob/8220c8a6e49e6f4c773a25d09b091aa7bab2ff3f/manifests/crds/argoproj.io_applicationsets.yaml#L189-L223) I am not s

[2022-02-14 16:37] jgwest commented on #501
This will be fixed for `master` by https://github.com/argoproj/applicationset/pull/502
And 0.4.0 already includes the fix.

[2022-02-14 18:27] EStork09 commented on #501
Wow, you are good! Would you like me to close this as resolved or wait for the PR to be merged?

[2022-02-14 22:47] williamcaban commented on #391
The idea with this RFE is NOT to have to use Helm and instead have it natively as a capability of applicationsets.

[2022-02-15 04:45] mksha commented on #486
@huikang @jessesuen  any thoughts?

[2022-02-15 12:33] gzur opened #503 "[scmProvider] - Github repos with no branches cause scmProvider to fail"
## Overview
There are basically two problems here:
1. A single misconfigured repo inside a Github organisation crashes the reconcile loop for an `scmProvider`
2. Filtering out misbehaving repos does not work.

## What did I expect to happen?
1. I expect the controller to disregard repositories that do not match the filter.
2. I expect the `applicationset-controller` to survive misconfiguration of

[2022-02-15 15:08] gzur commented on #503
I have a repro using my own org: `gzur-org`. It's just two repos - one [empty](https://github.com/gzur-org/empty-repo) and [one not](https://github.com/gzur-org/nonempty-repo).

I think a solution to this would have to [perform repository filtering](https://github.com/argoproj/applicationset/blob/0edd1527bb73fa3c8e8578a1a6124e71412f5403/pkg/services/scm_provider/utils.go#L98) before [attempting to

[2022-02-15 22:35] mlosicki opened #505 "Add support for Bitbucket Server"
There's already an issue for Bitbucket Cloud (https://github.com/argoproj/applicationset/issues/459), but not for Bitbucket Server.
The REST API is also different, I think it would be simpler to threat them as separate SCMs

[2022-02-15 23:00] mlosicki commented on #505
@YannayH here you go, but I saw that there are a couple of other issues/PR that, if merged, would require revisiting this. Also not sure if maintainers are interested in supporting this particular SCM.

[2022-02-16 10:11] YannayH commented on #505
Thanks @mlosicki.
Would help me greatly if merged and put in the next version :)

[2022-02-16 16:14] crenshaw-dev commented on #503
I think https://github.com/argoproj/applicationset/pull/472 might resolve this.

If you have time to test against your repro org, that would be appreciated! If not I'll try to get to it asap.

[2022-02-16 16:24] crenshaw-dev commented on #503
Actually I was super curious, so I tested. 😆 #472 does solve the problem if you add a filter. But it still fails if you don't have a filter.

I'll write up a test and see if it's reasonably easy to handle no-branch repos.

[2022-02-16 18:26] crenshaw-dev commented on #486
@mksha I can't reproduce this as either an appset controller error or a `kubectl apply` error. What command is actually throwing the validation error?

[2022-02-16 19:19] crenshaw-dev commented on #491
Looking forward to seeing what direction Workflows goes with this.

I'd like to add some more templating capabilities to ApplicationSet (in a backwards-compatible way). Maybe supporting text/template at the field level is the way to go.

[2022-02-16 19:38] crenshaw-dev commented on #482
@ssomuah I thought about this when implementing merge generator and couldn't think of a use case to justify the extra complexity.

Can you achieve what you're trying to do by using two cluster generators instead of three in a merge generator?

[code]

[2022-02-16 19:51] crenshaw-dev commented on #475
@romuduck wouldn't a file generator with something like `../**/config.yaml` be the same thing as a file x directory matrix generator?

[2022-02-16 19:55] crenshaw-dev commented on #468
@adamjohnson01 I'm not aware of a workaround. Would you be willing to contribute the feature?

[2022-02-16 19:59] crenshaw-dev commented on #466
@fardin01 how would you feel about adding templating support to the second generator in a matrix generator? Basically pass each variable set produced by the first generator to the second generator and perform substitution before running the generator.

Something like this:

[code]

[2022-02-16 21:37] adamjohnson01 commented on #468
@crenshaw-dev yes I am happy to contribute.

[2022-02-16 23:39] ambrons opened #510 "What's the best practice for using an ApplicationSet with "cluster-addons" when you need to upgrade addon"
I've read through the issue tracker, both closed and open.  I've read through the documentation as well.  I'm new to argocd, gitops, and argocd applicationset.

I have a cluster up and running with argocd and argocd applicationset.  I want to install all of my cluster-addons as an applicationset for the 6+ clusters my group manages.  We run things like istio, kiali, prometheus, csi drivers, produc

[2022-02-17 11:25] joebowbeer commented on #270
Does it not at all?

https://github.com/argoproj/applicationset/issues/480

[2022-02-17 18:57] templarfelix commented on #468
i need same feature, @adamjohnson01 you make this chances? if not call for me i write this.

[2022-02-17 22:36] #476 closed

[2022-02-18 03:44] #503 closed

[2022-02-18 05:27] blkperl opened #586 "argoproj membership is missing permissions on argoproj/applicationset"

[2022-02-18 15:39] #464 closed

[2022-02-19 08:52] mksha commented on #486
Why i tried to apply the applicationset with jqPathExpressions then it failed the validation step. It says that field is invalid.

[2022-02-20 07:13] zhengyansheng commented on #396
For example, I have two k8s clusters, cluster1 and cluster2,

Cluster1 cluster is the of Tencent cloud and uses the image warehouse of Tencent cloud,

Cluster2 cluster is owned by Alibaba cloud and uses Alibaba cloud's image warehouse,

Obviously, the addresses of the two image warehouses are different;

If I want to manage this scenario through Argo applicationset, when I upgrade the deployment i

[2022-02-20 07:20] zhengyansheng opened #512 "applicationset，supprt add .spec.generatos.list.iamgeRegistroy args"
[code]

For example, I have two k8s clusters, cluster1 and cluster2,

Cluster1 cluster is the of Tencent cloud and uses the image warehouse of Tencent cloud,

Cluster2 cluster is owned by Alibaba cloud and uses Alibaba cloud's image warehouse,

Obviously, the addresses of the two image warehouses are different;

If I want to manage this scenario through Argo applicationset, when I upgrade the depl

[2022-02-20 14:46] adamjohnson01 commented on #468
@templarfelix, I have this working. Will create a PR soon.

[2022-02-22 08:08] oleg-glushak opened #515 "Build/push pipeline is broken"
The build and push pipeline has been broken since [this](https://github.com/argoproj/applicationset/commit/a2b34681feb1d0a00b5a09f615e9716856c3c97b) commit.

As a result we can't get most recent development builds.

[2022-02-22 12:01] runderwoodcr14 opened #516 "Pull Request Generator failing with event not defined to be parsed"
After I upgrade the applicationset to v0.3.0 on argoCD v2.1.6, I tried to start using the Pull Request generator, however argocd is returning this error:

[code]
Here is my applicationset yaml

[code]

The event from Github:
[code]

Note that domains, repo names and org has been used as examples instead of real ones

[2022-02-22 22:55] crenshaw-dev commented on #516
How certain are you that the request headers in your example are the ones being received by ApplicationSet?

The logic which throws the error message you're getting is very simple. Assuming there's nothing weird like trailing whitespace in the header value, that request should not be throwing the error you're seeing.

[2022-02-22 23:00] crenshaw-dev commented on #512
I don't understand the use case. What is `imageRegistry` meant to do?

[2022-02-23 08:33] bogatuadrian commented on #293
I have a couple of suggestions for @jgwest's questions.

### What format should this take?

#### 1. User-controlled components

Instead of allowing arbitrary access to any path component, we could allow the user to specify the components of interest from the generator (instead of from the template). An example based on the initial Slack [discussion](https://cloud-native.slack.com/archives/C01U45M2

[2022-02-23 08:48] svmaris commented on #293
@bogatuadrian I'm not really familiar with the code, but would it be possible to use regex-based matching instead of globbing? Referring to the components using their index in the path is something that you can easily make a mistake with. Plus, changing the path structure is a bit harder because you need to move all components around as well.

I'm talking about something like this:

[code]

[2022-02-23 08:53] runderwoodcr14 commented on #516
Thanks for your reply @crenshaw-dev the only event failing is the pull_request, the push event its working as expected, here is a header from a push:
[code]
And here one from pull_request:
[code]
If the headers were sent incorrectly the push will also not work, somehow in this case, is like even the crd is there, I can create the applicationset configuration with no errors, still argocd is not rec

[2022-02-23 09:29] bogatuadrian commented on #293
@svmaris I'm also not familiar with the code, but from a design perspective I believe that using regex **instead of** globbing would be a breaking change. If you use another field like `pathRegexp`, as you  previously mentioned, it might work.

Some questions/concerns I see are:

1. What does `pathRegexp` actually do? Does it do the actual matching instead of `path`, or does it only do the parsing

[2022-02-23 09:53] svmaris commented on #293
@bogatuadrian My initial thought that regexes would not *replace* globbing, but could be used *in addition* to globbing.

But while thinking about your first question/concern: In order to actually *read* the files from the repo, you'd probably need to do something like you suggest, by decoupling the path and the regexp. It would be really hard (if not impossible) to implement this using *just* the

[2022-02-23 09:57] bogatuadrian commented on #293
@svmaris But if you use both `path` and `pathRegexp`, and `pathRegexp` is only used to extract the named groups from the _already matched_ paths, then I think it should be fine 🤔. Do you see any problem with this approach?

[2022-02-23 10:07] svmaris commented on #293
@bogatuadrian No I don't. I think that could be a good approach and it would offer a bit more flexibility than using index-based components. We do need to think about what happens when a path *doesn't* match the `pathRegexp`. Probably the `pathRegexp` should act as a *filter* as well by removing all paths that don't match, so we might want to find a better name for it (like `filterRegexp` or `path

[2022-02-23 15:17] w4rgrum commented on #475
Allowing to prefix the variables in output of the generators would be nice and help using twice the same generator in a matrix generator. This could be done by adding an optional "name" field to generator for example, if present all outputs would be prefixed by "<name>."

[2022-02-23 16:18] farodin91 commented on #361
@wtam2018 I updated the doc.

[2022-02-24 11:27] gzur opened #517 "Allow SCM Provider to authenticate via Github App"
AFAICT, the SCM Provider only supports authentication via Github Tokens.

This is problematic for organisations, since it leaves you with the following options:
1. Rely on a developer's Github Token - which means that if that developer leaves your organisation, your CD pipeline stops working.
2. Create a dedicated "robot" user and rely on a Github Token created for that user. While this sounds opt

[2022-02-24 12:33] ShauliSolomovich opened #518 "Add the ability to use templating on generators values"
enhancement request.

Today when using variables of generator in the template we can only use them as they are (raw values).
we need the ability to manipulate those values in order to create a valid Application
.
for example, some of our integrations creating automatic branches that we want to create an Application for, but the name of the branch is generated to something like that `my-integration

[2022-02-24 14:57] crenshaw-dev commented on #516
Ah! The webhook should point to the ApplicationSet webhook server instead of the Argo CD webhook server. The error message in Argo CD is saying, "the even type does not match what's expected." That's because Argo CD doesn't care about pull_request events. Only ApplicationSet is configured to listen to those events.

[2022-02-24 14:59] crenshaw-dev commented on #475
@w4rgrum true, that would work. Do you have a use case that requires a git file * git directory matrix generator?

[2022-02-24 15:26] crenshaw-dev commented on #518
Duplicate of https://github.com/argoproj/applicationset/issues/447?

[2022-02-24 15:30] crenshaw-dev commented on #351
Potential fix here: https://github.com/argoproj/applicationset/pull/513

[2022-02-25 06:28] #490 closed

[2022-02-25 09:13] RustamGimadiev opened #519 "Is it possible to use duck-type generator with cluster wide resources?"
I started to use such thing with the following configuration:
[code]
[code]
[code]
also, controller was configured with clusterRole with required permissions to list `spaces`, but for some reasons controller failed with
[code]

[2022-02-25 09:27] RustamGimadiev commented on #519
seems like dynamic client try to looking for resources in `argocd` namespace by default, as it passed to `list` call:
[code]

[2022-02-25 14:59] #518 closed

[2022-02-27 06:14] khuedoan commented on #347
I'd love to have this one so I can write custom health checks for ApplicationSet and use sync wave with it.

[2022-02-28 08:56] fardin01 opened #521 "Bug: RepositoryMatch filter is not working in combination with other filters"
Specifying a `RepositoryMatch` AND a `PathsExist` filter does not work as expected. The [ListRepos](https://github.com/argoproj/applicationset/blob/master/pkg/services/scm_provider/utils.go#L94) function will still fetch all the available repos, because [compileFilters](https://github.com/argoproj/applicationset/blob/2e8d85ef65e28aad19edd3fcabbcdc1a9119ae7b/pkg/services/scm_provider/utils.go#L11)

[2022-02-28 09:28] fardin01 commented on #466
@crenshaw-dev I think templating support in the second generator would be an excellent idea generally, but not so much in this specific use-case, because the matrix generator (at least at this moment) supports only two child generators. What if someone wants to use the SCM Provider (with PR support) and e.g. cluster generator (which probably is a common real-world scenario)? If the SCM Provider su

[2022-02-28 13:14] fardin01 commented on #521
A fix is being worked on https://github.com/argoproj/applicationset/pull/511

[2022-02-28 16:46] crenshaw-dev commented on #457
I think you could accomplish this by adding an outer matrix generator whose first generator is a list with a single element containing all your variables.

[2022-02-28 16:49] crenshaw-dev commented on #465
You could use a git files generator and have a config file for each app specifying the destination namespace.

Alternatively, with [functions in templates](https://github.com/argoproj/applicationset/issues/303) you could dynamically pick the namespace based on some other value (like path). Hopefully we can get that implemented soon.

[2022-02-28 16:53] crenshaw-dev commented on #438
Yep, thanks Chetan!

[2022-02-28 17:08] crenshaw-dev commented on #377
I think something similar could be achieved with functions. https://github.com/argoproj/applicationset/issues/303

[2022-02-28 17:39] crenshaw-dev commented on #362
@chetan-rns have you made any progress on this? I'm looking at a related [PR](https://github.com/argoproj/applicationset/pull/513) dealing with functions in templates. Depending on the design choices, that work may overlap a bit with this.

[2022-02-28 20:18] gajus commented on #465
This is what we ended up using.

Functions in templates would be really cool too!

[2022-02-28 20:18] #465 closed

[2022-02-28 23:04] shmargum opened #522 "clarify docs for submodules"
simply setting the env var
[code]

will do the trick, but this is not documented

[2022-03-01 10:22] mabusaa opened #523 "Clarify HA mode and the usage of leader election"
We need some clarification on how to enable HA mode and the usage of leader election in documentation

[2022-03-01 14:34] agaudreault-jive commented on #480
Looking deeper into this, we found an issue with our egress traffic configured for the nodes were some of the argoCD pods were running. The issue was causing request to take a lot longer than 15s. Since we moved the pods to nodes without the issue, I did not notice the problem anymore. Thanks @crenshaw-dev, your information helped me figure out the network problem.

I will close the issue, but if

[2022-03-01 14:34] #480 closed

[2022-03-01 15:18] mksha commented on #486
Hi Sorry for the day, but it says jqPathExpressions is not allowed property and we must have to specify jsonPointers

@crenshaw-dev

[2022-03-01 20:28] daydy16 commented on #386
Doesnt work for me either with specific files.
Also it looks like labelMatch isn't working as well.

[2022-03-02 15:15] ErikLundJensen commented on #468
Will this feature also support exclude directories like `/foo/**` or `/foo`  in the git files generator?

[2022-03-02 16:33] crenshaw-dev commented on #466
@fardin01 will review!

I think there might be a couple possible fixes for the matrix generator limitations:
1) use a nested matrix generator, providing up to 3 generators
2) add support for N generators in a matrix generator

But those are certainly more involved than your fix. Since your change just adds a field that we could later deprecate to go another direction, I think it's probably quite s

[2022-03-02 17:55] crenshaw-dev commented on #486
@mksha is it possible that your CRD is out of date?

[2022-03-03 03:48] zhengyansheng commented on #512
I want a cluster to use a mirror warehouse

[2022-03-03 14:44] crenshaw-dev commented on #512
How would you like that information to be communicated AppSet -> Application -> Manifests? afaik, there's no field in the Application manifest which would allow you to override the image registry for all images in that application's manifests. However, there are fields to override images for Kustomize manifests, and many Helm charts are templated to allow specifying image repositories.

[2022-03-03 15:05] mksha commented on #486
@crenshaw-dev

[2022-03-03 15:07] mksha commented on #486
`{
    "apiVersion": "apiextensions.k8s.io/v1",
    "kind": "CustomResourceDefinition",
    "metadata": {
        "annotations": {
            "controller-gen.kubebuilder.io/version": "v0.3.0"
        },
        "creationTimestamp": "2021-08-02T14:02:25Z",
        "generation": 1,
        "name": "applicationsets.argoproj.io",
        "resourceVersion": "2772165",
        "selfLink": "/apis/apiext

[2022-03-03 15:50] crenshaw-dev commented on #486
@mksha yep, looks like you need to apply a newer version of the ApplicationSet CRD.

[2022-03-03 16:07] alexmt opened #528 "Reduce ApplicationSet and Argo CD coupling"
# Summary

Currently, Argo CD and ApplicationSet have implicit dependencies on each other. The ApplicationSet imports Argo CD code and Argo CD Application CRD validation schema.  Argo CD bundles ApplicationSet installation manifests.

This coupling creates some issues for maintainers during release and for end-users as well:

* The Argo CD and ApplicationSet are released at the same time but due t

[2022-03-03 16:13] crenshaw-dev commented on #486
Were you able to get the correct version deployed?

[2022-03-03 16:14] alexmt commented on #528
@crenshaw-dev , @jgwest WDYT?

[2022-03-03 16:14] mksha commented on #486
yeah, i can see it there

[2022-03-03 19:14] alexmt commented on #528
Based on discussion in contributors meetings, changed the proposal to merge Argo CD and ApplicaitonSet code.

[2022-03-03 21:00] adamjohnson01 commented on #468
`/foo/**` would work but `/foo` would not as the entire path needs to match. There needs to be either a `**` or any pattern that is accepted by [path.Match](https://pkg.go.dev/path#Match)

[code]

[2022-03-04 04:52] mksha commented on #486
Ok, it was issue with argocd-applicationset helm chart, when we upgrade the chart version it does not update the CRDs, so we need to make sure we update those CRDs either using fluxcd or manually.

After updating the CRDs I am able to see the jqPathxxxx property but I will try to consume it in one of applicationset and then will let you know.

Thanks for your help

[2022-03-04 16:57] chetan-rns commented on #362
@crenshaw-dev I had started working on it a couple of weeks ago, but haven't reached far. So I'm okay if there will be any changes in the design choices. I will take a look at the PR.

[2022-03-04 17:33] gaeljw opened #530 "Matrix generator where a generator can reference items of another one"
I'm wondering if this would be possible that a generator use another's generator items.

For instance, imagine the following manifests structure on a GitOps repository:
[code]

Each instance being defined as a single Argo application. Thus 6 instances, 6 Argo applications.

Right now, I use a List generator with 6 items corresponding to the 6 variants.

I would like to be able to define a Matrix g

[2022-03-07 10:47] #486 closed

[2022-03-07 16:48] jgwest opened #532 "ApplicationSet v0.4.0 Release Checklist"
- [X] A `release-(numbered version)` branch exists in `argoproj/applicationset`
    - example: 'release-0.1.0'
    - [X] The release branch name should NOT contain the letter `v `(e.g. BAD: `release-v0.1.0`, not like this!)
    - [X] Confirm that, within the GitHub web UI, the branch says `This branch is 1 commit ahead of master. `, with that one commit being the release commit described below.

-

[2022-03-07 17:03] jasonmacdonald commented on #492
Is there any way around this, I've got the same issue where some helm charts have value files and some do not.

[2022-03-08 12:24] jgwest commented on #532
Released :tada:

[2022-03-08 12:24] #532 closed

[2022-03-10 14:31] jgwest opened #537 "ApplicationSet v0.4.1 Release Checklist"
#### Once you have completed a release, the following should be true:
- [X] A `release-(numbered version)` branch exists in `argoproj/applicationset`
    - example: 'release-0.1.0'
    - [X] The release branch name should NOT contain the letter `v `(e.g. BAD: `release-v0.1.0`, not like this!)
    - [X] Confirm that, within the GitHub web UI, the branch says `This branch is 1 commit ahead of master

[2022-03-10 15:27] crenshaw-dev commented on #530
I agree, this would be really useful. Is anyone interested in opening a PR?

[2022-03-10 15:39] KojoRising commented on #530
Yeah, I'd be happy to try my hand at it.

[2022-03-11 04:16] krishvoor opened #538 "make image fails on ppc64le architecture."
Thanks for the wonderful readme/documentation, whilst `applicationset` from the source ppc64le architecture.
I encountered this error:-

[code]

[2022-03-11 15:56] #537 closed

[2022-03-13 22:30] adamjohnson01 commented on #475
@crenshaw-dev, I am happy to have a go at implementing this.

[2022-03-14 06:57] mabusaa commented on #129
@jbaskeen can you please share how you enable the HA mode ?

[2022-03-14 07:04] mabusaa commented on #523
I figure this that you have to set a controller --enable-leader-election=true in deployment resource "applicationset-controller".

I can PR with enhanced docs for this.

[2022-03-14 11:24] RiverPhillips opened #547 "Argo CD Image Updater causes an infinite loop of syncs with ApplicationSets"
**Describe the bug**
I am using ApplicationSets to deploy multiple applications, the template for this ApplicationSet is creating applications with the required annotations for the image updater. This leads to the applications syncing constantly.

I cannot use git writeback with the Argo image updater as I want to ensure the image tagged main is always deployed.

I have raised a bug with the Argo

[2022-03-15 13:25] yevgeniyo opened #549 "Example doc issue for PR Generator"
requeueAfterSeconds - not in the right place and need two additional tabs

https://argocd-applicationset.readthedocs.io/en/stable/Generators-Pull-Request/#github

[2022-03-16 10:54] yevgeniyo commented on #442
got the same issue with this setup:

[code]

[2022-03-16 15:05] tathagata opened #551 "Changes made on UI not synced"
Hello there!
Argo CD: v2.3.0+fe42780

After deploying an applicationset spec, do we lose the ability to make changes to the app from the UI?
I'm logged in as admin and trying to do simple tasks like disable auto sync, rollback etc. from the UI, but none of them are retained.
Looking at the pod logs, there is nothing obvious like any permission issue. On the UI, the changes get immediately reset to

[2022-03-16 17:17] pre commented on #270
Github token based authentication works for me in v2.3.1 after https://github.com/argoproj/argo-cd/issues/8716

[2022-03-17 10:50] ofirshtrull opened #552 "[bug] git generator wont add map or list as values"
Hello to all
I want to have an applicationset for an external chart i.e `kube-prometheus-stack`  each cluster has many different values and I want to manage the values via a clean and per env value file
so I created the next two files
config/prometheus-operator/dev.yaml
[code]

prometheus-applicationset.yaml
[code]

the main problem I get is that I cant add values that are set as a map
any workaro

[2022-03-17 21:58] stephaneetje opened #553 "function "cluster" not defined"
I'm trying to use application set with elements list as follow :

[code]

But argocd gives me this error :
`failed exit status 1: Error: parse error at (applications/templates/ingress-nginx-test.yaml:19): function "cluster" not defined`

Am i doing something wrong ?
I'm using the latest helm chart with argocd 2.3.1 with applicationsetController embedded.
It looks like it isn't being interpreted by

[2022-03-18 09:39] daydy16 opened #555 "SCM Provider Generator: Add possibility to filter pathsDoesNotExist"
Would be awesome to [filter](https://argocd-applicationset.readthedocs.io/en/stable/Generators-SCM-Provider/#filters) not only if files/paths exists, but to also filter if file **doesnt** exist.
We're using applicationsets with the scm-generator to create argo-apps when a helm-chart-repo is found in a specific gitlab group.
Because there is no clean way to suspend/pause apps in argocd at the momen

[2022-03-18 16:40] CRASH-Tech opened #557 "Get filename in git files generator"
Hi, I want to use git files generator, and use each file as heln values file. But I can get only dir name(path), without file name.
How I can get filename?

[2022-03-21 12:41] stephaneetje opened #558 "Appset UI show Diff for templated Apps"
By using AppSet, we are actually loosing the ability to see the diff for applications to be deployed.
Would it be possible to add templated apps diff, actually we just see the diff of the appSet.

[2022-03-22 10:29] povils opened #559 "Custom Generator"
Hey team!

What is the best way to write your own custom generator if needed? Like if I want to retrieve all clusters from the certain REST API, it would be great just to plug in my own built custom generator

[2022-03-22 13:17] crenshaw-dev commented on #559
I like this idea a lot.

One way would be to write a REST generator and then parameterize the heck out of it. But that seems fragile.

Argo Workflows has a plugin system which relies on the plugin author providing a sidecar which implements a well-defined HTTP server. The server can be written in any language and basically do anything the author wants, as long as it responds to the right endpoints

[2022-03-22 14:00] toamto94 commented on #553
Any response to this?

[2022-03-22 19:57] toamto94 commented on #553
I also fixed it. The problem is that in case you are pointing to a helm chart, the yaml is interpreted first by helm before it is passed to argo. Therefore, Helm tries to apply a "cluster" function which obviously does not exist. The workaround is to escape the curly brackets in the yaml. In my case, using '{{"{{"}}cluster{{"}}"}}' instead of {{cluster}} solved the problem.

[2022-03-23 13:31] povils commented on #559
Hey! I think it would work and would be quite flexible :) The only concern is wouldn't we still need to parametrize whatever(I assume AppliationSet controller) calls those well-defined endpoints? Like:
`/v1/clusters?region=eu&environment=test`

With this in mind wouldn't just be easier to have HTTP generator and you can set HTTP headers and body whatever you like? Of course, it will only then solv

[2022-03-23 15:54] crenshaw-dev commented on #559
Makes sense! I think we could make a JSON body part of the contract and then pass a generic `object` as one of the fields for parameters. That should leave plenty of flexibility for folks to send the plugin whatever information it needs.

[2022-03-24 14:58] Laakso opened #560 "Way to prevent accidental deletion of all applications"
In our organization we were discussing what could happen if the ApplicationSet manifest that defines tens of different applications would be accidentally wiped from the cluster. So I started look into it and opened slack [thread](https://cloud-native.slack.com/archives/C01U45M2SVB/p1648126691841449) in the #argo-cd-appset channel. It revealed that there is not yet any mechanism to prevent resource

[2022-03-25 17:20] elebioda commented on #475
I have a use case where our git file generator will grab all our cluster configs that contain certain information: gcpProject, gcpRegion and then use a directory generator to bring up our apps across all clusters.

[2022-03-27 15:02] vra5107 opened #561 "Appset is not spawning applications."
For some reason my `app of appset` setup is not spawning applications.  Have spent quite a bit of time on this, not sure what I am doing wrong. already went through some of the other issues posted here without success.

I have tried applying the appset.yaml directly instead of the `app of appset` setup. I had no success that way either.

### Root App

[code]

### Appset

[code]

Application.yaml
T

[2022-03-27 19:33] vra5107 opened #562 "Out of Sync Secret"
What is the image telling me ? What should I  change/remove/add to get the secret back in-sync ?

![image](https://user-images.githubusercontent.com/122128/160297712-88886a05-3696-48f4-a035-c55416c0045d.png)

[2022-03-27 20:00] #562 closed

[2022-03-27 20:14] #561 closed

[2022-03-28 07:13] petr4 commented on #553
@toamto94 Thank you! Great workaround! In the same time it works as well with `matrix` generator. Definitely, we need a fix for the bug

[2022-03-28 09:17] romuduck commented on #560
hello,
what about this option at controller level: ```--policy create-update```?

[2022-03-29 07:26] BeyerJC opened #564 "[Pull Request Generator] Add Filter for PR title"
Hi,

currently, we can use "lables" to filter which PRs should be taken into consideration. I think it could be a great addition if we also could add a filter for the PR title. Im think of some regex prevent the creation of an environment if the title starts with "docs:" for example
or just create environments for features or bugfixes.

[2022-03-29 07:31] BeyerJC opened #565 "Reuse credential template from argocd and github app authentication"
When using the PullRequest generator for example, i can pass a tokenRef to authenticate my Github enterprise repositories.

Since applicationset is now bundles with argocd , i think it would be great if the could reuse credential templates that are created in argo.

Currently im using Github App for authentication and it would be great if i could use the same method for applicationset, ideally reu

[2022-03-29 21:39] jjtroberts opened #569 "ssh-keysign SGID DoD/Anchore Compliance"
At [Platform One](https://software.af.mil/team/platformone/) we rebase onto UBI8, run as non-root, and continuously scan these hardened images using Twistlock, Anchore, and OpenSCAP. In our attempt to rebase [applicationset](https://repo1.dso.mil/dsop/opensource/argoproj/applicationset/-/blob/cfreeman/Dockerfile) Anchore's proprietary DoD ruleset is throwing a high severity finding on the SGID of

[2022-03-29 23:29] #482 closed

[2022-03-30 16:29] bobbywatson3 opened #570 "Pull Request Generator: Add Support for GitLab"
It would be great if GitLab was added as a supported SCM provider for the pull request generator.

[2022-03-30 18:12] mmerrill3 commented on #459
@jdomag the PR is merged, this issue can be closed.

[2022-03-31 09:15] jdomag commented on #459
@mmerrill3  that's great news! I will give it a try in the next release of applicationSet controller!
thanks!

[2022-03-31 09:47] Lp-Francois commented on #459
Hello!
Does it mean bitbucket will be included as a Generator Pull Request https://argocd-applicationset.readthedocs.io/en/stable/Generators-Pull-Request/ ?

[2022-03-31 10:01] #459 closed

[2022-03-31 11:33] Laakso commented on #560
@romuduck oh wow. This is what we will end up using:
[code]

[2022-03-31 11:33] #560 closed

[2022-04-04 12:02] rimasgo opened #571 "Vulnerable golang version used to package applicationset-controller"
Hello,

Applicationset-controller packaged using old golang version which contains vulnerabilities.

{
"name": "go",
"version": "1.17.6",
"path": "/usr/local/bin/applicationset-controller",
"layerTime": 1646920413,
"knownVulnerabilities": 55
},

CVEs:

CVE-2022-23806 | critical |   | go | 1.17.6 | fixed in 1.17.7, 1.16.14 | 11-Feb-2022 00:00 | 21-Mar-2022 13:11
CVE-2022-24921 | high |   | go | 1.1

[2022-04-04 12:13] rishabh625 commented on #571
@wtam2018 @jgwest : should we have to re release older version?

[2022-04-04 17:59] rishabh625 commented on #13
@omerlh : if u feel we should add this feature please open issue over [here](https://github.com/argoproj/argo-cd)

[2022-04-05 07:45] hcelaloner commented on #495
Closing this one since repo moved into argocd

[2022-04-05 07:45] #495 closed

[2022-04-05 10:46] hcelaloner commented on #497
Closing this one in favor of https://github.com/argoproj/argo-cd/issues/9002 since repo is moved into ArgoCD

[2022-04-05 10:46] #497 closed

[2022-04-05 16:02] prein commented on #163
I am observing similar issue with applicationset v0.4.1 and argocd v2.1.10 - installed using helm chart
Looking into #164 I understand it adds ssh known hosts mount but not the repository secrets. Is it correct?
Here is the error I'm getting
[code]

[2022-04-05 22:46] jgwest commented on #571
None of the CVEs impact APIs that are consumed by the applicationset controller, AFAIK.

[2022-04-07 07:58] daydy16 commented on #555
I am afraid I am not enough developer for this. Could someone help me out here?

[2022-04-07 08:30] rishabh625 commented on #555
I can give it a try, lemme prioritise it and let u know

[2022-04-07 17:19] crenshaw-dev commented on #442
Fixed via https://github.com/argoproj/argo-cd/pull/8998

[2022-04-08 13:50] povils commented on #559
@crenshaw-dev what needs to be worked on? Do you have some design in mind already?

[2022-04-08 15:02] crenshaw-dev commented on #559
@povils I think we have enough of a rough sketch for a design that a proof of concept could be built. Unfortunately I won't have time in the foreseeable future to prioritize this. If you have some time, I'd be happy to help you through any dev setup issues.

[2022-04-08 17:48] dyasny opened #572 "RFC 1123 breach causes massive slowdown in new deployments and stops deletions"
I have appset 0.3.0 which I use with help and the git generator.

here's the appset:
[code]

This triggers a helm deploy using `org_id` and `project_name` in various locations across the helm templates, including deployment names and ingress fqdns.

One of my users posted values that do not adhere to the RFC - thay had caps and underscores. The logs of the applicationset controller showed the foll

[2022-04-09 06:19] jizusun opened #573 "ApplicationSet bgd-pr-testing contains unrecognized generators: pullRequest"
Hi Community,

I'm getting this error message
[code]

And I installed my ArgoCD with ArgoCD Operator, and both `ArgoCD` and `ApplicationSetController` are the the latest version
[code]

What can I do fix the problem?

Best regards,
Jizu

[2022-04-09 17:52] povils commented on #559
Could you share the sketch with me, I could contribute :)

[2022-04-11 10:23] rtoma opened #576 "no arm64 image for applicationset"
Hi,
although https://github.com/argoproj/applicationset/issues/478 was closed with merge request, there do not seem to be any arm64 images for applicationset for 0.4.x in https://quay.io/repository/argoproj/argocd-applicationset?tab=tags

[2022-04-12 10:51] rishabh625 commented on #573
@jizusun : check invalid ApplicationSet has been created ,

[2022-04-12 20:21] KojoRising commented on #530
FYI, have gotten this working. Currently only the 2nd generator can reference the 1st, so
- A) The order will matter
- B) Both child generators' can't depend on params from one another (almost like a nested dependency issue).

Anyways, example of a cluster-generator interpolated from a git-files' values below:

![image](https://user-images.githubusercontent.com/29113963/163046958-b30bc205-bcb9-462

[2022-04-13 16:16] elebioda commented on #552
Any thoughts on this bug?

[2022-04-14 06:50] FrittenToni opened #577 "[Enhancement] Support for manual parameter overrides"
Hi,

we just moved our GitOps repo from app-of-apps pattern to applicationsets and we're really happy with it except of one issue that prevents us from reaching argocd nirvana. Unfortunately, we only noticed after the switch that manual parameter overrides that have been set manually, e.g. via argocd client (argocd app set command), are immediately overridden.

The only option to avoid it seems to

[2022-04-14 09:32] FrittenToni commented on #577
Closing this issue since I've created a new one in argocd repo: https://github.com/argoproj/argo-cd/issues/9101

[2022-04-14 09:32] #577 closed

[2022-04-16 12:03] jizusun commented on #573
@rishabh625  Yes it's created

[code]

[2022-04-16 19:00] rishabh625 commented on #573
https://argocd-applicationset.readthedocs.io/en/stable/Generators-Pull-Request/#template

Look at above example , your generators array is empty

Add this in your application set it will get fixed
[code]

[2022-04-16 19:13] rishabh625 commented on #573
I'll recheck, u can too if zero array for geenrators is accepted , it think a bug should be reported

[2022-04-18 14:52] crenshaw-dev commented on #559
I think you'd just define a new `HTTPGenerator` which accepts `url` as a parameter. Then accept as a response any JSON list of objects. The key/value pairs in the objects would become the parameters. There's already logic in the code which could be borrowed to flatten the JSON list.

[2022-04-18 16:18] povils commented on #559
@crenshaw-dev Will only URL be enough? What if you want some kind of authentication (Bearer token header) or provide a custom CA for TLS, and etc.
We can start with only URL and go from there ofc :)

[2022-04-18 16:21] crenshaw-dev commented on #559
If we limit it to `localhost` for sidecar plugins at first, I think we can skip auth. But yes, eventually we'd need to be able to parameterize it with secret references to populate auth headers.

[2022-04-19 20:50] jannis-a commented on #530
@KojoRising What's the status of your implementation? I will most likely have a use case for this feature in the near future.

Does you implementation also work with interpolated labels for the cluster generator? I tried to do the same and actually got it working, but the reconciler constantly triggers updates for all those applications.

[2022-04-20 08:21] jdomag commented on #186
@RichiCoder1
Should this ticket be closed and tracked under https://github.com/argoproj/argo-cd/issues/9101 ?

[2022-04-20 11:04] povils commented on #559
that sounds like a good start :)

[2022-04-20 16:10] KojoRising commented on #530
@jannis-a - I'm working on it right now. I already have a working version, but a reviewer on my PR (above) pointed out an edge case I didn't anticipate. Aiming to have it out by the end of the week.

Thanks for your interest tho! Feel like this will be useful for many folks.

[2022-04-20 19:02] KojoRising commented on #530
Also @jannis-a, I ran into a small problem on my PR (somewhat of an edge case). Feel free to take a look and provide some opinions on how I should tackle the problem. Thanks!

https://github.com/argoproj/argo-cd/pull/9080

[2022-04-21 09:59] jannis-a commented on #530
@KojoRising Great, I will take a look at that PR :)

[2022-04-24 17:47] yevgeniyo commented on #559
Guys, i think this idea is super cool. I've started to use application sets and realized that for source of truth i want to use some external database, for example DynamoDB. This is really helpful for dynamic env spin ups, like playgrounds....
Some generator which gets data from somewhere by rest it's fantastic. If you need help for contribution you can rely on me

[2022-04-27 08:11] Vladyslav-Miletskyi opened #579 "[Merge Generator] Using pair of different match keys"
Hi,
First of all, awesome idea and great job with ApplicationSet!

I would like to use merge Generator with cluster and git generators, as matching keys I would like to use cluster's name and path[0] keys. Correct me if I'm wrong, currently it is not possible to match values of 2 different keys.

## Setup

### added argocd clusters

- cluster1
- cluster2
- cluster3

### GitRepo structure

[code]

[2022-04-27 10:36] lhaussknecht commented on #576
The build, that creates the action never suceeded after the merge of #499.

https://github.com/argoproj/applicationset/actions/workflows/image.yaml?query=branch%3Amaster

[2022-04-28 09:03] gpanagiotidis opened #580 "Behavior of spec.template.syncPolicy.automated.prune is not expected."
When **spec.template.syncPolicy.automated.prune** is set to **false**, and I delete an element from the list generator, the applicationset will proceed to a) delete the application and b) delete the children resources.

Is this behavior the expected one? If yes then what's the point of setting spec.template.syncPolicy.automated.prune to false and from which cases does it protect from pruning?

My

[2022-04-29 21:15] romuduck commented on #559
I came across this suggestion a while back when I was about to post same request and forgot to give it a thumb up. We have tons of ideas where a custom generator is needed, quite often involving topology which is always quite specific.

[2022-05-06 15:46] cydergoth commented on #491
We have a use case where we need to generate an ApplicationSet which contains an existing deployed app. The deployed app can't be trivially redeployed (huge database)  and currently there is no way to set the helm `releaseName` for just this one app in the ApplicationSet. Expanding the template capabilities would allow us to special case this one application for backwards compatibility for the clu

[2022-05-10 00:54] asyncmax opened #581 "Webhook server crashes when Argo CD option `server.insecure` is set."
Hi,

We are using Argo CD with the following setting because TLS is terminated at the external Load Balancer outside of cluster.

[code]

With this setting, ApplicationSet controller's webhook server crashes at startup as below:

[code]

Because of this problem, ApplicationSet webhooks are completely disabled in this configuration. (Argo CD's webhooks work fine.)

[2022-05-19 05:10] eigenmannmartin opened #583 "[Question] Notification on Application generetat by Applicationset pullrequest generator"
Currently I have setup an applicationset that will generate an Application per pull request.
Now if I add github notifications to the application it will try to notify the git repo specified in the application. But what I need is a notification for the commit in the repo where the pr is created.

There are two repos:
- infrastructure (helm chart) <- here the notification is created but not wanted

[2022-05-19 11:46] diogokiss commented on #173
Any updates about this being feasible?

[2022-05-19 17:25] NesManrique commented on #576
+1 on this issue, just hit the same problem for version "v0.4.1"

[2022-05-19 17:38] spyder007 commented on #397
@hans-d did you ever figure out the appropriate syntax for this?

[2022-05-20 08:55] php-workx opened #584 "Make `DuckTypeGenerator` more flexible by allowing to configure name of root level `status` field"
Hey,

The `DuckType` generator is a great starting point for customizing which clusters get selected and adding additional information about clusters by adding more key/value pairs to the list elements.

The usage of this Generator seems (artificially) limited by the fact that there has to exist a `status` field in the K8s resource type.

https://github.com/argoproj/applicationset/blob/master/pkg/

[2022-05-20 20:37] zbialik commented on #173
I agree this would be really nice. I think a main issue is that these parameters all get flattened into string values. If we could somehow pipe the string to an array/list/dict OR just handle the parameters as these type of objects directly, that'd be great.

[2022-05-23 16:51] zbialik commented on #552
@ofirshtrull idk if it applies to you, but I got the helm values working by passing in the entire values.yaml as a parameter (multi-line string).

So for appset, you might have:
[code]

And the discovered `config.yaml` file via Git File Generator may have contents:
[code]

[2022-05-24 15:08] synthe102 commented on #547
Same issue here. Having an option to ignore the tag of the image would be great.

[2022-05-25 04:08] acelinkit commented on #581
Looks like that warning is expected.  https://github.com/argoproj/argo-cd/issues/1936

I also stumbled into this when trying to use an ApplicationSet.  Try putting it in the same namespace as argocd.  https://github.com/argoproj/argo-cd/blob/master/docs/operator-manual/application.yaml#L5

[code]

[2022-05-25 13:36] lacarvalho91 opened #585 "Cluster Generator: nameNormalized is not provided for local cluster"
I'm trying to create a very simple application set that will generate an application for every cluster, including the local cluster. The problem is that the names of my remote clusters have slashes so I need to use `nameNormalized`. But then it always fails to generate the application for the local cluster. The logs show:
[code]

I had a look at the code and saw that `nameNormalized` is [provided

[2022-05-27 07:37] jwenz723 commented on #369
@pdrastil try updating your config file to look like this:

[code]

This will cause all of the key/values within `values` to be stored as a single string. This should work with the say you are referencing `{{values}}` in your applicationset.

[2022-06-01 00:56] qxmips commented on #421
I also went away from appsets for this reason

[2022-06-03 14:28] arontsang opened #587 "Pull Request Generator: Add Support for Bitbucket"
Similar to https://github.com/argoproj/applicationset/issues/570, Bitbucket needs love too...

[2022-06-08 02:36] sgr-smile2015 opened #588 "repository not accessible"
argoCD version: v2.3.4+ac8b7df
{
    "Version": "v2.3.4+ac8b7df",
    "BuildDate": "2022-05-18T11:41:37Z",
    "GitCommit": "ac8b7df9467ffcc0920b826c62c4b603a7bfed24",
    "GitTreeState": "clean",
    "GoVersion": "go1.17.10",
    "Compiler": "gc",
    "Platform": "linux/amd64",
    "KsonnetVersion": "v0.13.1",
    "KustomizeVersion": "v4.4.1 2021-11-11T23:36:27Z",
    "HelmVersion": "v3.8.0+gd141

[2022-06-08 08:48] Hargeek opened #589 "Applicationset and Application belong to the same namespace"
I expect the application generated by applicationSet to use the same name, which requires it to be generated under a different namespace. Explain also has the namespace field

[code]

In fact, it can only be generated to the same namespace as applicationSet
An error is as follows

[code]

Indeed, the examples in the reference documentation do not use namespace

[2022-06-08 09:15] #588 closed

[2022-06-15 05:51] WillooWisp commented on #262
Is this supported in anyway now?

[2022-06-16 18:29] lbaschiera-tdh opened #590 "ApplicationSet remains in degraded state forever"
Hi all,

Little bit of context:
I have an ArgoCD installation that currently manages 3 clusters: Dev, Stage and Loadtest. Applications are first installed into Dev, and then promoted to Loadtest and Stage in the same step.
For each of them, I have an ApplicationSet that deploys the Helm charts contained in my configuration repository, with the following structure (Based on this [argo-cd issue](htt

[2022-06-24 12:31] Lp-Francois commented on #587
Hello!

to add some information:

Should be less work to do as it has been added as SCM generator recently with this [issue/PR](https://github.com/argoproj/applicationset/issues/459) :)

And a [PR](https://github.com/argoproj/applicationset/pull/506) from @mlosicki already exists with Bitbucket Server implementation for PR generator.

[2022-07-05 08:54] lacarvalho91 commented on #585
This was raised on the wrong repo.

[2022-07-05 08:54] #585 closed

[2022-07-05 14:35] rshiva777 opened #592 "applications created by applicationset are not recreating after manually deleting of application"
Steps:

1. Create an applicationset which creates application in the cluster which in-turn create resources
2. Delete the application that was created by applicationset manually from kubectl

**Outcomes:**
Actual:
application is not created by the applicationset

Expected:
application must be recreated by the applicationset

[2022-07-14 14:52] #592 closed

[2022-07-15 21:20] mgoodness opened #593 "ApplicationSet requeueAfterSeconds is being ignored"
We have several ApplicationSets defined with the git generator and have set requeueAfterSeconds to reduce the polling. The applicationset controller is logging the new setting but continues to poll every 3 minutes. We are running release 0.4.1 of the ApplicationSet Controller.

Logs
{"generator":{"git":{"repoURL":"git@github.mlbam.net:Test-Services/gitops-argocd.git","directories":[{"path":"releas

[2022-07-19 11:50] LeartBeqiraj commented on #262
Is this a supported feature now?

[2022-07-19 11:50] LeartBeqiraj commented on #236
Is this a supported feature now?

[2022-07-20 15:19] iamstarkov commented on #358
@crenshaw-dev yes, but kinda overkill with scanning for all the repos matching `repositoryMatch` and easy to get rate limited unless #565 which fixes credentials is implemented

[2022-07-20 15:28] iamstarkov opened #597 "scmProvider should provide slug version of branch name"
because when you use `{{branch}}` in `template.metadata.name` and your branch happened to have slash, like `feat/implement-a-new-feature` you will get an error `Invalid value: "feat/implement-a-new-feature": a lowercase RFC 1123 subdomain must consist of lower case alphanumeric characters, '-' or '.', and must start and end with an alphanumeric character (e.g. 'example.com', regex used for validat

[2022-07-20 15:47] #597 closed

[2022-07-20 15:47] iamstarkov commented on #597
its `{{branchNormalized}}`

[2022-07-26 17:48] rshiva777 opened #598 "Git generator with condition"
I am using git generator for deploying applications. I want to deploy an application on to a namespace only if the cluster has paticular labels matched, else ignore it

apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: bgd
  namespace: openshift-gitops
spec:
  generators:
  - git:
      repoURL: https://github.com/christianh814/gitops-examples
      revision: master
      fil

[2022-07-27 08:47] MXfive commented on #584
Also have a similar use case here.  I want to be able to more cleanly bridge the gap between Terraform and ArgoCD where Helm Releases (via ArgoCD Applications) need values (sometimes sensitive) from various places.

To be able to use this with `ApplicationSet`, we'd need to be able to pass in both a values file for each application, plus additional values which I'd compute from the previous values

[2022-07-28 19:37] #376 closed

[2022-08-03 23:45] #361 closed

[2022-08-08 16:03] rshiva777 commented on #598
can anyone look into this please?

[2022-08-08 17:31] rishabh625 commented on #598
Hi @rshiva777 try matrix generator it works perfectly for your usecase

[code]

[2022-08-09 08:06] rshiva777 commented on #598
To make it more clear, please find the below structure
`
i have the below directory structure

test-applicationset.yaml
cluster-configs
  -- clusterA.yaml
  -- clusterB.yaml

content of clusterA.yaml
cluster:
  name: 'dev-clusterA'
  address: 'https://api.devclusterA:6443'

content of clusterB.yaml
cluster:
  name: 'dev-clusterB'
  address: 'https://api.devclusterB:6443'

applicationset.yaml

apiV

[2022-08-09 08:36] rishabh625 commented on #598
Since you have added matchLabels app: test in cluster genrator nested inside matrix generator

Your applications will be deployed on cluster which has app: test label

Since in argocd cluster is stored as secret , secret matching label app:test will be selected for deployment by applicationset

[2022-08-09 08:50] rshiva777 commented on #598
Yes, but the application is deployed on the clusterB, where the label "app: test" is not added in the argocd secret.
This is not the expected case, application should deploy to cluster only which has label "app: test"

[2022-08-12 15:15] aslafy-z opened #600 "Cluster Resource Generator"
Add the ability to generate Applications from downstream cluster resources, eg:

[code]

[code]

[code]

ArgoCD should generate two applications from these resources.

[2022-08-13 13:31] nerzhul commented on #576
Hello, i just noticed this after enabling it in one of my lab on RPI, is this possible to fix this image ? :)

[2022-08-16 11:51] icicimov commented on #553
@toamto94 thanks for that! What a horrible bug, ended up with this ugliness for the git generator:
[code]

[2022-08-18 05:33] thomascube opened #601 "Webhooks: add support for Bitbucket"
There's already support for [Bitbucket (Server) Pull Request](https://argo-cd.readthedocs.io/en/stable/operator-manual/applicationset/Generators-Pull-Request/#bitbucket-server) generators but the webhooks sent by Bitbucket are not processed. They just end up with an response saying the webhook event is not supported.

In order to complete the support for Bitbucket as SCM provider, supporting their

[2022-08-22 16:57] barthy1 commented on #552
Unfortunately the mentioned workaround doesn't work for me with 2.4.10 . Any other suggestions?

[2022-08-23 16:23] bmedici commented on #276
Hello, still "working on it" or ApplicationSet are ready within GUI ?
Thanks

[2022-09-15 21:24] yoav-klein commented on #475
+1, I could use this feature also, any new about that?

[2022-09-16 16:29] ValentinoUberti commented on #173
Hi, is there any update?

[2022-09-19 08:22] manuelwallrapp commented on #601
We need the same feature as well.

[2022-09-19 18:13] nbjohnson commented on #570
Having support for a Gitlab generator would be very helpful in my deployment

[2022-09-22 08:16] hsharrison commented on #570
See here: https://github.com/argoproj/argo-cd/pull/9264#issuecomment-1125274276

It's implemented, just waiting for the next minor version release. In the meantime there are instructions to build it at the comment above.

(not an ArgoCD maintainer, just following the same trail as you and sharing what I found)

[2022-09-22 12:57] xavbourdeau commented on #415
I ended-up here... Maybe it can help: instead of using `...spec.destination.server` (URL of the kube endpoint) I should have use `...spec.destination.name" (name of the cluster registered in argocd)

[2022-09-22 13:04] nbjohnson commented on #570
@hsharrison That is a good catch, thanks for pointing that out. Good to know it will be in v2.5

[2022-10-03 17:13] dllegru opened #604 "Github rate limit hit, even using `scmProvider.filters`"
The setup we want to accomplish using scmProvider for Github, is the following:
- track a single repository
- track & generate applications only from certain branches from that repository

Our Github org has about 250 repositories. When using `scmProvider.github` with certain `scmProvider.filters` combinations to restrict the tracking to a single repository, argo is constantly sending Github api r

[2022-10-04 11:49] dllegru opened #605 "scmProvider Github filter combination (repositoryMatch + labelMatch) not generating apps"
We have a repository with a label created.

We are using `scmProvider` with filters `repositoryMatch` + `labelMatch`, 0 applications are being generated.

Reading the [Filters documentation](https://argocd-applicationset.readthedocs.io/en/stable/Generators-SCM-Provider/#filters) I understand this combination should be possible.

- scmProvider used
[code]
(setting `allBranches` to false doesn't mak

[2022-10-04 15:33] #604 closed

[2022-10-04 15:33] dllegru commented on #604
Closing for https://github.com/argoproj/argo-cd/issues/10788

[2022-10-04 15:39] dllegru commented on #605
Closing for https://github.com/argoproj/argo-cd/issues/10789

[2022-10-04 15:39] dllegru commented on #605
Closing for https://github.com/argoproj/argo-cd/issues/10789

[2022-10-04 15:39] #605 closed

[2022-10-14 11:11] ffendt commented on #362
That sounds like a nice feature! With the suggested implementation, would it also be possible to have something like an `all-parameters` flag?
It would allow to expand all parameters into the template, without needing to know a "root parameter". In the initial example the "root parameter" was `cluster.helmParameters`. I'd love, if it would be possible to remove that and directly injecting all gene

[2022-10-14 14:47] crenshaw-dev commented on #362
@ffendt that should be possible with `goTemplate: true` (a 2.5 feature) and `toJson` from the sprig library.

[2022-10-17 16:25] jpcosal opened #606 "Merge generator where a generator can reference items of another one"
Very much like what's been added for the Matrix generator [here](https://github.com/argoproj/argo-cd/pull/9080), it would be nice to have the same for the Merge generator.
Something like
[code]
Notice the `{{sha}}` reference in the second generator.

cf original issue for merge generator [here](https://github.com/argoproj/applicationset/issues/530)

This is currently not possible, if I'm not mista

[2022-10-21 21:26] manuelchichi commented on #552
We are having this issue in our company. What we want to achieve is to have two different repositories in which one is private and the other is public to a specific client. Then we allow this client to freely edit values in the public one (to only allow changes on image tags). Finally, using the merge generator with two git generators we join both repositories and substitute the values of the tags

[2022-10-23 01:35] glyhood commented on #488
I was able to achieve this by doing the following.

ApplicationSet:

[code]

And this is how my different yaml files with values looked like. I discarded the I discarded my parent App of Apps manifest and also the child application manifests too.
Unlike App of Apps which shows the parent app with its child apps in the UI, the ApplicationSet does not show in the UI, only the child apps show.

[code

[2022-10-25 13:59] jpcosal commented on #606
Reposting on https://github.com/argoproj/argo-cd

[2022-10-25 13:59] #606 closed

[2022-10-25 22:42] nmohoric commented on #589
Ran into this as well. It's surprising that the CRD does allow a namespace on the template but it doesn't appear to actually be used.
Sadly my golang isn't good enough to feel comfortable trying to fix this. Hopefully there's more interest out there to get this fixed.

[2022-10-26 22:54] renperez-cpi opened #608 "FATA[0000] rpc error: code = Unimplemented desc = unknown service applicationset.ApplicationSetService"
i am trying to use the latest argocd cli with appset to apply this applicationset but getting error when applying by running this command argocd appset create file.yaml
[code]
here is the sample application set.
[code]

[2022-10-27 18:30] #565 closed

[2022-10-30 17:55] #501 closed

[2022-11-02 21:26] joshuasimon-taulia commented on #552
i would like to iterate over a yaml list from a git file generator, but i can't get `{{releases}}`, `{{releases[0]}}`, `{{releases.0}}`, etc to render in the below example.
[code]

where releases in helmfile.yaml is
[code]

[2022-11-03 01:40] joshuasimon-taulia commented on #552
it looks like the [git file generator flattens the contents of maps/arrays](https://github.com/argoproj/applicationset/blob/de10506d8ff81970567381ef3f4dae4b76f50220/pkg/generators/git_test.go#L369-L409)
so basically,
[code]
will work, but it seems like printing the entire `'{{prometheus}}'` map or looping over a list the way i want to is impossible

[2022-11-03 05:47] ppratheesh commented on #475
I would like to use this scenario as well

[2022-11-07 21:22] granti4ka commented on #608
I had the same problem. I created AppSet. Everything works fine. But argocli give me the error for list, get, delete AppSet

[code]

[2022-11-16 08:38] adabuleanu commented on #361
Is this feature available from 2.3 release? Although the docs say 2.3, I could only find it in 2.5 release.

[2022-11-16 09:43] adabuleanu opened #609 "using helm and git repos inside ApplicationSet"
Hello. Is there a possibility to configure an ApplicationSet to create Applications with [helm](https://argo-cd.readthedocs.io/en/stable/user-guide/helm/) or [git](https://argo-cd.readthedocs.io/en/stable/operator-manual/declarative-setup/#applications) sources?

Example:
[code]
And parameters should look something like this (will be passed by generators):
[code]
My use case is that I am storing h

[2022-11-19 21:31] colossus-creator commented on #608
@granti4ka this is an issue with argocd-server. you need to upgrade to the latest version

[2022-11-21 19:43] reggie-k commented on #292
Also interested in this. The current workaround we are thinking of is having an AppSet per cluster, but it is not good enough, we would really to use one AppSet to install all apps on all clusters, having the freedom to exclude particular apps from particular clusters.

[2022-11-28 02:45] leotomas837 commented on #598
Any news on this ? @rishabh625 you matrix solution does not work, explanation below.

The typical directory structure for this issue is: one config file per cluster and one directory including all (root) charts per cluster too, with argocd apps always targeting HEAD (and avoid the ugliness and headaches of using git branches with argocd).
   In that case, let's say I want to deploy a new `chart` i

[2022-11-28 03:34] leotomas837 commented on #598
After checking, the merge generator is the solution to this problem. Simply set the cluster generator as parent, and the git generator as (only) child, merging on `server` for example and making sure that both secrets and configs pair match on `server` field.

The issue can be closed.

[2022-11-29 15:26] DjoleLepi commented on #468
Any updates on this?
For me this would simplify the definition of ApplicationSets a lot

[2022-11-29 15:36] crenshaw-dev commented on #468
@DjoleLepi I'm not sure if this PR was ever moved over to argoproj/argo-cd after applicationset was integrated with that repo.

[2022-11-29 15:55] rishabh625 commented on #468
No sorry its for scm generator  not git